//-------------------------------------------------------------------------------------------
// Mercer UX/UI Library - Core v2 - JQuery UI Date Picker Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-datepicker == true{

	.ui-datepicker		{
						@include border-radius($datepickerBorderRadius,all);
						@include box-shadow(0, 0, 5px, $datepickerShadowColor);
						width: 100%;
						z-index: $zindexDatepicker !important;
						max-width: 268px;
						margin-top: $datepickerMarginTop;
						padding: 10px 4px 5px 4px;
						background-color: $datepickerBackgroundColor;
						border: 1px solid $datepickerBorderColor;
						display: none;

		// DATEPICKER GLOBAL TABLE STYLES
		table				{
							width: 100%;
							border-collapse:  collapse;
							font-size: 14px;
							margin: 0;
			th					{
								background-color: $datepickerBackgroundColor;
								border: 1px solid $datepickerBorderColor;
								color: $datepickerThFontColor;
								padding: 7px 3px;
								text-align: center;
								}
			td					{
								padding: 0;
								text-align: center;
								border: 1px solid $datepickerBorderColor;
				a					{
									display:  block;
									padding: 7px;
									color: $datepickerLinkColor;
									text-decoration:  none;
									}
								}
							}

		// DATEPICKER HEADER
		.ui-datepicker-header
							{
							@include background-gradient($datepickerHdrBackgroundStartColor,$datepickerHdrBackgroundEndColor);
							@include border-radius($datepickerBorderRadius $datepickerBorderRadius 0 0,all);
							padding: $datepickerHdrPaddingTopBottom 0;
							font-size: $datepickerHdrFontSize;
							position: relative;
			.ui-icon			{
								text-indent:  -99999px;
								width: 6px;
								height: 9px;
								overflow:  hidden;
								background-repeat:  no-repeat;
								}

			// DATEPICKER NAVIGATION
			.ui-datepicker-prev,
			.ui-datepicker-next {
								position:  absolute;
								top:  2px;
								width:  29px;
								height:  29px;
								cursor:  pointer;
				span				{
									display:  block;
									position:  absolute;
									top:  62%;
									left:  67%;
									margin-left:  -8px;
									margin-top:  -8px;
									}
				&.ui-state-disabled
									{
									display: none;
									}
								}
			.ui-datepicker-prev	{
								left: 0;
				.ui-icon			{
									background:  url("../images/core/icons/arrow-blue-back.png") no-repeat top left;
									}
								}
			.ui-datepicker-next	{
								right: 0;
				.ui-icon			{
									background:  url("../images/core/icons/arrow-blue-next.png") no-repeat top right;
									}
								}

			// DATEPICKER TITLE
			.ui-datepicker-title
								{
								@include clearfix;
								margin:  0 2.3em;
								line-height:  1.8em;
								text-align:  center;
								font-family:  $proximaNovaSemiBoldStack;
								color: $datepickerHdrFontColor;
				select				{
									float: left;
									font-size: 14px;
									padding: 0;
									margin: 2px 0 3px 0;
									}
				select.ui-datepicker-month-year
									{
									width:  100%;
									}
				select.ui-datepicker-month,
				select.ui-datepicker-year
									{
									width:  49%;
									}
				select.ui-datepicker-year
									{
									float:  right;
									}
								}
							}

		// DATEPICKER CALENDAR
		.ui-datepicker-calendar
							{

			// CURRENTLY SELECTED DAY
			.ui-datepicker-current-day
								{
				.ui-state-active	{
									background-color: $datepickerCurrentDayBackgroundColor;
									font-family:  $proximaNovaSemiBoldStack;
									color: $datepickerCurrentDayFontColor;
									}
								}
			
			// TODAY					
			.ui-datepicker-today
								{
				.ui-state-highlight	{
									background-color: $datepickerTodayBackgroundColor;
									color: $datepickerTodayFontColor;
									font-family:  $proximaNovaSemiBoldStack;
									}
								}

			// DAY HOVER STATE
			.ui-state-hover		{
								background-color: $datepickerHoverBackgroundColor;
								}

			// UNSELECTABLE DAYS
			.ui-datepicker-unselectable
								{
								padding: 7px;
								color: $datepickerDisabledFontColor;
								background-color: $datepickerDisabledBackgroundColor;
								border: 1px solid $datepickerDisabledBorderColor;
								}
			
			// UNSELECTABLE DAYS WHEN THEN FALL IN OTHER MONTH IN SAME CALENDAR
			.ui-datepicker-other-month.ui-datepicker-unselectable
								{
								background-color: $datepickerBackgroundColor;
								border: 1px solid $datepickerBorderColor;
								}
							}

		// DATEPICKER ROW BREAK
		.ui-datepicker-row-break
							{
							clear: left;

			// DATEPICKER MESSAGE AREA
			.mul-datepicker-message
								{
				label				{
									display: inline-block;
									position:  relative;
									top:  -2px;
									font-family:  $baseFontFamily;
									font-size:  $datepickerMessageFontSize;
									line-height:  $datepickerMessageFontSize;
									color:  $datepickerMessageFontColor;
									background-color:  $datepickerMessageBackgroundColor;
									margin:  5px 6px 3px 6px;
									padding:  4px;
									}
								}
							}

		// DATEPICKER BUTTON PANE
		.ui-datepicker-buttonpane
							{
							@include clearfix;
							clear: left;
							padding-top: 7px;
							margin: 0 auto .5em;
							text-align:  center;
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS
	.ui-datepicker-multi
						{
						width: auto;
						max-width: 536px;
		.ui-datepicker-group
							{
							float: left;
			table 				{
								width: 95%;
								margin: 0 auto .4em;
								}
			.ui-datepicker-header
								{
								width: 95%;
								margin: 0 auto auto .4em;
								}
							}
		.ui-datepicker-group-middle
							{
			.ui-datepicker-header
								{
								border-left-width: 0;
								}
							}
		.ui-datepicker-group-last
							{
			.ui-datepicker-header
								{
								border-left-width: 0;
								}
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (2)					
	.ui-datepicker-multi-2
						{
		.ui-datepicker-group
							{
							width: 50%;
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (3)					
	.ui-datepicker-multi-3
						{
		.ui-datepicker-group
							{
							width: 33.3%;
							}
						}

	// DATEPICKER WITH MULTIPLE CALENDARS (4)					
	.ui-datepicker-multi-4
						{
		.ui-datepicker-group
							{
							width: 25%;
							}
						}

	// DATEPICKER ICON
	.ui-datepicker-trigger
						{
						position: relative;
						top: 4px;
						left: 3px;
						border: 0;
						float: left;
						}

	// DATEPICKER RANGE
	.mul-datepicker-range
						{
		label				{
							font-family: $baseFontFamily;
							float: left;
							line-height: 25px;
							}
		.mul-datepicker-range-sublabel-from
							{
							margin-right: 10px;
							}
		.mul-datepicker-range-sublabel-to
							{
							margin: 0 10px;
							}
		.mul-datepicker-range-input
							{
							margin-left:  0;
							}
						}
	.mul-datepicker-range-aligned
						{
		.mul-datepicker-range-sublabel-from
							{
							margin-left: $fluidGridColumnWidth;
							}				
						}

	// DATEPICKER IE8 FIXES
	.ie8				{
		.ui-datepicker		{
							border-color: $datepickerIE8BorderColor; // This provides a border for IE8 since it can not render a box-shadow
							}
						}

	// DATEPICKER IE9 FIXES
	.ie9				{
		.ui-datepicker		{
							border-radius: $baseBorderRadiusIE !important;
							}
						}

}//endif