//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v2.2 - Core Mini Filter Module Partial
// DATE - January 6, 2014
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-mini-filter == true{

	.mul-mini-filter						{
											@include clearfix;
											margin: 0 0 $miniFilterMarginBottom 0;
		dt,dd									{
												float:left;
												line-height: $miniFilterFontSize;
												}
		dt										{
												font-family: $proximaNovaSemiBoldStack;
												margin:0 $miniFilterLabelMarginRight 0 0;
												color: $miniFilterLabelFontColor;
												font-size: $miniFilterFontSize;
												}
		dd										{
												margin:0 $miniFilterItemMarginRight 0 0;
												border-right: $miniFilterItemSeperatorWidth $miniFilterItemSeperatorStyle $miniFilterItemSeperatorColor;
			a										{
													margin-right: $miniFilterItemMarginRight;
													font-weight: $miniFilterFontWeight;
													font-size: $miniFilterFontSize;
				&.active								{
														padding: $miniFilterActivePaddingTopBottom $miniFilterActivePaddingLeftRight;
														background-color: $miniFilterActiveBackgroundColor;
														color: $miniFilterActiveFontColor;
														text-decoration: none;
														cursor: default;
														}
													}
			&:last-child							{
													border-right:0;
													margin:0;
				a										{
														margin:0;
														}
													}
												}
											}

	.mul-mini-filter-dropdown				{
											margin-bottom: 3px;
											max-width: $miniFilterMaxWidth;
											}

	// MINI FILTER IE8 FIXES
	.ie8									{
		.mul-mini-filter						{
			.last-child								{
													border-right:0;
													margin:0;
				a										{
														margin:0;
														}
													}
												}
											}

	//=== MEDIA QUERIES =========================================================================

	// Portrait iPad, portrait tablets, Low-resolution laptops and desktops, Landscape iPad, laptops and desktops
	@if $use-medium-mediaquery == true or $use-large-mediaquery == true {
		
		@include media-query(screen, min, $mediumMediaQueryBreakpointMin, "") {

			.mul-mini-filter						{
													margin: 0;
				dt,dd									{line-height: $miniFilterFontSizeLargeBreakpoint;}
				dt										{font-size: $miniFilterFontSizeLargeBreakpoint;}
				dd										{
					a										{font-size: $miniFilterFontSizeLargeBreakpoint;}
														}
													}

			.mul-mini-filter-dropdown				{
													max-width: 100%;
													}

		}
		
	}// endif

}//endif