//-------------------------------------------------------------------------------------------
// Mercer UX/UI Libray - Core v1 - Base Helpers Partial
// DATE - July 15, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

//--- TYPE HELPERS --------------------------------------------------------------------------

// TEXT OVERFLOW
.text-overflow							{@include text-overflow;}


//--- PAGE ELEMENT HELPERS ------------------------------------------------------------------

// BASIC IMAGE STYLES
img										{
										max-width: 100%;

	&.left									{
											float: left;
											margin-top: 5px;
											margin-right: 20px;
											}
	&.right									{
											float: right;
											margin-top: 5px;
											margin-left: 20px;
											}
										}

// KEYLINES

// Use on elememts which need a keyline on the right
.mul-keyline-right						{
										padding-right: 20px;
										border-right:1px solid $keylineRightBorderRightColor;
	img										{margin-top:5px;}
										}

// Use on elements which need a keyline on the left
.mul-keyline-left						{
										padding-left: 20px;
										border-left: 1px solid $keylineLeftBorderLeftColor;
	img										{margin-top: 5px;}
										}

// Removes border on last keyline right
.mul-keyline-right.last					{border-right: 0;}

// Removes border and padding on first keyline left, make sure to add class of first
.mul-keyline-left.first					{
										border-left: 0;
										padding-left: 0;
										}

// KEYLINE MEDIA QUERIES

// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	// KEYLINES
	.mul-keyline-right,
	.mul-keyline-left					{
										padding-right:0;
										padding-left:0;
										border-right:0;
										border-left:0;
		img									{margin-top:0;}
										}

}


//--- LAYOUT HELPERS ------------------------------------------------------------------------

// HORIZONTAL CENTERING OF ELEMENTS

// HORIZONTAL CENTERING FOR INLINE ELEMENTS
// Apply class to containing element of element that needs to be centered horizontally
.mul-center-inline						{text-align: center;}

// HORIZONTAL CENTERING FOR BLOCK ELEMENTS
// Apply class to element that needs to be centered horizontally
.mul-center-block						{
										float: none !important;
										display: block !important;
										margin-right: auto !important;
										margin-left: auto  !important;
										}

// HIDE ELEMENTS
.mul-display-none						{display: none;}


// NO WHITE SPACE
.mul-no-wrap							{white-space: nowrap;}


// MARGIN ENABLERS/DISABLERS

// ADD MARGIN
.mul-margin-top							{margin-top:$baseMargin;}
.mul-margin-right						{margin-right:$baseMargin;}
.mul-margin-bottom						{margin-bottom:$baseMargin;}
.mul-margin-left						{margin-left:$baseMargin;}

// SUBTRACT MARGIN
.mul-no-margin-top						{margin-top:0;}
.mul-no-margin-right					{margin-right:0;}
.mul-no-margin-bottom					{margin-bottom:0;}
.mul-no-margin-left						{margin-left:0;}

// PADDING ENABLERS/DISABLERS

// ADD PADDING
.mul-padding-top						{padding-top:$basePadding;}
.mul-padding-right						{padding-right:$basePadding;}
.mul-padding-bottom						{padding-bottom:$basePadding;}
.mul-padding-left						{padding-left:$basePadding;}

// SUBTRACT PADDING
.mul-no-padding-top						{padding-top:0;}
.mul-no-padding-right					{padding-right:0;}
.mul-no-padding-bottom					{padding-bottom:0;}
.mul-no-padding-left					{padding-left:0;}

// TABLE COLUMN WIDTHS ADJUSTS
.mul-tbl-column-25						{width: #{tableColWidth(25)};}
.mul-tbl-column-33						{width: #{tableColWidth(33.3)};}
.mul-tbl-column-16						{width: #{tableColWidth(16.6)};}