{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<h1 class="mul-hdr-rule">{{ model.title }}</h1>

<p>
Icons can come in handy when you want enhance the visual aspect of your application or just simply use a visual instead of plain text. In order for users to recognize an icon's meaning, the meaning must be universal. To keep all mercer sites and applications consistent, we've listed the different Mercer icons used according their respective functions.  
</p>

<p>
Want to use an icon not found here? You can work with a Visual Designer to create a new icon that aligns to the Mercer brand and adheres to our visual standards. Contact <strong><a href="mailto:jeff.tudor@mercer.com">Jeff Tudor</a></strong> for more information.   
</p>

<article>
	<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" data-page-size="1000" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
		<caption>
			<div class="col-20 first">&nbsp;</div>
			<div class="col-4 mul-tbl-data-filter">
				<input id="filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
			</div>
		</caption>
		<thead>
			<tr>
				<th class="color-col"><a href="javascript:;">Example</a></th>
				<th><a href="javascript:;">Function</a></th>
				<th><a href="javascript:;">File Name</a></th>
				<th><a href="javascript:;">Size</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="assets/images/core/icons/add.png"></td>
				<td>Add a new item</td>
				<td>add.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/add-comment.png"></td>
				<td>Add a comment</td>
				<td>add-comment.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/add-comment-task.png"></td>
				<td>Add a comment to a task</td>
				<td>add-comment-task.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/approve-check.png"></td>
				<td>Signify a positive response</td>
				<td>approve-check.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/arrow-blue-back.png"></td>
				<td>Back arrow that allows the user to return to a previous view.</td>
				<td>arrow-blue-back.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/arrow-blue-next.png"></td>
				<td>Next or forward arrow that allows the user to progress to the next item or view.</td>
				<td>arrow-blue-next.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/arrow-blue-down.png"></td>
				<td>Down or expand arrow used to expand a view to display more information.</td>
				<td>arrow-blue-down.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/arrow-blue-up.png"></td>
				<td>Up or collapse arrow used to take the user to a "higher" view or to collapse a section of information.</td>
				<td>arrow-blue-up.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/asterisk-error.png"></td>
				<td>Required icon that is displayed on error condition for a required field.</td>
				<td>asterisk-error.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/asterisk-required.png"></td>
				<td>Required icon to denote a required field.</td>
				<td>asterisk-required.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/attach-document.png"></td>
				<td>Add a new document.</td>
				<td>attach-document.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/attention.png"></td>
				<td>Attention icon used to alert the user to some information that is being highlighted or to warn the user.</td>
				<td>attention.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/calendar.png"></td>
				<td>Calendar icon that invokes the date picker functionality.</td>
				<td>calendar.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/checklist-check.png"></td>
				<td>Green check icon that denotes a positive action or a completed state.</td>
				<td>checklist-check.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/checklist-edit-list.png"></td>
				<td>Edit icon that gives the user the ability to edit or modify data.</td>
				<td>checklist-edit-list.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/checklist-future-item.png"></td>
				<td>Green arrow that denotes a current or active step or link.</td>
				<td>checklist-future-item.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/close.png"></td>
				<td>Used to close a window, modal or menu.</td>
				<td>close.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/delegate-task.png"></td>
				<td>Delegate a task to another user.</td>
				<td>delegate-task.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/delete-comment.png"></td>
				<td>Delete an existing comment.</td>
				<td>delete-comment.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/delete-level.png"></td>
				<td>Delete icon used to delete an item or level.</td>
				<td>delete-level.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/delete-item.png"></td>
				<td>Delete icon used to delete an item or level.</td>
				<td>delete-item.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/delete-service.png"></td>
				<td>Used to close a window, modal or menu.</td>
				<td>delete-service.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/dropdown-menu-arrow.png"></td>
				<td>Green arrow icon used in the drop down control to give users access to various options.</td>
				<td>dropdown-menu-arrow.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/edit.png"></td>
				<td>Edit a document or data.</td>
				<td>edit.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/edit-comment.png"></td>
				<td>Edit an existing comment.</td>
				<td>edit-comment.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/email.png"></td>
				<td>Email icon used in association with the display of an email address or the ability to send an email.</td>
				<td>email.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/exclamation-red.png"></td>
				<td>Exclamation icon used with the error Message container to inform the user that an error has occured.</td>
				<td>exclamation-red.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/expand-arrow-close.png"></td>
				<td>Collapse icon used with the drop down control to allow the user to close or collapse a menu.</td>
				<td>expand-arrow-close.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/expand-arrow-open.png"></td>
				<td>Expand icon used with the drop down control to allow the user to open or expand a menu.</td>
				<td>expand-arrow-open.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/expand-bullet-collapse.png"></td>
				<td>description.</td>
				<td>expand-bullet-collapse.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/expand-bullet-open.png"></td>
				<td>description.</td>
				<td>expand-bullet-open.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/export.png"></td>
				<td>Export data into an Excel file or open an Excel file.</td>
				<td>export.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/export-small.png"></td>
				<td>description.</td>
				<td>export-small.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/filter-arrow-bullet-down.png"></td>
				<td>description.</td>
				<td>filter-arrow-bullet-down.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/filter-arrow-bullet-up.png"></td>
				<td>description.</td>
				<td>filter-arrow-bullet-up.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/flag-empty.png"></td>
				<td>description.</td>
				<td>flag-empty.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/flag-filled.png"></td>
				<td>description.</td>
				<td>flag-filled.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/flag-green.png"></td>
				<td>description.</td>
				<td>flag-green.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/header-profile-arrow.png"></td>
				<td>description.</td>
				<td>header-profile-arrow.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/header-user-profile-img.png"></td>
				<td>description.</td>
				<td>header-user-profile-img.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/home-dark.png"></td>
				<td>description.</td>
				<td>home-dark.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/home-light.png"></td>
				<td>description.</td>
				<td>home-light.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-client-large.png"></td>
				<td>description.</td>
				<td>icon-client-large.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-client-small.png"></td>
				<td>description.</td>
				<td>icon-client-small.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-status-complete.png"></td>
				<td>description.</td>
				<td>icon-status-complete.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-status-escalated.png"></td>
				<td>description.</td>
				<td>icon-status-escalated.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-status-future.png"></td>
				<td>description.</td>
				<td>icon-status-future.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/icon-status-open.png"></td>
				<td>description.</td>
				<td>icon-status-open.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/implementation.png"></td>
				<td>description.</td>
				<td>implementation.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/implementation-small.png"></td>
				<td>description.</td>
				<td>implementation-small.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/info.png"></td>
				<td>description.</td>
				<td>info.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/open-pencil.png"></td>
				<td>description.</td>
				<td>open-pencil.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-active-first.png"></td>
				<td>description.</td>
				<td>pag-active-first.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-active-last.png"></td>
				<td>description.</td>
				<td>pag-active-last.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-active-next.png"></td>
				<td>description.</td>
				<td>name.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-active-prev.png"></td>
				<td>description.</td>
				<td>name.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-inactive-first.png"></td>
				<td>description.</td>
				<td>name.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-inactive-last.png"></td>
				<td>description.</td>
				<td>name.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-inactive-next.png"></td>
				<td>description.</td>
				<td>pag-inactive-next.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pag-inactive-prev.png"></td>
				<td>description.</td>
				<td>pag-inactive-prev.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/pdf.png"></td>
				<td>description.</td>
				<td>pdf.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/phone.png"></td>
				<td>description.</td>
				<td>phone.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/policy.png"></td>
				<td>Large icon to denote a policy. Usually is displayed in the policy header.</td>
				<td>policy.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/policy-bullet.png"></td>
				<td>Smaller icon to denote a policy. Usually used when displaying policies in a list or a grid.</td>
				<td>policy-bullet.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/print.png"></td>
				<td>Printer icon used to inform the user that they can print the view.</td>
				<td>print.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/reassign-task.png"></td>
				<td>Task icon that is used to denote the ability to re-assign a task.</td>
				<td>reassign-task.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/renewal.png"></td>
				<td>Large icon to denote a renewal. Usually is displayed in the renewal header.</td>
				<td>renewal.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/renewal-small.png"></td>
				<td>Smaller icon to denote a renewal. Usually used when displaying renewals in a list or a grid.</td>
				<td>renewal-small.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/report-bullet.png"></td>
				<td>DEPRECATED???</td>
				<td>report-bullet.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/report-go.png"></td>
				<td>DEPRECATED???</td>
				<td>report-go.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-active-subscriber-employee.png"></td>
				<td>Generic user icon for an active or current user.</td>
				<td>user-active-subscriber-employee.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-connector.png"></td>
				<td>Connector icon that denotes a relationship or connection between items or files.</td>
				<td>user-connector.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-dependent.png"></td>
				<td>Generic user icon used to denote a dependent to a primary user.</td>
				<td>user-dependent.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-generic.png"></td>
				<td>Generic user icon to be used when user image is not available. Can also denote an Inactive user.</td>
				<td>user-generic.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-primary.png"></td>
				<td>DEPRECATED???</td>
				<td>user-primary.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-secondary.png"></td>
				<td>DEPRECATED???</td>
				<td>user-secondary.png</td>
				<td>16x16</td>
			</tr>
			<tr>
				<td><img src="assets/images/core/icons/user-termed.png"></td>
				<td>Generic user icon for a Termed. Can also be used to denote when an error condition occurs at a user level.</td>
				<td>user-termed.png</td>
				<td>16x16</td>
			</tr>
			
			
		</tbody>
	</table>

</article>
{% endblock %}