{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>There are two button styles: Primary and Secondary.</p>
				<ul>
					<li><strong>Primary Button</strong> - used for the primary action on the page. There is usually only one Primary Button on a screen in order to avoid user confusion. The Primary Button is essentially the "single most important" call-to-action you want the user to take. Multiple primary buttons will confuse the user and should be avoided.</li>
					<li><strong>Secondary Button</strong> - Designed to be visually offset from the Primary button. There can be more than one Secondary Button on a screen. Secondary Buttons are essentially additional options the user has on the page, just not the "primary call-to-action."</li>
				</ul>
			</div>
			<div id="tabs-2">
			<p>Buttons are different than links as links take you to another page, and therefore they have different uses. Buttons should be used for the following:
			</p>
			
				<ul>
					<li>As navigation in a multi-step flow (user will be going through a process or a wizard).</li>
					<li>To save data entered on a form </li>
					<li>As a click event action to invoke another interaction on the page. For example, toggling content, hiding and showing content, sliding a panel, etc.</li>
				</ul>
			</div>
			<div id="tabs-3">
				<ul>
					<li>Each button has 4 states: static, hover, active, and loading (optional).</li>
					<li>In the optional "loading" state, the button should be disabled to prevent the user from clicking multiple times. When this occurs, the button should also change style to also look like it's in a disabled state.</li>
					<li>Buttons are entirely created with CSS. No images should be used.</li>
					
					<li>Buttons used as "links" and buttons used with "forms" should look the same, but the functions can differ. For instance, you can make a link look like a button, but it will not have the "submit" function of a button with type of "submit."</li>
					<li>The buttons should be able to be aligned to one another horizontally for consistency of Mercer branding. </li>
				</ul>
				
				<h5>Width</h5>
				<ul>
					<li>Each button should have a <strong>minimum width of 100 pixels</strong>, but they can expand to match content length if needed.</li>
					<li>The final width of the button should be dynamic based on the content inside the button.</li>
				</ul>
					
				<h5>Labels</h5>
					<ul>
						<li>Button text should be a concise specific call to action.</li>
						<li>Button text should Title Case - except in the "loading" state where lowercase is used to visually offset this state from the others</li>
					</ul>
					
					
				<h5>Primary Buttons are:</h5>
				<ul>
					<li>Green gradient in default state</li>
					<li>Green gradient in active state</li>
					<li>Green gradient in hover state</li>
					<li>Green solid in loading state (text must also display "loading")</li>
				</ul>
				
				<h5>Secondary Buttons are:</h5>
				<ul>
					<li>Grey gradient in default state</li>
					<li>Grey gradient in active state</li>
					<li>Grey gradient in hover state</li>
					<li>Light grey solid in loading state (text must also display "loading")</li>
				</ul>

			</div>
			<div id="tabs-4">
				<h5>Cross Browser Compatibility</h5>
				<p>IE9 doesn't crop background gradients on rounded corners, so we square the corners of the button and it looks just like IE8. Related, with "Loading" buttons, IE8+9 jankifies disabled button elements, rendering text gray with a nasty text-shadow that we cannot fix.</p>
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Dependencies</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="" scope="col">Library</th>
						<th width="" scope="col">Location or Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>jQuery 1.10.2</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</section>
	<section class="col-16">
		
		<div class="col-24">

			<h4 class="mul-hdr-rule">Default Buttons</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="140" scope="col">Button</th>
						<th width="350" scope="col">Class=""</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="" name="" value="" tabindex="" type="" title="Primary">Primary</button>
						</td>
						<td>mul-btn mul-btn-medium mul-btn-primary</td>
						<td>Provides extra visual weight and identifies the primary action in a set of buttons</td>
					</tr>
					<tr>
						<td>
							<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" name="" tabindex="" title="Secondary">Secondary</a>
						</td>
						<td>mul-btn mul-btn-medium</td>
						<td>Standard gray button with gradient</td>
					</tr>
				</tbody>
			</table>

			<h4 class="mul-hdr-rule">Interactive Buttons</h4>
			<p>This functionality provides feedback for a button when loading page or data. Also disables the button so it can not be clicked multiple times during load.</p>

			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="140" scope="col">Button</th>
						<th width="350" scope="col">Class=""</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first js-mul-btn-loading" id="" name="" value="" tabindex="" type="" title="Save">Save</button>
						</td>
						<td>mul-btn mul-btn-medium mul-btn-primary js-mul-btn-loading</td>
						<td>Provides extra visual weight and identifies the primary action in a set of buttons</td>
					</tr>
					<tr>
						<td>
							<button class="mul-btn mul-btn-medium mul-btn-first js-mul-btn-loading" id="" name="" value="" tabindex="" type="" title="Back">Back</button>
						</td>
						<td>mul-btn mul-btn-medium js-mul-btn-loading</td>
						<td>Standard gray button with gradient</td>
					</tr>
				</tbody>
			</table>
			
			<h4 class="mul-hdr-rule">Multi Step Example</h4>
			<p>In cases where buttons are used within a multi-step flow, the common combination of buttons is as follows: "Cancel" first, followed by "Back", followed by whatever the primary action is ("Next", "Save", "Review", etc).</p>
			
			<!-- BUTTONS - EXAMPLE - BEGINS -->
			<div class="col-24">
				<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" name="" tabindex="" title="Cancel">Cancel</a>
				<a class="mul-btn mul-btn-medium" id="" href="" name="" tabindex="" title="Back">Back</a>
				<button class="mul-btn mul-btn-medium mul-btn-primary js-mul-btn-loading" id="" name="" value="" tabindex="" type="" title="Save">Save</button>
			</div>
			<!-- BUTTONS - EXAMPLE - ENDS -->
			
			<br />
			
			<h4 class="mul-hdr-rule">Minimum Width</h4>
			<p>Each button has a minimum width of 100 pixels. This ensures consistency mul-even in cases where the label text is really short.</p>
			
			<!-- BUTTONS - EXAMPLE - BEGINS -->
			<div class="col-24">
				<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" name="" tabindex="" title="Back">Back</a>
				<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" tabindex="" type="" title="Go">Go</button>
			</div>		
			<!-- BUTTONS - EXAMPLE - ENDS -->
			
			<br />
			
			<h4 class="mul-hdr-rule">Long Text</h4>
			<p>The buttons are content aware, and the width of the button should be dynamic based on the label text.</p>
			
			<!-- BUTTONS - EXAMPLE - BEGINS -->
			<div class="col-24">
				<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="" name="" value="" tabindex="" type="" title="Title Case Button With Alot Of Text">Title Case Button With Alot Of Text</button>
			</div>
			<!-- BUTTONS - EXAMPLE - ENDS -->

		</div>

		<!--
		<h4 class="mul-hdr-rule">Button Sizes</h4>
		<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
			<thead>
				<tr>
					<th scope="col">Size</th>
					<th scope="col">Class=""</th>
					<th scope="col">Demo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>xxx-small</td>
					<td>mul-btn mul-btn-xxx-small</td>
					<td>
						<a class="mul-btn mul-btn-xxx-small mul-btn-first" id="" href="" name="" tabindex="" title="xxx-small">xxx-small</a>
						<button class="mul-btn mul-btn-xxx-small mul-btn-primary" id="" name="" value="" tabindex="" type="" title="xxx-small">xxx-small</button>
					</td>
				</tr>
				<tr>
					<td>xx-small</td>
					<td>mul-btn mul-btn-xx-small</td>
					<td>
						<a class="mul-btn mul-btn-xx-small mul-btn-first" id="" href="" name="" tabindex="" title="xx-small">xx-small</a>
						<button class="mul-btn mul-btn-xx-small mul-btn-primary" id="" name="" value="" tabindex="" type="" title="xx-small">xx-small</button>
					</td>
				</tr>
				<tr>
					<td>x-small</td>
					<td>mul-btn mul-btn-x-small</td>
					<td>
						<a class="mul-btn mul-btn-x-small mul-btn-first" id="" href="" name="" tabindex="" title="x-small">x-small</a>
						<button class="mul-btn mul-btn-x-small mul-btn-primary" id="" name="" value="" tabindex="" type="" title="x-small">x-small</button>
					</td>
				</tr>
				<tr>
					<td>small</td>
					<td>mul-btn mul-btn-small</td>
					<td>
						<a class="mul-btn mul-btn-small mul-btn-first" id="" href="" name="" tabindex="" title="small">small</a>
						<button class="mul-btn mul-btn-small mul-btn-primary" id="" name="" value="" tabindex="" type="" title="small">small</button>
					</td>
				</tr>
				<tr>
					<td>medium</td>
					<td>mul-btn mul-btn-medium</td>
					<td>
						<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" name="" tabindex="" title="medium">medium</a>
						<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" tabindex="" type="" title="medium">medium</button>
					</td>
				</tr>
				<tr>
					<td>large</td>
					<td>mul-btn mul-btn-large</td>
					<td>
						<a class="mul-btn mul-btn-large mul-btn-first" id="" href="" name="" tabindex="" title="large">large</a>
						<button class="mul-btn mul-btn-large mul-btn-primary" id="" name="" value="" tabindex="" type="" title="large">large</button>
					</td>
				</tr>
				<tr>
					<td>x-large</td>
					<td>mul-btn mul-btn-x-large</td>
					<td>
						<a class="mul-btn mul-btn-x-large mul-btn-first" id="" href="" name="" tabindex="" title="x-large">x-large</a>
						<button class="mul-btn mul-btn-x-large mul-btn-primary" id="" name="" value="" tabindex="" type="" title="x-large">x-large</button>
					</td>
				</tr>
				<tr>
					<td>xx-large</td>
					<td>mul-btn mul-btn-xx-large</td>
					<td>
						<a class="mul-btn mul-btn-xx-large mul-btn-first" id="" href="" name="" tabindex="" title="xx-large">xx-large</a>
						<button class="mul-btn mul-btn-xx-large mul-btn-primary" id="" name="" value="" tabindex="" type="" title="xx-large">xx-large</button>
					</td>
				</tr>
				<tr>
					<td>xxx-large</td>
					<td>mul-btn mul-btn-xxx-large</td>
					<td>
						<a class="mul-btn mul-btn-xxx-large mul-btn-first" id="" href="" name="" tabindex="" title="xxx-large">xxx-large</a>
						<button class="mul-btn mul-btn-xxx-large mul-btn-primary" id="" name="" value="" tabindex="" type="" title="xxx-large">xxx-large</button>
					</td>
				</tr>
			</tbody>
		</table>
		-->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}