{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					The Modal Window provides information to the user that supplements or impacts the current site or application page. Examples of Modal Windows include a small window popping up to allow for editing data on a form, a separate window providing more details for the current entity, or using a mini "wizard" flow to present separate information.
				</p>
				<p>
					A Modal Window is different from a Pop-Up Window because it actually disables the page behind it and only allows the user access to the content in the Modal Window until the required action is complete or the user chooses to close out of the Modal Window. 
				</p>


				At Mercer, we use three different Modal Windows:
				<ul>
					<li>
						Default with short content
						<ul>
							<li>The height of this Modal Window is content aware and will adapt based on the amount of dialogue content.</li> 
							<li>When you hit that max content height of 530, the Scrolling Mechanism feature is activated.</li>
							<li>The headline section is not considered part of the content dialogue. </li>
						</ul>
					</li>
					<li>
						Default with long content (Auto Scrolling)
						<ul>
							<li>Once the content in the Modal Window hits the content area max height, the Auto Scrolling feature is automatically activated.</li>
							<li>The user must scroll through the content to get to the Modal Window buttons.</li>
						</ul>
					</li>
					<li>
						Default with long content and fixed buttons (Auto Scrolling)
						<ul>
							<li>This version is similar to the above Modal Window, but it includes buttons that are fixed in a footer near the end of the Window, not directly after the content.</li> 
							<li>The user doesn’t have to scroll through all the content in order to access the buttons.</li>
						</ul>
					</li>
				</ul>

			</div>
			<div id="tabs-2">
				<p>
					You can use the Modal Window when you need to provide information to the user that supplements or impacts the current page the user is viewing. For example, the user needs to edit a specific section on a form or complete a separate task. Modal Windows also work well if an animation or video needs to be shown.
				</p>
				<p>
					<strong>Modal Window with Fixed Buttons</strong><br>
					A Modal Window with fixed buttons is great when you have a lot of content that needs to be displayed, but you want the user to be able to access the buttons without having to scroll through the entire block of content first. This type of Modal Window works well if the user has to accept terms or conditions before moving on with filing out a form or completing a required action.  
				</p>
			</div>
			<div id="tabs-3">
				<ul>
					<li>When the Modal Window is activated, the rest of the screen (the content/page behind it) is disabled.</li>
					<li>By default, the user can drag the Modal Window to any location on the page. This feature can be turned on or off by the designer if desired.</li> 
					<li>
						The Modal Window height is variable as it is dependent on content, but it does have a max height of 600 pixels.
						<ul>
							<li>Modal Windows with fixed buttons have a max height of 648 pixels.</li>
						</ul>
					</li>
					<li>
						The Auto Scrolling feature has fixed components:
						<ul>
							<li>This feature is enabled when the content area of the Modal Window reaches the max height of 300 pixels.</li>
							<li>The Scrollbar will be visible to user while content loads.</li>
						</ul> 
					</li>
					<li>
						The Modal Window width is variable, but it does have default of 500 pixels.
						<ul>
							<li>The designer can override default width value in the JS code to adapt to page design, page space, or Modal Window purpose.</li>
						</ul>
					</li>
					<li>
						Modal Windows will contain buttons since the user will have to take an action.
						<ul>
							<li>Follow Mercer Button protocol for colors and functions.</li>
							<li>Buttons can be fixed in the Modal Window or included as part of the content as described above.</li>
							<li>Save or Cancel Buttons will have the functionality to close the Modal Window once the user completes the required task.</li>
							<li>Fixed buttons are jQuery UI controls.</li>
						</ul>
					</li>
					<li>
						Modal Windows will contain the “close” icon (white circle with a blue X inside) so the user can close the window once the required task is completed.
					</li>
				</ul>


			</div>
			<div id="tabs-4">
				<h5>Cross browser compatibility</h5>
				<p>IE9 doesn't crop background gradients on containers with rounded corners, so we square the corners of every container so it looks just like IE8.</p>
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Dependencies</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="" scope="col">Library</th>
						<th width="" scope="col">Location or Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>jQuery 1.10.2</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
					<tr>
						<td>jQuery UI 1.10.3</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
					<tr>
						<td>jScrollPane 2.0.16</td>
						<td>assets/scripts/core_v2/lib/jquery/plugins</td>
					</tr>
					<tr>
						<td>jQuery Mouse Wheel 3.1.3</td>
						<td>assets/scripts/core_v2/lib/jquery/plugins</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Default with short content</h4>

		<!-- MODAL WINDOW - SHORT CONTENT - EXAMPLE - BEGINS -->
		<div class="col-24">
			
			<!-- Modal dialog open mul-event button -->
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-modal-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

			<!-- Modal dialog source element -->
			<div id="js-mul-dialog-modal-example" class="mul-dialog-ctn mul-grid" title="Modal Title">
				<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label class="col-10 first" for="">Basic Text Input:</label>
								<input class="col-14" id="" name="" value="" tabindex="" autofocus="autofocus" type="text" title="" />
							</li>
							<li>
								<label class="col-10 first" for="">Label:</label>
								<select class="col-14" id="" tabindex="">
									<option selected="selected" value="Select an item">choose one...</option>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
								</select>
							</li>
							<li>
								<label class="mul-radio-label col-10 first" for="">Label Posed as a Question?</label>
								<div class="mul-radio col-14">
									<label for="question1" class="mul-form-inline-element">
										<input name="question" type="radio" id="question1" tabindex=""> Yes
									</label>

									<label for="question2" class="mul-form-inline-element">
										<input name="question" type="radio" id="question2" tabindex=""> No
									</label>
								</div>
							</li>
							<li>
								<label class="mul-checkbox-label col-10 first" for="">Year:</label>
								<div class="mul-checkbox col-14">
									<label for="2009" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2009" tabindex=""> 2009
									</label>

									<label for="2010" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2010" tabindex=""> 2010
									</label>

									<label for="2011" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2011" tabindex=""> 2011
									</label>

									<label for="2012" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2012" tabindex=""> 2012
									</label>
								</div>
							</li>
							<li>
								<hr />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam.</p>
							</li>
							<li class="mul-form-action">
								<button class="mul-btn mul-btn-medium mul-btn-first js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Cancel">Cancel</button>
								<button class="mul-btn mul-btn-medium js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" disabled="disabled" title="Disabled">Disabled</button>
								<button class="mul-btn mul-btn-medium js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Cancel"><strong>HTML</strong> example</button>
								<button class="mul-btn mul-btn-medium mul-btn-primary js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Save">Save</button>
							</li>
						</ol>
					</fieldset>
				</form>
			</div>

		</div>
		<!-- MODAL WINDOW - SHORT CONTENT - EXAMPLE - ENDS -->

		<br />

		<h4 class="mul-hdr-rule">Default with long content (auto scrolling)</h4>

		<!-- MODAL WINDOW - DEFAULT WITH LONG CONTENT - EXAMPLE - BEGINS -->
		<div class="col-24">
			
			<!-- Modal dialog open mul-event button -->
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-modal-long-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

			<!-- Modal dialog source element -->
			<div id="js-mul-dialog-modal-long-example" class="mul-dialog-ctn mul-grid" title="Modal Title">
				<p>Modal window content text goes here&hellip;</p>
				<div class="col-24">
					<form class="mul-form mul-form-inline mul-no-margin-bottom" id="" name="" method="" action="" title="">
						<fieldset>
							<ol>
								<li>
									<label class="col-10 first" for="">Basic Text Input:</label>
									<input class="col-14" id="" name="" value="" tabindex="" autofocus="autofocus" type="text" title="" />
								</li>
								<li>
									<label class="col-10 first" for="">Label:</label>
									<select class="col-14" id="" tabindex="">
										<option selected="selected" value="Select an item">choose one...</option>
										<option>One</option>
										<option>Two</option>
										<option>Three</option>
									</select>
								</li>
								<li>
									<label class="mul-radio-label col-10 first" for="">Label Posed as a Question?</label>
									<div class="mul-radio col-14">
										<label for="question1" class="mul-form-inline-element">
											<input name="question" type="radio" id="question1" tabindex=""> Yes
										</label>

										<label for="question2" class="mul-form-inline-element">
											<input name="question" type="radio" id="question2" tabindex=""> No
										</label>
									</div>
								</li>
								<li>
									<label class="mul-checkbox-label col-10 first" for="">Year:</label>
									<div class="mul-checkbox col-14">
										<label for="2009" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2009" tabindex=""> 2009
										</label>

										<label for="2010" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2010" tabindex=""> 2010
										</label>

										<label for="2011" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2011" tabindex=""> 2011
										</label>

										<label for="2012" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2012" tabindex=""> 2012
										</label>
									</div>
								</li>
								<li>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
								<li>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
								<li>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
								<li class="mul-form-action">
									<button class="mul-btn mul-btn-medium mul-btn-first js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Cancel">Cancel</button>
									<button class="mul-btn mul-btn-medium js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" disabled="disabled" title="Disabled">Disabled</button>
									<button class="mul-btn mul-btn-medium js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Cancel"><strong>HTML</strong> example</button>
									<button class="mul-btn mul-btn-medium mul-btn-primary js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Save">Save</button>
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</div>

		</div>
		<!-- MODAL WINDOW - DEFAULT WITH LONG CONTENT - EXAMPLE - ENDS -->

		<br />

		<h4 class="mul-hdr-rule">Default with long content and fixed buttons (auto scrolling)</h4>

		<!-- MODAL WINDOW - DEFAULT WITH LONG CONTENT AND FIXED BUTTONS - EXAMPLE - BEGINS -->
		<div class="col-24">
			
			<!-- Modal dialog open mul-event button -->
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-modal-long-fixed-buttons-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

			<!-- Modal dialog source element -->
			<div id="js-mul-dialog-modal-long-fixed-buttons-example" class="mul-dialog-ctn mul-grid" title="Modal Title">
				<p>Modal window content text goes here&hellip;</p>
				<div class="col-24">
					<form class="mul-form mul-form-inline mul-no-margin-bottom" id="" name="" method="" action="" title="">
						<fieldset>
							<ol>
								<li>
									<label class="col-10 first" for="">Basic Text Input:</label>
									<input class="col-14" id="" name="" value="" tabindex="" autofocus="autofocus" type="text" title="" />
								</li>
								<li>
									<label class="col-10 first" for="">Label:</label>
									<select class="col-14" id="" tabindex="">
										<option selected="selected" value="Select an item">choose one...</option>
										<option>One</option>
										<option>Two</option>
										<option>Three</option>
									</select>
								</li>
								<li>
									<label class="mul-radio-label col-10 first" for="">Label Posed as a Question?</label>
									<div class="mul-radio col-14">
										<label for="question1" class="mul-form-inline-element">
											<input name="question" type="radio" id="question1" tabindex=""> Yes
										</label>

										<label for="question2" class="mul-form-inline-element">
											<input name="question" type="radio" id="question2" tabindex=""> No
										</label>
									</div>
								</li>
								<li>
									<label class="mul-checkbox-label col-10 first" for="">Year:</label>
									<div class="mul-checkbox col-14">
										<label for="2009" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2009" tabindex=""> 2009
										</label>

										<label for="2010" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2010" tabindex=""> 2010
										</label>

										<label for="2011" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2011" tabindex=""> 2011
										</label>

										<label for="2012" class="mul-form-inline-element">
											<input name="" type="checkbox" id="2012" tabindex=""> 2012
										</label>
									</div>
								</li>
								<li>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
								<li>
									<hr />
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
								<li>
									<hr />
									<p class="mul-no-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lobortis orci, ut dapibus felis condimentum convallis. Vestibulum erat magna, dictum ut aliquet ac, accumsan eu erat. Vestibulum euismod magna id auctor adipiscing. Proin eu neque eget urna suscipit tempus. Donec convallis urna et tempus tristique. Donec dictum bibendum eros, eleifend hendrerit odio facilisis et. Nullam quis lobortis sapien. Nulla eleifend sagittis eleifend. Vivamus massa nulla, hendrerit ac arcu vitae, vulputate ornare quam. Phasellus sit amet nunc sed nisi consequat placerat. Suspendisse commodo, eros at pretium viverra, magna quam tempor dolor, nec venenatis quam augue sed quam. In dictum libero et sodales varius.</p>
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</div>

		</div>
		<!-- MODAL WINDOW - DEFAULT WITH LONG CONTENT AND FIXED BUTTONS - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}