{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Description go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Dependencies</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="" scope="col">Library</th>
						<th width="" scope="col">Location or Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>jQuery 1.10.2</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
					<tr>
						<td>jScrollPane 2.0.16</td>
						<td>assets/scripts/core_v2/lib/jquery/plugins</td>
					</tr>
					<tr>
						<td>jQuery Mouse Wheel 3.1.3</td>
						<td>assets/scripts/core_v2/lib/jquery/plugins</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<!-- [INSERT UI COMPONENT NAME] - EXAMPLE - BEGINS -->
			<div class="mul-scroll-pane js-mul-scroll-pane js-mul-scroll-pane-example">
				{{ 15 | lorem_ipsum:'p' }}
			</div>
		<!-- [INSERT UI COMPONENT NAME] - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}