{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>This control allows the user to select a specific date range using the Calendar component. </p>

			
			</div>
			<div id="tabs-2">
				<p>The Calendar Date Range control is needed when the application requires the user to select a date range, usually in the form of a "From/Start" date and a "To/End" date. </p>
			</div>
			<div id="tabs-3">
				<p>When the user opens the Calendar Date Range control, it automatically defaults to a 2-month range with the current and next month showing. Users can click on the arrows to find the month they need.</p>
				
				<h5>Invoking the Control</h5>
				<p>The graphical 2-month calendar can be opened in 4 ways:</p>
				
				<ul>
					<li>Clicking on the calendar label ("Date")</li>
					<li>On focus of the calendar input box</li>
					<li>Clicking the calendar input box</li>
					<li>Clicking the calendar icon</li>
				</ul>

				<p>Date format is configurable to M/D/YYYY (The preceding 0 on months and days is not needed, and both will work with either single or double digits. However, years must include all 4 digits).</p>
				<p>Dates must use /s, not -s. </p>
				<p>Selecting a date inserts the chosen date into the text field and closes the control.</p>
				<p>Calendar Range inputs are configured to only accept numbers, not letters.</p>
				<p>Each calendar should navigate user to the desired date as it is typed in the text field. </p>
				<p>The Calendar Date Range control is configured in the coding. The designer can select the minimum and maximum search dates.</p>
				<p>If a user tries to search beyond the pre-determined minimum and maximum dates, the calendar will automatically go to the first (or last) possible date it can access.</p>
				<p>Calendar icon can be found on the <a href="icons"> list of Icons</a>.</p>
				
				<h5>Related Components</h5>
				<p>Calendar Date Range will work with any of the Mercer Forms (see examples):</p>

				<ul>
					<li><a href="form-stacked">Stacked</a></li>
					<li><a href="inline">Inline</a></li>
					<li><a href="form-multi-col-stacked">Multi-Column Stacked</a> </li>
					<li><a href="form-compact">Compact</a></li>
				</ul>
				
				<h5>Visual Formatting</h5>
				<p>The visual formatting for this component is identical to the formatting on the <a href="comp-calendar">Calendar</a> control.

			</div>
			<div id="tabs-4">
				<h5>Cross Browser Compatibility</h5>
				<p>IE9 doesn't crop background gradients on containers with rounded corners, so we square the corners of every container so it looks just like IE8.</p>
				
				<p>Our Calendar feature is a jQuery UI control by the name of Date Picker. For more information on jQuery UI Date Picker and the configurable options available, check out the <a href="http://api.jqueryui.com/datepicker/" target="_new">jQuery UI Date Picker API</a>. This site is maintained by The jQuery Foundation, not Mercer.</p>
				
				<h5>Dependencies</h5>
				<p>The Calendar Date Range component depends on the <a href="comp-calendar">Calendar</a> component.</p>
			</div>
		</div>

		

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Multi-Column Stacked</h4>

		<!-- CALENDAR DATE RANGE - MULTI-COLUMN STACKED - EXAMPLE - BEGINS -->
		<form class="mul-form" id="" name="" method="" action="" title="">
			<fieldset>
				<ol class="col-4 first">
					<li>
						<label for="js-mul-datepicker-range-stacked-from">From:</label>
						<div class="mul-datepicker-range">
							<input class="col-17 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
				<ol class="col-4">
					<li>
						<label for="js-mul-datepicker-range-stacked-to">To:</label>
						<div class="mul-datepicker-range">
							<input class="col-17 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - MULTI-COLUMN STACKED - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Stacked With Sub Labels</h4>

		<!-- CALENDAR DATE RANGE - STACKED WITH SUB LABELS - EXAMPLE - BEGINS -->
		<form class="mul-form" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li class="mul-form-inline">
						<label for="mul-datepicker-input-from">Label:</label>
						<div class="col-24 mul-datepicker-range">
							<label class="mul-datepicker-range-sublabel-from" for="js-mul-datepicker-range-stacked-labels-from">From</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-labels-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-stacked-labels-to">to</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-labels-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - STACKED WITH SUB LABELS - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Left Aligned</h4>

		<!-- CALENDAR DATE RANGE - LEFT ALIGNED - EXAMPLE - BEGINS -->
		<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-2 first" for="js-mul-datepicker-range-left-aligned-from">Label:</label>
						<div class="col-24 mul-datepicker-range">
							<input class="col-3" id="js-mul-datepicker-range-left-aligned-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-left-aligned-to">to</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - LEFT ALIGNED - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Right Aligned</h4>

		<!-- CALENDAR DATE RANGE - RIGHT ALIGNED - EXAMPLE - BEGINS -->
		<form class="mul-form mul-form-inline mul-form-label-right" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-2 first" for="js-mul-datepicker-range-right-aligned-from">Label:</label>
						<div class="col-24 mul-datepicker-range">
							<input class="col-3" id="js-mul-datepicker-range-right-aligned-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-right-aligned-to">to</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-right-aligned-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - RIGHT ALIGNED - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Left Aligned With Sub Labels</h4>

		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - BEGINS -->
		<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-2 first">Label:</label>
						<div class="col-24 mul-datepicker-range mul-datepicker-range-aligned">
							<label class="mul-datepicker-range-sublabel-from" for="js-mul-datepicker-range-left-aligned-labels-from">From</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-labels-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-left-aligned-labels-to">to</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-labels-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Right Aligned With Sub Labels</h4>

		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - BEGINS -->
		<form class="mul-form mul-form-inline mul-form-label-right" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<label class="col-2 first">Label:</label>
						<div class="col-24 mul-datepicker-range mul-datepicker-range-aligned">
							<label class="mul-datepicker-range-sublabel-from" for="js-mul-datepicker-range-right-aligned-labels-from">From</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-right-aligned-labels-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-right-aligned-labels-to">to</label>
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-right-aligned-labels-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - ENDS -->

		<h4 class="mul-hdr-rule">Compact Inline</h4>

		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - BEGINS -->
		<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
			<fieldset>
				<ol>
					<li>
						<div class="col-24 mul-datepicker-range">
							<input class="col-3 mul-datepicker-range-input" id="js-mul-datepicker-range-compact-inline-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." placeholder="From" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
							<input class="col-3" id="js-mul-datepicker-range-compact-inline-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." placeholder="To" data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
						</div>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- CALENDAR DATE RANGE - LEFT ALIGNED WITH SUB LABELS - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>

				<h5>Multi-Column Stacked</h5>

<pre class="prettyprint linenums">

</pre>
				<h5>Stacked With Sub Labels</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Left Aligned</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Right Aligned</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Left Aligned With Sub Labels</h5>

<pre class="prettyprint linenums">
</pre>

				<h5>Right Aligned With Sub Labels</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Compact Inline</h5>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>

				<h5>Multi-Column Stacked</h5>

<pre class="prettyprint linenums">

</pre>
				<h5>Stacked With Sub Labels</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Left Aligned</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Right Aligned</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Left Aligned With Sub Labels</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Right Aligned With Sub Labels</h5>

<pre class="prettyprint linenums">

</pre>

				<h5>Compact Inline</h5>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}