{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>
					The Auto Suggest add on feature automatically inputs suggested items for users while filling out any type of form. Auto Suggest text is generated from a pre-defined list as the user types content into the Form Field. This control works well when input speed is important for the user or when data might be entered in different ways.
				</p>
			</div>
			<div id="tabs-2">
				<p>
					The Auto Suggest feature should be used when issues of ambiguity might arise (in place of a Text Input) while filling out a form. It’s great when extremely long lists of predefined data preclude the use of a drop down selection. It’s also quite useful when the user only has a certain amount of time to fill out a form. 
				</p>
			</div>
			<div id="tabs-3">
				<ul>
					<li>The Auto Suggest control should be able to support "Starts With" or "Contains" searches, although the preference is to default to "Contains" in order to maximize the return.</li>
					<li>The matching text should be highlighted in the Suggested Values.</li> 
					<li>Suggest Values should be a Drop Down field. </li>
					<li>The color of the Auto Suggest text should different itself from the standard black used in forms. It will default to #999999.</li>
					<li>User  should be able to turn Auto Suggest on or off.</li>
				</ul>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Dependencies</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="" scope="col">Library</th>
						<th width="" scope="col">Location or Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>jQuery 1.10.2</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
					<tr>
						<td>jQuery UI 1.10.3</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<!-- [INSERT UI COMPONENT NAME] - EXAMPLE - BEGINS -->
			<input class="col-12 first js-mul-auto-suggest" id="fullname" name="" value="" tabindex="1" type="text" title="Last Name, First Name" />
		<!-- [INSERT UI COMPONENT NAME] - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}