{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Loading animation is useful in letting users know that the server is processing the request. It is an animated icon and is displayed in a modal.</p>
				<strong>Related Items:</strong>
				<ul>
					<li><a href="comp-progress-bar">Progress Bar</a></li>
					<li><a href="comp-ajax-loader">Ajax Loader</a></li>
				</ul>
			</div>
			<div id="tabs-2">
				<p>It's used when an action is happening behind the scenes, and informs the user to wait for a while before a result is return onto the page.</p>
			</div>
			<div id="tabs-3">
				<strong>Cancel Button</strong>
				<ul>
					<li>The cancel button is displayed to allow the user to cancel out of the action.</li> 
					<li>The button should be the secondary class.</li>
				</ul>
			</div>
			<div id="tabs-4">
				<strong>Cross Browser Compatibility</strong>
				<p>IE9 doesn't crop background gradients on containers with rounded corners, so we square the corners of every container so it looks just like IE8.</p>
			</div>
		</div>

		<div class="col-24">
			<h4 class="mul-hdr-rule">Dependencies</h4>
			<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<thead>
					<tr>
						<th width="" scope="col">Library</th>
						<th width="" scope="col">Location or Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>jQuery 1.10.2</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
					<tr>
						<td>jQuery UI 1.10.3</td>
						<td>assets/scripts/core_v2/lib/jquery</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Example</h4>
		
		<!-- LOADING ANIMATION - EXAMPLE - BEGINS -->
		<div class="col-24">
			
			<!-- Loading animation modal dialog open mul-event button -->
			<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="js-mul-dialog-loading-example-btn" name="" value="" tabindex="" type="button" title="Open Modal">Open Modal</button>

			<!-- Loading animation modal dialog source element -->
			<div id="js-mul-dialog-loading" class="mul-dialog-ctn mul-grid" title="Loading&hellip;">
				<div class="col-24 mul-align-center">
					<p class="mul-dialog-loading-text">Explanation of why stuff is loading goes here.</p>
					<img class="mul-margin-bottom" src="assets/images/core/components/dialog/loading.gif" alt="Loading&hellip;" width="128" height="15" border="0" />
				</div>
				<button class="mul-btn mul-btn-medium mul-btn-secondary mul-btn-first mul-margin-bottom mul-center-block js-mul-dialog-close" tabindex="10" type="button" title="Cancel">Cancel</button>
			</div>

		</div>
		<!-- LOADING ANIMATION - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}