{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Text Input element is the field in which the user can enter text on a form.</p>
			</div>
			<div id="tabs-2">
				<p>Use the Text Input element when a user is required to enter a small amount of text on a form. For longer content, use the <a href="form-textarea">Text Area</a> element.</p>
			</div>
			<div id="tabs-3">

				<ul>
					<li>Text Input should default to the Attention/Highlight border color when the user clicks inside the box.</li>
					<li>The Input Label should always be in Title Case.</li>
					<li>Text Input should be adapted so it can be used with Placeholder Text if desired.</li>
					<li>Text Input should be adapted so it can be used with an Icon preceding it if the designer wants to forgo a Label. An example of this would be using an icon of a cell phone for preceding a Text Input that requires the user to enter a phone number.</li>
					<li>Text Input should be adapted so it can be used with a button, like if the Text Input is being used as a search function.</li>
					<li>Text Input should be adapted so it can be used with add on text after the field, like adding the word, dollars or the abbreviation for pounds (lbs).</li>
				</ul>

			</div>
			<div id="tabs-4">
				<h5>Cross browser compatibility</h5>
				<p>IE9 doesn't support rounded corners on inputs, so we square the corners of the inputs so it looks just like IE8.</p>
			</div>
		</div>

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Stacked</h4>
		<div class="col-24">
			<div class="col-6 first">

				<!-- FORM TEXT INPUT - EXAMPLE - BEGINS -->
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label class="mul-required" for="">Basic Text Input:</label>
								<input class="" id="" name="" value="" tabindex="" type="text" title="" />
							</li>

							<li class="mul-form-action"></li>
						</ol>
					</fieldset>
				</form>
				<!-- FORM TEXT INPUT - EXAMPLE - ENDS -->

			</div>
		</div>
		
		<h4 class="mul-hdr-rule">Inline</h4>
		<div class="col-24">
			<div class="col-12 first">

				<!-- FORM TEXT INPUT - EXAMPLE - BEGINS -->
				<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label class="col-7 first" for="">Basic Text Input:</label>
								<input class="col-12" id="" name="" value="" tabindex="" type="text" title="" />
							</li>

							<li class="mul-form-action"></li>
						</ol>
					</fieldset>
				</form>
				<!-- FORM TEXT INPUT - EXAMPLE - ENDS -->

			</div>
		</div>
		
		<h4 class="mul-hdr-rule">With Placeholder Text</h4>
		<div class="col-24">
			<div class="col-6 first">

				<!-- FORM TEXT INPUT - EXAMPLE - BEGINS -->
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label for="">Basic Text Input:</label>
								<input class="" id="" name="" value="" tabindex="" type="text" placeholder="example@email.com" title="" />
							</li>

							<li class="mul-form-action"></li>
						</ol>
					</fieldset>
				</form>
				<!-- FORM TEXT INPUT - EXAMPLE - ENDS -->

			</div>
		</div>

		<h4 class="mul-hdr-rule">Only Accepts Numbers</h4>
		<div class="col-24">
			<div class="col-6 first">

				<!-- FORM TEXT INPUT - EXAMPLE - BEGINS -->
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label for="">Basic Text Input:</label>
								<input class="js-mul-numeric-mask" id="" name="" value="" tabindex="" type="text" placeholder="Only type numbers" title="" />
							</li>

							<li class="mul-form-action"></li>
						</ol>
					</fieldset>
				</form>
				<!-- FORM TEXT INPUT - EXAMPLE - ENDS -->

			</div>
		</div>

		<!--
		<h4 class="mul-hdr-rule">HTML5 Input Types</h4>
		
		<div class="col-24">
			<div class="col-12 first">

				FORM TEXT INPUT TYPES - EXAMPLE - BEGINS
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li>
								<label for="">Text input type</label>
								<input class="" id="" name="" value="" tabindex="" type="text" title="Text" placeholder="Enter text" autocomplete="off" />
							</li>
							<li>
								<label for="">Text input type, numbers 0-9 only accepted</label>
								<input class="" id="" name="" value="" tabindex="" type="text" title="Text" placeholder="" pattern="[0-9]" autocomplete="off" />
							</li>
							<li>
								<label for="">Text input type, numbers 0-9 only accepted, required</label>
								<input class="" id="" name="" value="" tabindex="" type="text" title="Text" placeholder="" pattern="[0-9]" autocomplete="off" required="required" />
							</li>
							<li>
								<label for="password">Password input type</label>
								<input class="" id="password" name="password" value="" tabindex="" type="password" title="Password" placeholder="" autocomplete="off" />
							</li>
							<li>
								<label for="number">Number input type</label>
								<input class="" id="number" name="number" value="" tabindex="" type="number" min="" max="" step="" value="" title="Number" placeholder="Enter a number" />
							</li>
							<li>
								<label for="email">Email input type</label>
								<input class="" id="email" name="email" value="" tabindex="" type="email" title="Email" placeholder="Enter your email address" autocomplete="on" required="required" />
							</li>
							<li>
								<label for="url">URL input type</label>
								<input class="" id="url" name="url" value="" tabindex="" type="url" title="URL" placeholder="Enter a URL" autocomplete="on" />
							</li>
							<li>
								<label for="tel">Telephone input type</label>
								<input class="" id="tel" name="tel" value="" tabindex="" type="tel" title="Telephone" placeholder="Enter a telephone #" autocomplete="on" />
							</li>
							<li>
								<label for="time">Time input type</label>
								<input class="" id="time" name="time" value="" tabindex="" type="time" title="Time" placeholder="Enter a time" autocomplete="off" />
							</li>
							<li>
								<label for="date">Date input type</label>
								<input class="" id="date" name="date" value="" tabindex="" type="date" title="Date" placeholder="Enter a date" autocomplete="off" />
							</li>
							<li>
								<label for="month">Month input type</label>
								<input class="" id="month" name="month" value="" tabindex="" type="month" title="Month" placeholder="Enter a month" autocomplete="off" />
							</li>
							<li>
								<label for="week">Week input type</label>
								<input class="" id="week" name="week" value="" tabindex="" type="week" title="Week" placeholder="Enter a week" autocomplete="off" />
							</li>
							<li>
								<label for="datetime">Datetime input type</label>
								<input class="" id="datetime" name="datetime" value="" tabindex="" type="datetime" title="Datetime" placeholder="Enter a datetime" autocomplete="off" />
							</li>
							<li>
								<label for="datetime-local">Datetime local input type</label>
								<input class="" id="datetime-local" name="datetime-local" value="" tabindex="" type="datetime-local" title="Datetime local" placeholder="Enter a datetime local" autocomplete="off" />
							</li>
							<li>
								<label for="color">Color input type</label>
								<input class="" id="color" name="color" value="" tabindex="" type="color" title="color" placeholder="Choose a color" autocomplete="off" />
							</li>
							<li>
								<label for="range">Range input type</label>
								<input class="" id="range" name="range" value="" tabindex="" type="range" min="1" max="10" step="" value="5" title="Range" autocomplete="off" />
							</li>
							<li>
								<label for="search">Search input type</label>
								<input class="" id="search" name="search" value="" tabindex="" type="search" title="Search" placeholder="Enter search term" autocomplete="on" />
							</li>
						</ol>
					</fieldset>
				</form>
				FORM TEXT INPUT TYPES - EXAMPLE - ENDS

			</div>
		</div>
		-->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}