{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Field Specific Error Message appears whenever the user makes a mistake on a Form Element, like failing to fill out a required Text Input field. The Field Specific Error Message pinpoints where exactly on the form the error or errors occurred.
				</p>
				<p>The Field Specific Error Message differs from the Generic Error Message because it highlights the exact field in which the error was made. The Generic Error Message appears in the form of the <a href="error-message">Error Message Container</a> at the top of the page and explains that the user made a mistake or several errors on the page that need to be corrected in order to properly submit the form.
				</p>
				<p>
				The incorrect field will be highlighted with the appropriate Error/Negative <a href="base-colors">Color Palette</a> and Error Icon (Red circle with exclamation mark inside). There will also be a brief explanation of what the user did wrong right below the Text Input field if the designer decides to enable this feature.
				</p>
				<p>To see the Field Specific Error Message in action, check out the Page <a href="nar-error-handling">Error Messaging &amp; Handling narrative</a>.</p> 

			</div>
			<div id="tabs-2">
				<p>Use the Field Specific Error Message <strong>when an error occurs on a specific field</strong> within a form in order to pinpoint where the user went wrong and what needs to be done to correct it.</p>
			</div>
			<div id="tabs-3">
			<h5>Behavior</h5>
				<p>When a user submits a form that contains some type of error, the following should occur <strong>for each field</strong> where an error has occurred:
				<ul>
					<li>The Field Label will turn to the red error Text color.</li>
					<li>If a required icon (grey asterisk) is associated with a field, then it will turn red to indicate the incorrect field.</li>
					<li>The background of the form element will switch to the Background error color.
					<li>The field specific error message will display immediately below the field element.</li>
				</ul>
				
				<h5>Messaging</h5>
				<ul>
					<li>All field specific error messages should be succint with a limited number of characters</li>	
					<li>All error messages should be written using Sentence Case.</li>
				</ul>
				
				<h5>Visual Formatting</h5>
				<ul>
					<li>Error Messages should adhere to the approved Mercer color palette for all aspects of the container: Background, Border, and Text.</li>
				</ul>
				
				<h5>Positioning</h5>
				<ul>
					<li>The field specific error message should always display directly below the incorrect field in red. </li>
				</ul>
				
				<h5>Related Components</h5>
				<p>The following components are all related to this narrative. </p>
				<ul>
					<li><a href="error-message">Error Message Container</a></li>
					<li><a href="nar-error-handling">Page Error Messaging &amp; Handling</a> </li>
					<li><a href="base-icons">Required Icon</a></li>
				</ul>

				
			</div>
			<div id="tabs-4">
				<h5>Cross browser compatibility</h5>
				<p>IE9 doesn't crop background gradients on containers with rounded corners, so we square the corners of every container so it looks just like IE8.</p>
			</div>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<div class="col-24">
			<div class="col-10 first">

			<!-- STACKED FORM - EXAMPLE - BEGINS -->
				<form class="mul-form" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li class="mul-error">
								<label class="mul-required" for="">Basic Text Input:</label>
								<input id="" name="" value="" tabindex="" type="text" title="" />
								<small class="mul-info">This is form error text.</small>
							</li>
							<li class="mul-error">
								<label class="mul-required" for="">Label:</label>
								<select id="" tabindex="">
									<option selected="selected" value="Select an item">choose one...</option>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
								</select>
								<small class="mul-info">This is form error text.</small>
							</li>
							<li class="mul-error">
								<label class="mul-required mul-radio-label" for="">Label Posed as a Question?</label>
								<div class="mul-radio">
									<label for="question1" class="mul-form-inline-element">
										<input name="question" type="radio" id="question1"> Yes
									</label>

									<label for="question2" class="mul-form-inline-element">
										<input name="question" type="radio" id="question2"> No
									</label>
								</div>
								<small class="mul-info">This is form error text.</small>
							</li>
							<li class="mul-error">
								<label class="mul-checkbox-label mul-required" for="">Year of Original Appointment:</label>
								<div class="mul-checkbox">
									<label for="2009" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2009"> 2009
									</label>

									<label for="2010" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2010"> 2010
									</label>

									<label for="2011" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2011"> 2011
									</label>

									<label for="2012" class="mul-form-inline-element">
										<input name="" type="checkbox" id="2012"> 2012
									</label>
								</div>
								<small class="mul-info">This is form error text.</small>
							</li>
							<li class="mul-error">
								<label class="mul-required" for="">Comments:</label>
								<textarea></textarea>
								<small class="mul-info">This is form error text.</small>
							</li>
							<li class="mul-error mul-form-inline">
								<label class="mul-required" for="mul-datepicker-from">Label:</label>
								<div class="col-24 mul-datepicker-range">
									<label class="mul-datepicker-range-sublabel-from" for="js-mul-datepicker-range-stacked-labels-from">From</label>
									<input class="col-8 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-labels-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
									<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-stacked-labels-to">to</label>
									<input class="col-8 mul-datepicker-range-input" id="js-mul-datepicker-range-stacked-labels-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
								</div>
								<small class="mul-info">This is form error text.</small>
							</li>

							<li class="mul-form-action"></li>
						</ol>
					</fieldset>
				</form>
			<!-- STACKED FORM - EXAMPLE - ENDS -->

			</div>
		</div>

		<h4 class="mul-hdr-rule">Inline Error Handling</h4>
		<div class="col-24">
			<div class="col-16 first">

			<!-- FORM LEFT ALIGNED - EXAMPLE - BEGINS -->
				<form class="mul-form mul-form-inline" id="" name="" method="" action="" title="">
					<fieldset>
						<ol>
							<li class="mul-error">
								<label class="col-10 first mul-required" for="">Basic Text Input:</label>
								<input class="col-14" id="" name="" value="" tabindex="" type="text" title="" />
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>

							<li class="mul-error">
								<label class="col-10 first mul-required" for="">Label:</label>
								<select class="col-14" id="" tabindex="">
									<option selected="selected" value="Select an item">choose one...</option>
									<option>One</option>
									<option>Two</option>
									<option>Three</option>
								</select>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>
							<li class="mul-error">
								<label class="mul-radio-label col-10 first mul-required" for="">Label Posed as a Question?</label>
								<div class="mul-radio col-14">
									<label for="question1">
										<input name="question" type="radio" id="question1"> Yes
									</label>

									<label for="question2">
										<input name="question" type="radio" id="question2"> No
									</label>
								</div>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>

							<li class="mul-error">
								<label class="mul-checkbox-label col-10 first mul-required" for="">Year of Original Appointment:</label>
								<div class="mul-checkbox col-14">
									<label for="2009">
										<input name="" type="checkbox" id="2009"> 2009
									</label>

									<label for="2010">
										<input name="" type="checkbox" id="2010"> 2010
									</label>

									<label for="2011">
										<input name="" type="checkbox" id="2011"> 2011
									</label>

									<label for="2012">
										<input name="" type="checkbox" id="2012"> 2012
									</label>
								</div>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>
							<li class="mul-error">
								<label class="col-10 first mul-required" for="">Comments:</label>
								<textarea class="col-10"></textarea>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>
							<li class="mul-error">
								<label class="col-10 first mul-required" for="js-mul-datepicker-range-left-aligned-from">Label:</label>
								<div class="col-24 mul-datepicker-range">
									<input class="col-4" id="js-mul-datepicker-range-left-aligned-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
									<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-left-aligned-to">to</label>
									<input class="col-4 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
								</div>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>
							<li class="mul-error">
								<label class="col-10 first mul-required">Label:</label>
								<div class="col-24 mul-datepicker-range mul-datepicker-range-aligned">
									<label class="mul-datepicker-range-sublabel-from" for="js-mul-datepicker-range-left-aligned-labels-from">From</label>
									<input class="col-4 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-labels-from" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
									<label class="mul-datepicker-range-sublabel-to" for="js-mul-datepicker-range-left-aligned-labels-to">to</label>
									<input class="col-4 mul-datepicker-range-input" id="js-mul-datepicker-range-left-aligned-labels-to" readonly="true" name="" value="" tabindex="" type="text" title="Select date." data-mul-datepicker-message-label="This is a calendar message area for user messages related to dates" />
								</div>
								<span class="col-24">
									<small class="offset-10 col-14 mul-info">This is form error text.</small>
								</span>
							</li>
							<li class="mul-form-action col-24"></li>
						</ol>
					</fieldset>
				</form>
			<!-- FORM LEFT ALIGNED - EXAMPLE - ENDS -->

			</div>
		</div>



		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}