{% block content %}
<div class="col-24 marketing-ctn">

	<div class="col-6 first img-section">
		<img src="assets/images/ux_people.png" class="hidden-small-mediaquery">
	</div>
	<div class="col-18 mkt-text">
		<h1>Welcome. Let's get started.</h1>
		<a href="get-started" title="Get Started"><img src="assets/images/ux_arrow_start.png"></a>
	</div>

</div>

<div class="mul-grid-nomargin hp-layout">
	<div class="col-24">
		<div class="col-8 first base-content js-mul-hp-column-1">

			<h3 class="h3">Base</h3>
			<dl>
				<dt>Visuals</dt>
				<dd><span><a href="base-typography">Typography</a></span></dd>
				<dd><span><a href="base-colors">Colors</a></span></dd>
				<dd><span><a href="base-icons">Icons</a><small class="todo">(in-progress)</small></span></dd>
				<dd><span><a href="base-icon-font">Icon Font</a><small class="todo">(in-progress)</small></span></dd>
			</dl>

			<dl>
				<dt>Grids</dt>
				<dd><span><a href="base-grids">Grid Details</a></span></dd>
			</dl>

			<dl>
				<dt>Navigation</dt>
				<dd><span><a href="nav-masthead">Main Navigation</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Header</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Footer</a></span></dd>
			</dl>

			<dl>
				<dt>Page Layouts</dt>
				<dd><span><a href="layout-sidebar">Sidebar</a></span></dd>
				<dd><span><a href="layout-workspace">Workspace</a></span></dd>
				<dd><span><a href="layout-user-profile">Entity Profile</a></span>
					<dl>
						<dd><span><a href="layout-prospective-client-profile">Prospective Client Profile</a></span></dd>
						<dd><span><a href="layout-user-profile">User Profile</a></span></dd>
						<dd><span><a href="layout-client-profile">Active Client Profile</a></span></dd>
						<dd><span><a href="layout-inactive-client-profile">Inactive Client Profile</a></span></dd>
					</dl>
				</dd>
			</dl>

			<h3 class="h3">Narratives</h3>
			<dl>
				<dd><span><a href="nar-error-handling">Page Error Messaging &amp; Handling</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Search vs. Browse vs. Filter</a></span></dd>
				<dd><span><a class="coming-soon" href="nar-copy-text-styleguide">Copy/Text Style Guide</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Navigational Principles</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Pagination vs. Infinite Scroll</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Page Feedback</a></span></dd>
			</dl>

			<h3 class="h3">Download</h3>
			<dl>
				<dd><span><a class="coming-soon" href="javascript:;">Compiled CSS</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Non-Compiled CSS</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">JS Files</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">Images</a></span></dd>
				<dd><span><a class="coming-soon" href="javascript:;">More</a></span></dd>
			</dl>

			<h3 class="h3">Development</h3>
			<dl>
				<dd><span><a href="change-log">Change Log</a><small class="todo">(in-progress)</small></span></dd>
			</dl>
		</div>
		<div class="col-16 comp-modules-content js-mul-hp-column-2">

			<div class="col-11 first">
			
				<h3 class="h3">Messaging</h3>
				<dl>
					<dd><span><a href="confirmation-message">Confirmation Message</a></span></dd>
					<dd><span><a href="error-message">Error Message</a></span></dd>
					<dd><span><a href="attention-message">Attention Message</a></span></dd>
					<dd><span><a href="comp-tooltip">Tooltip</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-descriptive-hover">Descriptive Hover</a></span></dd>
				</dl>

				<h3 class="h3">Containers</h3>
				<dl>
					<dd><span><a href="container-basic">Basic Container</a></span></dd>
					<dd><span><a href="container-advanced">Advanced Container</a></span></dd>
				</dl>
				<dl>
					<dt>Custom Container</dt>
					<dd><span><a href="container-feature">Feature Container</a></span></dd>
					<dd><span><a href="container-sidebar">Sidebar Container</a></span></dd>
					<dd><span><a href="container-support">Support Container</a></span></dd>
					<dd><span><a href="container-inline-search">Inline Search Container</a></span></dd>
					<dd><span><a class="coming-soon" href="#">Primary Summary Container</a></span></dd>
					<dd><span><a class="coming-soon" href="#">Secondary Summary Container</a></span></dd>
					<dd><span><a class="coming-soon" href="#">Title Highlight Container</a></span></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Overview Container</a></span></dd>
				</dl>

				<h3 class="h3">UI Controls</h3>
				<dl>
					<dd><span><a href="buttons">Buttons</a></span></dd>
					<dd><span><a href="mini-filter">Mini-Filter</a></span></dd>
					<dd><span><a href="comp-tabs">Tab Set</a></span></dd>
					<dd><span><a href="comp-calendar">Calendar</a></span></dd>
					<dd><span><a href="comp-daterange">Calendar Date Range</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Selected Item</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-tree-control">Tree Control</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-accordion">Accordion</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-carousel">Carousel</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-blades">Blades</a></span></dd>
					<dd><span><a href="comp-scrollpane">Scroll Pane</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Drag &amp; Drop</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-horizontal-stepper">Stepper - Horizontal</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-vertical-stepper">Stepper - Vertical</a></span></dd>
				</dl>

				<dl>
					<dt>Progress Indicators</dt>
					<dd><span><a href="comp-load-animation">Loading Animation</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-progress-bar">Progress Bar</a></span></dd>
					<dd><span><a class="coming-soon" href="comp-ajax-loader">Ajax Loader</a></span></dd>
				</dl>

				<dl>
					<dt>Windows</dt>
					<dd><span><a href="comp-modal">Modal Window</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Content Modal</a></span></dd>
					<!-- <dd><span><a href="comp-content-modal">Content Modal</a><small class="todo">(in-progress)</small></span></dd> -->
					<dd><span><a class="coming-soon" href="javascript:;">Moveable Dialog</a></span></dd>
				</dl>

				<dl>
					<dt>Menus</dt>
					<dd><span><a class="coming-soon" href="javascript:;">Mega Menu</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Pop Out Menu</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Floating Menu Bar</a></span></dd>
				</dl>

				<dl>
					<dt>Lists</dt>
					<dd><span><a href="lists-horizontal-lists">Horizontal Lists</a></span></dd>
					<dd><span><a href="lists-vertical-lists">Vertical Lists</a></span></dd>
					<dd><span><a href="lists-data-lists">Data Lists</a></span></dd>
				</dl>


			</div>
			<div class="col-11 offset-2">
			
				<h3 class="h3">Tables</h3>
				<dl>
					<dd><span><a href="table-static">Static Data Table</a></span></dd>
					<dd><span><a href="table-interactive">Interactive Data Table</a></span></dd>
				</dl>

				<dl>
					<dt>Data Table Add Ons</dt>
					<dd><span><a href="table-subheader">Subheader Row</a></span></dd>
					<dd><span><a href="table-subtotal">Subtotal Row</a></span></dd>
					<dd><span><a href="table-total">Total Row</a></span></dd>
					<dd><span><a href="table-pagination">Pagination</a></span></dd>
					<dd><span><a class="coming-soon" href="#">Batch Actions</a></span></dd>
					<dd><span><a href="table-quick-filter">Quick Filter</a></span></dd>
					<dd><span><a class="coming-soon" href="#">Advanced Filter Modal</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Single Column Filter</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Infinite Scroll</a></span></dd>
				</dl>

				<h3 class="h3">Forms</h3>

				<dl>
					<dt>Form Structure</dt>
					<dd><span><a href="form-stacked">Stacked</a></span></dd>
					<dd><span><a href="form-inline">Inline</a></span></dd>
					<dd><span><a href="form-multi-col-stacked">Multi-Column Stacked</a></span></dd>
					<dd><span><a href="form-compact">Compact</a></span></dd>
				</dl>


				<dl>
					<dt>Form Elements</dt>
					<dd><span><a href="form-input">Text Input</a></span></dd>
					<dd><span><a href="form-textarea">Text Area</a></span></dd>
					<dd><span><a href="form-dropdown">Single Select Drop Down</a></span></dd>
					<dd><span><a class="coming-soon" href="form-multi-select-dropdown">Multi-Select Drop Down</a></span></dd>
					<dd><span><a href="form-radiobutton">Radio Buttons</a></span></dd>
					<dd><span><a href="form-checkbox">Checkboxes</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Button Dropdown</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Captcha Security Code</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Form Label</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">More Information</a></span></dd>
					<dd><span><a href="form-elements-html5">HTML5 Form Elements</a></span></dd>
				</dl>

				<dl>
					<dt>Error Handling</dt>
					<dd><span><a href="form-error-message">Field Specific Error</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Client Side Error &amp; Validation Messaging</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Error Prevention Messaging</a></span></dd>
				</dl>
				
				<dl>
					<dt>Form Add Ons</dt>
					<dd><span><a href="comp-auto-suggest">Auto Suggest</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Display of Read Only Data</a></span></dd>
					<dd><span><a href="form-selected-checkbox">Selected Checkbox</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Follow Up Questions</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Rich Text Editor</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Placeholder Text</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Slider</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Form Selections (active & inactive)</a></span></dd>
					<dd><span><a class="coming-soon" href="javascript:;">Floating Form Submission</a></span></dd>
				</dl>
					
			</div>
		</div>
		
	</div>
</div>

<!-- GET STARTED MODAL - BEGINS -->
	{% include "get-started-dialog" %}
<!-- GET STARTED MODAL - ENDS -->

{% endblock %}