{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Description go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<!-- USER PROFILE CONTAINER - EXAMPLE - BEGINS -->
			<div class="mul-box-adv mul-box-rnd mul-client-profile mul-user-profile">
				<div class="col-24 mul-box-hdr mul-small-mediaquery-grid">
					<div class="col-2 first">
						<img class="mul-hdr-icon" src="/assets/images/core/icons/icon-client-large.png" alt="Icon" height="48" width="48" />
					</div>
					<div class="col-22">
						<h1 class="mul-hdr-rule">Header</h1>
						<h5 class="mul-secondary-hdr">Blah blah-de blah</h5>	
					</div>
				</div>
				
				<nav class="mul-navbar">
					<ul class="mul-horizontal-list">
						<li><a href="javascript:;">Link 1</a></li>
						<li><a href="javascript:;">Link 2</a></li>
						<li><a href="javascript:;">Link 3</a></li>
						<li><a href="javascript:;">Link 4</a></li>
						<li><a href="javascript:;">Link 5</a></li>
						<li><a href="javascript:;">Link 6</a></li>
						<li><a href="javascript:;">Link 7</a></li>
						<li><a class="mul-navbar-item-active" href="javascript:;">Link 8</a></li>
						<li><a href="javascript:;">Link 9</a></li>
						<li><a href="javascript:;">Link 10</a></li>
					</ul>
				</nav>

				<div class="mul-box-bdy">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis rutrum elit. Nunc adipiscing mi sit amet malesuada hendrerit. Sed pretium purus vitae sem ullamcorper posuere.</p>
				</div>
			</div>
		<!-- USER PROFILE CONTAINER - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}