{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Workspace Layout element allows designers to bypass implementing the <a href="base-grids">Mercer Grid System</a> into the page or application by selecting a preconfigured page layout. The Workspace Layout can be combined with the  Sidebar to create any type of page or application layout desired. These layouts essentially function as a page’s foundation. The designer can then select any type of container or containers to further design the page.</p>
			</div>
			<div id="tabs-2">
				<p>Use the Workspace Layout element when you want to create a page or application page in our system without calculating the Mercer Grid System. The Workspace Layout works best when the designer needs to display a lot of data/content, multiple tables, graphics, and forms.
				</p>
			</div>
			<div id="tabs-3">
				<ul>
					<li>The Workspace Layout element is responsive and will adapt to the user’s device or screen size.</li>
					<li>The designer can customize the Workspace Layout with containers and other page layouts.</li>
					<li>The Workspace Layout will automatically adapt to conform to the Mercer Grid System.</li>
				</ul>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<!-- WORKSPACE LAYOUT - EXAMPLE - BEGINS -->
		<div class="col-24">
			<section class="col-24 unit" style="height:100px;">&nbsp;</section>
			<section class="col-24 unit" style="height:200px;">&nbsp;</section>
		</div>
		<!-- WORKSPACE LAYOUT - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">
&lt;section class=&quot;col-24&quot;&gt;&lt;/section&gt;
&lt;section class=&quot;col-24&quot;&gt;&lt;/section&gt;
</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}