{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Description go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Example</h4>

		<!-- VERTICAL LISTS - EXAMPLE - BEGINS -->
		<ul class="mul-vertical-list">
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
			<li>Item 4</li>
		</ul>
		<!-- VERTICAL LISTS - EXAMPLE - ENDS -->

		<br />

		<h4 class="mul-hdr-rule">Example with links</h4>

		<!-- VERTICAL LISTS - LINKS - EXAMPLE - BEGINS -->
		<ul class="mul-vertical-list">
			<li><a href="javascript:;">Link 1</a></li>
			<li><a href="javascript:;">Link 2</a></li>
			<li><a href="javascript:;">Link 3</a></li>
			<li><a href="javascript:;">Link 4</a></li>
		</ul>
		<!-- VERTICAL LISTS - LINKS - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}