{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Description go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

	</section>
	<section class="col-16">
		<h4 class="mul-hdr-rule">Example</h4>

		<!-- MASTHEAD NAVBAR - EXAMPLE - BEGINS -->
		<div class="mul-masthead-navbar-ctn">
			<div class="mul-masthead-adjust">

				<!-- NAVBAR - BEGINS -->
				<nav role="navigation" class="mul-navbar">
					<ul class="mul-horizontal-list">
						<li><a class="mul-first-child {% if mixture.url == "index" %}mul-navbar-item-active{% endif %}" href="index">Home</a></li>
						<li><a {% if mixture.url == "get-started" %}class="mul-navbar-item-active"{% endif %} href="get-started">Get Started</a></li>
						<li><a {% if mixture.url == "download" %}class="mul-navbar-item-active"{% endif %} href="download">Download</a></li>
					</ul>
				</nav>
				<!-- NAVBAR - ENDS -->

			</div>
		</div>
		<!-- MASTHEAD NAVBAR - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}