//-------------------------------------------------------------------------------------------
// Mercer UX/UI Library - Core v2 - Core Button Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

@if $use-buttons == true{

	// CORE BUTTON SETUP
	.mul-btn										{
													@include background-gradient($buttonBackgroundStartColor,$buttonBackgroundEndColor);
													@include border-radius($buttonBorderRadius, all);
													@include box-shadow($buttonVShadow, $buttonHShadow, $buttonShadowBlur, $buttonShadowColor);
													@include text-shadow(0, 1px, 1px, $buttonTextShadowColor);
													@include transition(box-shadow 0.15s ease-in-out 0s);
													@include backface-visibility(hidden);
													margin-left:$fluidGridColumnWidth;
													padding:$buttonPaddingTopBottom $buttonPaddingLeftRight;
													position:relative;
													display:inline-block;
													float:left;
													min-width:$buttonMinWidth;
													font-size: $buttonFontSize;
													line-height:$buttonLineHeight;
													text-align:center;
													color:$buttonFontColor;
													border:$buttonBorderSize $buttonBorderStyle $buttonBorderColor;
													font-family:$baseFontFamily;
													font-weight:$buttonFontWeight;
													cursor:pointer;
													outline:none !important;

		// LINK STATES
		&:link,
		&:visited
														{
														color:$buttonFontColor;
														text-decoration:none;
														}
		&:hover											{
														@include background-gradient($buttonHoverBackgroundStartColor, $buttonHoverBackgroundEndColor);
														border:$buttonHoverBorderSize $buttonHoverBorderStyle $buttonHoverBorderColor;
														}
		&:active										{
														@include background-gradient($buttonActiveBackgroundStartColor,$buttonActiveBackgroundEndColor);
														@include box-shadow(0, 0, 0, transparent);
														@include transition(translate(0, 0));
														}

		// ICON OPTIONS
		.mul-btn-icn-left,
		.mul-btn-icn-right								{display:inline-block;}
		.mul-btn-icn-left								{margin-right:$buttonIconLeftMargin}
		.mul-btn-icn-right								{margin-left:$buttonIconRightMargin}
		.mul-btn-icn-top,
		.mul-btn-icn-bottom								{display:block;}
		.mul-btn-icn-top								{margin:0 auto $buttonIconTopMargin auto;}
		.mul-btn-icn-bottom								{margin:$buttonIconBottomMargin auto 0 auto;}

		&.disabled,
		&[disabled]										{
														@include ie-gradient-reset-filter;
														background-image: none;
														background-color: $buttonDisabledBackgroundColor;
														border-color: $buttonDisabledBorderColor;
														color: $buttonDisabledFontColor;
														cursor: default;
			&:hover											{
															border-color: $buttonDisabledBorderColor;
															}
														}
													}

	// PRIMARY BUTTON
	.mul-btn-primary,
	.mul-btn-primary:link,
	.mul-btn-primary:visited						{
													@include background-gradient($buttonPrimaryBackgroundStartColor,$buttonPrimaryBackgroundEndColor);
													@include text-shadow(0, -1px, 1px, $buttonPrimaryTextShadowColor);
													color:$buttonPrimaryFontColor;
													}
	.mul-btn-primary:hover							{
													@include background-gradient($buttonHoverPrimaryBackgroundStartColor,$buttonHoverPrimaryBackgroundEndColor);
													}
	.mul-btn-primary:active							{
													@include background-gradient($buttonActivePrimaryBackgroundStartColor,$buttonActivePrimaryBackgroundEndColor);
													}
	.mul-btn-primary.disabled,
	.mul-btn-primary[disabled]						{
													background-image: none;
													background-color: $buttonPrimaryDisabledBackgroundColor;
													border-color: $buttonPrimaryDisabledBorderColor;
													color: $buttonPrimaryDisabledFontColor;
													@include ie-gradient-reset-filter;
		&:hover											{
														border-color: $buttonPrimaryDisabledBorderColor;
														}
													}

	// FIRST CHILD BUTTON (IN A HORIZONTAL LAYOUT OF BUTTONS)
	.mul-btn-first									{margin-left:0;}

	// 100% WIDE BUTTON												
	.mul-btn-block									{
													display:block;
													width:100%;
													margin-left:0;
													margin-right:0;
													}

	// FONT SIZE OPTIONS
	.mul-btn-xxx-small								{font-size:$buttonXXXSmallFontSize;}
	.mul-btn-xx-small								{font-size:$buttonXXSmallFontSize;}
	.mul-btn-x-small								{font-size:$buttonXSmallFontSize;}
	.mul-btn-small									{font-size:$buttonSmallFontSize;}
	.mul-btn-medium									{font-size:$buttonMediumFontSize;}
	.mul-btn-large									{font-size:$buttonLargeFontSize;}
	.mul-btn-x-large								{font-size:$buttonXLargeFontSize;}
	.mul-btn-xx-large								{font-size:$buttonXXLargeFontSize;}
	.mul-btn-xxx-large								{font-size:$buttonXXXLargeFontSize;}

	// NO MARGIN OPTION											
	.mul-btn-nomargin								{margin-left:0;}
													
	// BUTTON GROUP
	.mul-btn-grp-vert								{
													@include clearfix;
		.mul-btn										{
														@include border-radius(0, all);
														display:block;
														float:none;
														border-top:0;
														margin-left:0;
														}
		.mul-btn:first-child							{
														@include border-radius($buttonBorderRadius $buttonBorderRadius 0 0, all);
														border-top:$buttonVertGroupBorderTopSize $buttonVertGroupBorderTopStyle $buttonVertGroupBorderTopColor;
														}
		.mul-btn:last-child								{@include border-radius(0 0 $buttonBorderRadius $buttonBorderRadius, all);}
													}
	.mul-btn-grp-horz								{
													@include clearfix;
		.mul-btn										{
														@include border-radius(0, all);
														float:left;
														margin-left:0;
														border-top:$buttonHorzGroupBorderTopSize $buttonHorzGroupBorderTopStyle $buttonHorzGroupBorderTopColor;
														border-bottom:$buttonHorzGroupBorderBottomSize $buttonHorzGroupBorderBottomStyle $buttonHorzGroupBorderBottomColor;
														border-left:0;
														border-right:$buttonHorzGroupBorderRightSize $buttonHorzGroupBorderRightStyle $buttonHorzGroupBorderRightColor;
														}
		.mul-btn:first-child							{
														@include border-radius($buttonBorderRadius 0 0 $buttonBorderRadius, all);
														border-left:$buttonHorzGroupFirstChildBorderLeftSize $buttonHorzGroupFirstChildBorderLeftStyle $buttonHorzGroupFirstChildBorderLeftColor;
														}
		.mul-btn:last-child								{@include border-radius(0 $buttonBorderRadius $buttonBorderRadius 0, all);}
													}

	// SPECIAL BUTTONS FOR JQUERY UI DATEPICKER
	.ui-datepicker-buttonpane						{
		.ui-state-default								{
														@extend .mul-btn;
														font-size:12px;
														min-width:52px;
														float:none;
														}

		.ui-priority-primary							{@extend .mul-btn-primary;}
		.ui-priority-primary:hover						{@extend .mul-btn-primary:hover;}

		.ui-priority-secondary							{
														@extend .mul-btn;
														margin-left:0;
														}
		.ui-priority-secondary:hover					{@extend .mul-btn:hover;}
													}

	// SPECIAL BUTTONS FOR JQUERY UI DIALOG
	.ui-dialog-buttonpane							{
		.ui-state-default								{
														@extend .mul-btn;
			&:first-child									{
															margin-left:0;
															}
														}
		.ui-state-default.mul-btn-primary				{
														@extend .mul-btn-primary;
														}
		.ui-state-default[disabled]						{
														@extend .mul-btn.disabled;
														}
		.ui-state-default.mul-btn-primary[disabled]		{
														@extend .mul-btn-primary.disabled;
														}
													}

	// CORE BUTTON IE8 FIXES
	.ie8											{
		.mul-btn-xxx-small,
		.mul-btn-xx-small,
		.mul-btn-x-small								{font-family:$baseFontFamily;}
													}

	// CORE BUTTON IE9 FIXES
	.ie9											{
		.mul-btn										{border-radius:$baseBorderRadiusIE;}

		.mul-btn-grp-vert								{
			.mul-btn:first-child							{border-radius:$baseBorderRadiusIE;}
			.mul-btn:last-child								{border-radius:$baseBorderRadiusIE;}
														}
									
		.mul-btn-grp-horz								{
			.mul-btn:first-child							{border-radius:$baseBorderRadiusIE;}
			.mul-btn:last-child								{border-radius:$baseBorderRadiusIE;}
														}
													}
} //endif