//-------------------------------------------------------------------------------------------
// Mercer UX/UI Library - Core v2 - Color Variables Partial
// DATE - October 28, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// BASE COLORS
// ------------------------------------------------------------------------------------------
$transparent:								transparent !default;

$white:										#FFF !default;
$black:										#000 !default;

// FLAT COLORS
$blue:										#23334C !default;
$purple:									#654685 !default;
$green:										#55842B !default;
$yellow:									#c3af03 !default;
$red:										#c71a0f !default;
$orange:									#e47d04 !default;
$turquoise:									#32A3BE !default;

// CHROMA COLORS
$gray-chroma:								#9a9a9a !default;
$blue-chroma:								#003399 !default;
$purple-chroma:								#7b059d !default;
$green-chroma:								#1b4a03 !default;
$yellow-chroma:								#fff600 !default;
$red-chroma:								#be0404 !default;
$orange-chroma:								#ff9000 !default;
$turquoise-chroma:							#01cdfe !default;

// GRAY COLORS
// ------------------------------------------------------------------------------------------
$gray-darker:								lighten($black, 20%) !default;		// #333
$gray-dark:									lighten($black, 40%) !default;		// #666	
$gray-mid:									lighten($black, 60%) !default;		// #999
$gray-light:								lighten($black, 80%) !default;		// #CCC
$gray-lighter:								lighten($black, 93.5%) !default;	// #EEE

// BLUE COLORS
// ------------------------------------------------------------------------------------------
$blue-darker:								lighten($blue, 10%) !default;		// #334A6F
$blue-dark:									lighten($blue, 20%) !default;		// #436292
$blue-mid:									lighten($blue, 30%) !default;		// #577AB1
$blue-light:								lighten($blue, 40%) !default;		// #7996C2
$blue-lighter:								lighten($blue, 72%) !default;  		// #BFCDE2

// PURPLE COLORS
// ------------------------------------------------------------------------------------------
$purple-darker:								lighten($purple, 10%) !default;		// #7E58A6
$purple-dark:								lighten($purple, 20%) !default;		// #9879B8	
$purple-mid:								lighten($purple, 30%) !default;		// #B29ACA
$purple-light:								lighten($purple, 40%) !default;		// #CBBCDB
$purple-lighter:							lighten($purple, 50%) !default;		// #E5DDED

// GREEN COLORS
// ------------------------------------------------------------------------------------------
$green-darker:								lighten($green, 10%) !default;		// #6EAA38
$green-dark:								lighten($green, 20%) !default;		// #87C64F	
$green-mid:									lighten($green, 30%) !default;		// #A1D276
$green-light:								lighten($green, 40%) !default;		// #BCDF9C
$green-lighter:								lighten($green, 50%) !default; 		// #BCDF9C

// YELLOW COLORS
// ------------------------------------------------------------------------------------------
$yellow-darker:								lighten($yellow, 10%) !default;		// #F5DC04
$yellow-dark:								lighten($yellow, 20%) !default;		// #FCE730	
$yellow-mid:								lighten($yellow, 30%) !default;		// #FDED62
$yellow-light:								lighten($yellow, 40%) !default;		// #FDF295
$yellow-lighter:							lighten($yellow, 50%) !default;		// #FEF8C7

// RED COLORS
// ------------------------------------------------------------------------------------------
$red-darker:								lighten($red, 10%) !default;		// #EE281B
$red-dark:									lighten($red, 20%) !default;		// #F1554B
$red-mid:									lighten($red, 30%) !default;		// #F5817A
$red-light:									lighten($red, 40%) !default;		// #F9AEA9
$red-lighter:								lighten($red, 50%) !default;  		// #FCDBD9

// ORANGE COLORS
// ------------------------------------------------------------------------------------------
$orange-darker:								lighten($orange, 10%) !default;		// #FB9620
$orange-dark:								lighten($orange, 20%) !default;		// #FCAE52	
$orange-mid:								lighten($orange, 30%) !default;		// #FDC584
$orange-light:								lighten($orange, 40%) !default;		// #FEDDB6
$orange-lighter:							lighten($orange, 50%) !default;		// #FFF4E8

// TURQUOISE COLORS
// ------------------------------------------------------------------------------------------
$turquoise-darker:							lighten($turquoise, 10%) !default;	// #52B9D1
$turquoise-dark:							lighten($turquoise, 20%) !default;	// #7AC9DC	
$turquoise-mid:								lighten($turquoise, 30%) !default;	// #A2D9E7
$turquoise-light:							lighten($turquoise, 40%) !default;	// #CBEAF1
$turquoise-lighter:							lighten($turquoise, 50%) !default; 	// #F3FAFC



// GRAY CHROMA COLORS
// ------------------------------------------------------------------------------------------
$gray-chroma-darker:						lighten($gray-chroma, 0%) !default;	// #9A9A9A
$gray-chroma-dark:							lighten($gray-chroma, 10%) !default;// #B3B3B3	
$gray-chroma-mid:							lighten($gray-chroma, 20%) !default;// #CDCDCD
$gray-chroma-light:							lighten($gray-chroma, 30%) !default;// #E7E7E7
$gray-chroma-lighter:						lighten($gray-chroma, 36%) !default;// #F6F6F6

// BLUE CHROMA COLORS
// ------------------------------------------------------------------------------------------
$blue-chroma-darker:						lighten($blue-chroma, 0%) !default;	// #003399
$blue-chroma-dark:							lighten($blue-chroma, 10%) !default;// #0044CC	
$blue-chroma-mid:							lighten($blue-chroma, 20%) !default;// #0055FF
$blue-chroma-light:							lighten($blue-chroma, 30%) !default;// #3377FF
$blue-chroma-lighter:						lighten($blue-chroma, 40%) !default;// #6699FF

// PURPLE CHROMA COLORS
// ------------------------------------------------------------------------------------------
$purple-chroma-darker:						lighten($purple-chroma, 0%) !default;	// #7B059D
$purple-chroma-dark:						lighten($purple-chroma, 10%) !default;	// #A207CE	
$purple-chroma-mid:							lighten($purple-chroma, 20%) !default;	// #C411F7
$purple-chroma-light:						lighten($purple-chroma, 30%) !default;	// #D042F9
$purple-chroma-lighter:						lighten($purple-chroma, 40%) !default;	// #DC73FB

// GREEN CHROMA COLORS
// ------------------------------------------------------------------------------------------
$green-chroma-darker:						lighten($green-chroma, 0%) !default;	// #1B4A03
$green-chroma-dark:							lighten($green-chroma, 10%) !default;	// #2D7B05	
$green-chroma-mid:							lighten($green-chroma, 20%) !default;	// #3FAC07
$green-chroma-light:						lighten($green-chroma, 30%) !default;	// #51DD09
$green-chroma-lighter:						lighten($green-chroma, 40%) !default;	// #6AF623

// YELLOW CHROMA COLORS
// ------------------------------------------------------------------------------------------
$yellow-chroma-darker:						lighten($yellow-chroma, 0%) !default;	// #FFF600
$yellow-chroma-dark:						lighten($yellow-chroma, 18%) !default;	// #FFF95C	
$yellow-chroma-mid:							lighten($yellow-chroma, 25%) !default;	// #FFFB80
$yellow-chroma-light:						lighten($yellow-chroma, 35%) !default;	// #FFFCB3
$yellow-chroma-lighter:						lighten($yellow-chroma, 42%) !default;	// #FFFED6

// RED CHROMA COLORS
// ------------------------------------------------------------------------------------------
$red-chroma-darker:							lighten($red-chroma, 0%) !default;	// #BE0404
$red-chroma-dark:							lighten($red-chroma, 10%) !default;	// #F00505	
$red-chroma-mid:							lighten($red-chroma, 20%) !default;	// #FB2D2D
$red-chroma-light:							lighten($red-chroma, 30%) !default;	// #FC5F5F
$red-chroma-lighter:						lighten($red-chroma, 40%) !default; // #FC5F5F

// ORANGE CHROMA COLORS
// ------------------------------------------------------------------------------------------
$orange-chroma-darker:						lighten($orange-chroma, 0%) !default;	// #FF9000
$orange-chroma-dark:						lighten($orange-chroma, 10%) !default;	// #FFA633	
$orange-chroma-mid:							lighten($orange-chroma, 20%) !default;	// #FFBC66
$orange-chroma-light:						lighten($orange-chroma, 30%) !default;	// #FFD399
$orange-chroma-lighter:						lighten($orange-chroma, 40%) !default;	// #FFE9CC

// TURQUOISE CHROMA COLORS
// ------------------------------------------------------------------------------------------
$turquoise-chroma-darker:					lighten($turquoise-chroma, 0%) !default;	// #01CDFE
$turquoise-chroma-dark:						lighten($turquoise-chroma, 10%) !default;	// #34D7FE	
$turquoise-chroma-mid:						lighten($turquoise-chroma, 20%) !default;	// #67E1FE
$turquoise-chroma-light:					lighten($turquoise-chroma, 30%) !default;	// #99EBFF
$turquoise-chroma-lighter:					lighten($turquoise-chroma, 40%) !default;	// #CCF5FF


// BRAND COLORS
// ------------------------------------------------------------------------------------------

	// MESSAGE BOXES
	$errorBackgroundColor:						$red-lighter !default;
	$errorBorderColor:							$red-mid !default;
	$errorFontColor:							$black !default;
	$errorHdr:									$red !default;

	$attentionBoxBackgroundColor:				$yellow-lighter !default;
	$attentionBoxBorderColor:					$yellow-darker !default;
	$attentionBoxFontColor:						$black !default;
	$attentionHdr:								$yellow !default;

	$infoBoxBackgroundColor:					$blue-lighter !default;
	$infoBoxBorderColor:						$blue-darker !default;
	$infoBoxFontColor:							$black !default;
	$infoHdr:									$blue !default;

	$confirmationBoxBackgroundColor:			$green-lighter !default;
	$confirmationBoxBorderColor:				$green-darker !default;
	$confirmationBoxFontColor:					$black !default;
	$confirmationHdr:							$green !default;