//-------------------------------------------------------------------------------------------
// Mercer UX/UI Library - Core v2 - Base Variables Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------


// GLOBAL
// ------------------------------------------------------------------------------------------

// HTML MIN HEIGHT
$htmlMinHeight:								100% !default;

// BORDER RADIUS SIZES
$borderRadiusSmall:							4px !default;
$borderRadiusMedium:						8px !default;
$borderRadiusLarge:							12px !default;
$borderRadiusXLarge:						16px !default;

// BASE VARIABLES
$baseMargin:								18px !default;
$basePadding:								18px !default;
$baseBorderRadius:							$borderRadiusMedium !default;
$baseBorderRadiusIE:						0 !default;

// Z-INDEX MASTER LIST
// Used for a bird's eye view of components dependent on the z-axis
$zindexSlider:           					9995 !default;
$zindexHeader:          					9996 !default;
$zindexMastheadProfileMenu:          		9997 !default;
$zindexDatepicker:           				9998 !default;
$zindexAutocomplete:          				9999 !default;
$zindexTooltip:           					10000 !default;
$zindexDialogOverlay:         				10001 !default;
$zindexDialog:         						10002 !default;


// FONTS
// ------------------------------------------------------------------------------------------
$baseFontStack:								arial, Tahoma, Geneva, sans-serif !default;
$baseFontFilePath:							"../fonts" !default;

// WEB FONTS

// Proxima Nova - Thin
$proximaNovaThinFamily:						proxima_nova_ththin !default;
$proximaNovaThinFilePath:					"#{$baseFontFilePath}/ProximaNova-Thin-webfont" !default;
$proximaNovaThinStack:						"#{$proximaNovaThinFamily}", $baseFontStack !default;

// Proxima Nova - Regular
$proximaNovaRegularFamily:					proxima_nova_rgregular !default;
$proximaNovaRegularFilePath:				"#{$baseFontFilePath}/ProximaNova-Reg-webfont" !default;
$proximaNovaRegularStack:					"#{$proximaNovaRegularFamily}", $baseFontStack !default;

// Proxima Nova - Bold
$proximaNovaBoldFamily:						proxima_nova_rgbold !default;
$proximaNovaBoldFilePath:					"#{$baseFontFilePath}/ProximaNova-Bold-webfont" !default;
$proximaNovaBoldStack:						"#{$proximaNovaBoldFamily}", $baseFontStack !default;

// Proxima Nova - Italic
$proximaNovaItalicFamily:					proxima_novaregular_italic !default;
$proximaNovaItalicFilePath:					"#{$baseFontFilePath}/ProximaNova-RegIt-webfont" !default;
$proximaNovaItalicStack:					"#{$proximaNovaItalicFamily}", $baseFontStack !default;

// Proxima Nova - Bold Italic
$proximaNovaBoldItalicFamily:				proxima_novabold_italic !default;
$proximaNovaBoldItalicFilePath:				"#{$baseFontFilePath}/ProximaNova-BoldIt-webfont" !default;
$proximaNovaBoldItalicStack:				"#{$proximaNovaBoldItalicFamily}", $baseFontStack !default;

// Proxima Nova - Semi-bold
$proximaNovaSemiBoldFamily:					proxima_nova_ltsemibold !default;
$proximaNovaSemiBoldFilePath:				"#{$baseFontFilePath}/ProximaNova-Sbold-webfont" !default;
$proximaNovaSemiBoldStack:					"#{$proximaNovaSemiBoldFamily}", $baseFontStack !default;

// ICON FONTS

// MUL Icon Font
$mulIconFontFamily:							mul_icon_font !default;
$mulIconFontFilePath:						"#{$baseFontFilePath}/mul-icon-font" !default;
$mulIconFontStack:							"#{$mulIconFontFamily}" !default;


// TYPOGRAPHY
// ------------------------------------------------------------------------------------------
$baseFontFamily:							$proximaNovaRegularStack !default;
$baseFontSize:								14px !default;
$baseLineHeight:		        			20px !default;

$WeightBold100:								100 !default;
$WeightBold200:								200 !default;
$WeightBold300:								300 !default;
$WeightBold400:								400 !default;
$WeightBold500:								500 !default;
$WeightBold600:								600 !default;
$WeightBold700:								700 !default;
$WeightBold800:								800 !default;
$WeightBold900:								900 !default;

$hdrH1FontSize:								32px !default;
$hdrH1LineHeight:							52px !default;
$hdrH2FontSize:								26px !default;
$hdrH2LineHeight:							40px !default;
$hdrH3FontSize:								21px !default;
$hdrH3LineHeight:							35px !default;
$hdrH4FontSize:								18px !default;
$hdrH4LineHeight:							25px !default;
$hdrH5FontSize:								14px !default;
$hdrH6FontSize:								12px !default;

$hdrRuleBorderSize:							1px !default;
$hdrRuleBorderStyle:						dotted !default;
$hdrRuleMarginBottom:						10px !default;

$hdrH1RuleLineHeight:						34px !default;
$hdrH2RuleLineHeight:						30px !default;
$hdrH3RuleLineHeight:						27px !default;
$hdrH4RuleLineHeight:						25px !default;

$baseParagraphMarginBottom:					15px !default;

$smallFontSize:								12px !default;

// HORIZONTAL RULES
$hrHeight:									2px !default;
$hrMarginTopBottom:							$baseParagraphMarginBottom !default;


// GRID
// ------------------------------------------------------------------------------------------
$gridWidth:									100% !default;
$gridMaxWidth980:							980px !default;
$gridMaxWidth1200:							1200px !default;
$gridMinWidth:								320px !default;
$gridMinHeight:								550px !default;
$gridSiteGutterPadding:						10px !default;
$gridColumns:								24 !default;
$gridColumnWidth:							20px !default;
$gridGutterWidth:							20px !default;
$gridNoMarginColumnWidth:					39.15px !default;
$gridRowWidth:								($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// FLUID GRID
$fluidGridColumnWidth:						percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:						percentage($gridGutterWidth/$gridRowWidth);
$fluidGridNoMarginColumnWidth:				percentage($gridNoMarginColumnWidth/$gridRowWidth);


// BOXES
// ------------------------------------------------------------------------------------------
$boxBorderSize:								1px !default;
$boxBorderStyle:							solid !default;
$boxHdrBorderSize:							3px !default;
$boxHdrBorderStyle:							solid !default;
$boxBdyBorderTopSize:						1px !default;
$boxBdyBorderTopStyle:						solid !default;
$boxPadding:								15px !default;
$boxVShadow:								1px !default;
$boxHShadow:								1px !default;
$boxShadowBlur:								1px !default;

// MESSAGE BOXES
$msgIcons:									"../images/core";
$msgBorderWidth:							1px !default;
$msgBorderStyle:							solid !default;
$msgBoxPadding:								10px !default;
$msgCloseIconPosition:						-6px -6px 0 0 !default;

// CUSTOM CONTAINERS
$boxInlineSearchBorderSizeColor:			1px !default;
$boxInlineSearchBorderTypeColor:			dotted !default;


// FORM
// ------------------------------------------------------------------------------------------
$formMarginBottom:							20px !default;

// FORM LABELS
$labelMarginBottom:							1px !default;
$baseInputBorderRadius:						$borderRadiusSmall !default;

// FORM INPUTS
$baseInputBorderSize:						1px !default;
$baseInputPadding:							2px !default;
$baseCheckboxRadioWidth:					18px !default;

// FORM INPUT SPACING
$marginBottomFormElements:					10px !default;

// FORM ACTION CONTAINER
$formActionMargin:							5px !default;

// SELECTED CHECKBOX
$selectedCheckboxBorderRadius:				$borderRadiusSmall !default;


// BUTTONS
// ------------------------------------------------------------------------------------------

// BUTTON CORE
$buttonHoverBorderSize:						1px !default;
$buttonHoverBorderStyle:					solid !default;
$buttonVShadow:								0 !default;
$buttonHShadow:								0 !default;
$buttonShadowBlur:							0 !default;
$buttonBorderRadius:						$baseBorderRadius !default;
$buttonMinWidth:							100px !default;
$buttonPaddingTopBottom:					7px !default;
$buttonPaddingLeftRight:					12px !default;
$buttonFontSize:							15px !default;
$buttonLineHeight:							15px !default;
$buttonFontWeight:							normal !default;
$buttonBorderSize:							1px !default;
$buttonBorderStyle:							solid !default;

// BUTTON SIZES
$buttonXXXSmallFontSize:					10px !default;
$buttonXXSmallFontSize:						12px !default;
$buttonXSmallFontSize:						13px !default;
$buttonSmallFontSize:						14px !default;
$buttonMediumFontSize:						15px !default;
$buttonLargeFontSize:						18px !default;
$buttonXLargeFontSize:						22px !default;
$buttonXXLargeFontSize:						26px !default;
$buttonXXXLargeFontSize:					33px !default;

// BUTTON ICONS
$buttonIconLeftMargin:						5px !default;
$buttonIconRightMargin:						5px !default;
$buttonIconTopMargin:						3px !default;
$buttonIconBottomMargin:					3px !default;

// BUTTON GROUP VERTICAL
$buttonVertGroupBorderTopSize:				1px !default;
$buttonVertGroupBorderTopStyle:				solid !default;

// BUTTON GROUP HORIZONTAL
$buttonHorzGroupBorderTopSize:				1px !default;
$buttonHorzGroupBorderTopStyle:				solid !default;
$buttonHorzGroupBorderBottomSize:			1px !default;
$buttonHorzGroupBorderBottomStyle:			solid !default;
$buttonHorzGroupBorderRightSize:			1px !default;
$buttonHorzGroupBorderRightStyle:			solid !default;
$buttonHorzGroupFirstChildBorderLeftSize:	1px !default;
$buttonHorzGroupFirstChildBorderLeftStyle:	solid !default;


// TABLES
// ------------------------------------------------------------------------------------------
$tableColWidthMultiplier: 					1% !default;
$tableBaseFontSize:							12px !default;
$tableBorderStyle:							solid !default;
$tableTdBorderStyle:						solid !default;
$tableMarginBottom:							20px !default;


// MODULE VARIABLES
// ------------------------------------------------------------------------------------------

// HEADER
//-------
$mastheadHeight:							88px !default;
$mastheadContentHeight:						52px !default;
$mastheadMarginBottom:						30px !default;
$mastheadLogoLineHeight:					51px !default;
$mastheadLogoFontWeight:					400 !default;
$mastheadLogoFontSize:						33px !default;
$mastheadNavHeight:							36px !default;

// NAVIGATION
//-----------
$navLinkHeight:								35px !default;
$navLinkFontSize:							14px !default;
$navBoxLinkHeight:							30px !default;
$navBoxLinkFontSize:						12px !default;

// MINI FILTER
// -----------
$miniFilterFontSize:						11px !default;
$miniFilterFontWeight:						normal !default;
$miniFilterLabelMarginRight:				10px !default;
$miniFilterItemMarginRight:					5px !default;
$miniFilterItemSeperatorWidth:				1px !default;
$miniFilterItemSeperatorStyle:				solid !default;
$miniFilterActivePaddingTopBottom: 			1px !default;
$miniFilterActivePaddingLeftRight: 			4px !default;

// PAGINATION
// -----------
$paginationFontSize:						12px !default;
$paginationBorderStyle:						solid !default;


// COMPONENT VARIABLES
// ------------------------------------------------------------------------------------------

// ACCORDIAN
$uiAcccordianBorderSize:					1px !default;
$uiAcccordianBorderStyle:					solid !default;
$uiAcccordianMarginTopBottom: 				4px !default;
$uiAcccordianMarginLeftRight: 				8px !default;
$uiAcccordianContentMarginTopBottom: 		8px !default;
$uiAcccordianContentMarginLeftRight: 		15px !default;

// AUTOCOMPLETE
$autocompleteBorderSize:					2px !default;
$autocompleteBorderStyle:					solid !default;
$autocompleteItemFontSize:					$baseFontSize !default;
$autocompleteItemBorderTopSize:				1px !default;
$autocompleteItemBorderTopStyle:			solid !default;
$autocompleteItemBorderBottomSize:			1px !default;
$autocompleteItemBorderBottomStyle:			solid !default;
$autocompleteItemUnderlineText:				underline !default;

// DATEPICKER
$datepickerMarginTop:						5px !default;
$datepickerBorderRadius:					$baseBorderRadius !default;
$datepickerHdrPaddingTopBottom:				4px !default;
$datepickerHdrFontSize:						14px !default;
$datepickerMessageFontSize:					11px !default;

// DIALOG
$dialogBorderRadius:						$baseBorderRadius !default;
$dialogOverlayBackgroundColorOpacity:		40 !default;
$dialogPositionTop:							100px !default;
$dialogVShadow:								1px	!default;
$dialogHShadow:								1px	!default;
$dialogShadowBlur:							1px	!default;
$dialogHdrPaddingTop:						15px !default;
$dialogHdrPaddingRight:						60px !default;
$dialogHdrPaddingBottom:					12px !default;
$dialogHdrPaddingLeft:						18px !default;
$dialogHdrBorderBottomSize:					0 !default;
$dialogHdrBorderBottomStyle:				solid !default;
$dialogHdrFontSize:							$hdrH3FontSize !default;
$dialogContentMaxHeight:					430px !default;
$dialogContentPaddingTop:					12px !default;
$dialogContentPaddingLeftRight:				18px !default;
$dialogContentBorderTopSize:				1px !default;
$dialogContentBorderTopStyle:				solid !default;
$dialogPhoneMaxWidth:						280px !default;
$dialogPhoneHdrFontSize:					18px !default;

// SCROLL PANE
$scrollPaneWidth:							100% !default;
$scrollPaneHeight:							300px !default;
$scrollPanePaddingRight:					18px !default;
$scrollPaneVerticalBarWidth:				8px !default;
$scrollPaneVerticalBarPositionRight:		5px !default;
$scrollPaneHorizontalBarHeight:				8px !default;
$scrollPaneHorizontalBarPositionBottom:		5px !default;
$scrollPaneBarBorderRadius:					$borderRadiusSmall !default;
$scrollPaneBarBorderRadiusIE:				0 !default;

// SLIDER
$uiSliderHandleBorderSize:					1px !default;
$uiSliderHandleBorderStyle:					solid !default;
$uiSliderBarBorderSize:						1px !default;
$uiSliderBarBorderStyle: 					solid !default;

// TABS
$tabsSetMarginBottom:						18px !default;
$tabsNavHeight:								28px !default;
$tabsHeight:								26px !default;
$tabsPositonTop:							2px !default;
$tabsMarginRight:							2px !default;
$tabsMarginBottom:							1px !default;
$tabsPaddingTopBottom:						3px !default;
$tabsPaddingLeftRight:						10px !default;
$tabsBorderRadius:							$baseBorderRadius !default;
$tabsBorderSize:							1px !default;
$tabsBorderStyle:							solid !default;
$tabsFontSize:								12px !default;
$tabsFontWeight:							normal !default;
$tabsActivePositonTop:						2px !default;
$tabsActiveHeight:							27px !default;
$tabsActivePaddingBottom:					1px !default;
$tabsPanelPadding:							14px !default;
$tabsPanelBorderSize:						1px !default;
$tabsPanelBorderStyle:						solid !default;

// TOOLTIP
$tooltipBorderRadius:						$borderRadiusSmall !default;
$tooltipVShadow:							1px	!default;
$tooltipHShadow:							1px	!default;
$tooltipShadowBlur:							5px	!default;
$tooltipBorderSize:							1px !default;
$tooltipBorderStyle:						solid !default;
$tooltipFontSize:							12px !default;
$tooltipLineHeight:							14px !default;
$tooltipPaddingTopBottom:					5px !default;
$tooltipPaddingLeftRight:					8px !default;


// RESPONSIVE VARIABLES
// ------------------------------------------------------------------------------------------

// BREAKPOINTS
// small media query = phones
// medium media query = tablets
// large media query = desktop
$smallMediaQueryBreakpointMax:				767px !default;
$mediumMediaQueryBreakpointMin:				768px !default;
$mediumMediaQueryBreakpointMax:				979px !default;
$largeMediaQueryBreakpointMin:				980px !default;