//-------------------------------------------------------------------------------------------
// UI Guidelines - Responsive CSS - Phone - 320px-767px
// DATE - October 1, 2012
// AUTHOR - Doug Fraize
//-------------------------------------------------------------------------------------------

/*--- Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire ---*/
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	/*--- GLOBAL --------------------------------------------------------------------------*/
	.ui_guidelines						{
										position:relative;
										}
	.grid								{
										@include border-radius(0,all);
										margin-top:0;
										padding-top:#{size(10)}em;
										padding-bottom:#{size(10)}em;
										}
	.bookmark							{
										top:0;
										}

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead							{
										position:static;
		.masthead-adjust					{
			h1									{
												text-align:left;
												line-height:1em;
												margin-bottom:0;
												font-size:#{size(20)}em;
												position:relative;
												top:15px;
												}
											}
			.ui-navbar						{
											display:none;
											}
										}

	/*--- MASTHEAD DEMO -------------------------------------------------------------------*/
	.masthead-demo						{
										display:block;
										position:relative;
										top:0;
		.masthead-adjust					{
			.logo								{
				img									{
													margin:#{size(10)}em 0 0 0;
													}
												}

			/*--- MASTHEAD MAIN NAV --------------------------------------------------------*/
			.ui-masthead-nav					{
												display:none;
												}
											}
										}

	/*--- FOOTER ---------------------------------------------------------------------------*/
	.footer								{
		.footer-adjust						{
			.blank								{
												border-top:0 !important;
												border-bottom:0 !important;
												padding:0 !important;
												margin:0;
												height:0;
												}
			.tech-well							{
				dd									{
													width:50%;
													float:left;
													min-height:#{size(135)}em;
													}
												}
			.copyright							{
												padding:#{size(15)}em;
												}
											}
										}

	/*--- HOMEPAGE ------------------------------------------------------------------------*/
	.qr-code-ctn						{
										display:none;
										}

	.intro								{
										margin:0 0 #{size(15)}em 0;
		h1									{
											font-size:#{size(35)}em;
											line-height:1.15em;
											}
		h2									{
											font-size:#{size(18)}em;
		}
										}
	
	/*--- MEDIAQUERY BREAKPOINTS PAGE -----------------------------------------------------*/
	.media-query-tbl					{
		tbody								{
			td									{
				p 									{
													font-size:#{size(5)}em;
													}
												}
											}
										}

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead							{
		.masthead-adjust					{
			.mb-menu-btn						{
												@include border-radius(6px,all);
												@include box-shadow(0,0,0,transparent);
												background-image:none;
												background-color:transparent;
												color:#fff;
												text-shadow:0 -1px 1px #333;
												border:1px solid #999;
												}
											}
										}

	/*--- FOOTER -------------------------------------------------------------------------------*/
	.footer								{
		.footer-adjust						{
			.mb-link-list-vert					{
				dt									{
													border-top:1px solid #666;
													border-bottom:1px solid #333;
													background-color:#494949;
													color:#fff;
													text-shadow:0 1px -1px #000;
													}
				dd									{
													border-top:1px solid #ccc;
													border-bottom:1px solid #333;
													}
												}
			.ui-back-to-top-top-ctn				{
												border-top:1px solid #333;
												border-bottom:1px solid #333;
				.ui-back-to-top						{
					a									{
														@include background-gradient(#EEEEED, #BBBBBB);
														@include border-radius(#{size(6)}em,all);
														@include box-shadow(0, 0, 0, transparent);
														border:1px solid #777777;
														text-decoration:none;
														color:#333;
														text-shadow:0 1px 1px #fff;
						&:active							{
															@include background-gradient(#BBBBBB, #EEEEED);
															text-shadow:0 1px -1px #fff;
															}
														}
													}
												}
											}
										}

	/*--- MEDIAQUERY BREAKPOINTS PAGE -----------------------------------------------------*/
	.mediaquery_breakpoints				{
										background:cyan;
										}
}
