/*------------------------------------------------------------------------------------------
UI Guidelines - IE CSS
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

//=== SITE IMPORTS ==========================================================================
@import	"vars",
		"functions"
		;

//=== SASS IMPORTS ==========================================================================
@import	"../../core_v4/partials/mixins";


/*=== WEBSITE IE STYLES ===================================================================*/

/*===========================================================================================
IE CATCH ALL FIXES (IE8+)
===========================================================================================*/

/*--- GLOBAL ------------------------------------------------------------------------------*/
.grid						{
							margin-top:0;
							border-radius:0;
							}

/*--- NAVBAR ------------------------------------------------------------------------------*/
.masthead					{
							position:static;
							}

/*=========================================================================================== 
IE8 FIXES 
===========================================================================================*/
.ie8						{

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead					{
		.ui-navbar					{
									position:relative;
									}
								}

	/*--- MASTHEAD DEMO -------------------------------------------------------------------*/
	.masthead-demo				{
		.masthead-adjust			{
		
		/*--- MASTHEAD UTILITY NAV --------------------------------------------------------*/
		.ui-masthead-util-nav			{
										border:1px solid #666;
										border-top:0;
										}
									}
								}

							}

/*=========================================================================================== 
IE9 FIXES 
===========================================================================================*/
.ie9						{

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead					{
		.ui-navbar					{
			ul							{
				li							{
					.sub-menu					{
												border-radius:0;
												}
					&:hover						{
												border-radius:0;
												}
											}
										}
									}
								}

	/*--- MASTHEAD DEMO -------------------------------------------------------------------*/
	.masthead-demo				{
		.masthead-adjust			{
		
		/*--- MASTHEAD UTILITY NAV --------------------------------------------------------*/
		.ui-masthead-util-nav			{
										border:1px solid #666;
										border-top:0;
										}
									}
								}

							}