/*------------------------------------------------------------------------------------------
CORE v3.5 - Page Partial
DATE - May 21, 2012
AUTHOR - Doug Fraize & Matthew Holmes
-------------------------------------------------------------------------------------------*/

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

/*--- MASTHEAD -----------------------------------------------------------------------------*/
.masthead						{
								@include clearfix;
								position:relative;
								margin-bottom:#{size(15)}em;
	.masthead-adjust				{
									position:relative;

		/*--- MASTHEAD UTILITY NAV ---------------------------------------------------------*/
		.ui-masthead-util-nav			{
										@include border-radius(0 0 #{size(6)}em #{size(6)}em,all);
										@include box-shadow(0,1px,1px,#333);
										background-color:#ccc;
										color:#666;
										position:absolute;
										top:-15px;
										right:0;
										padding:#{size(5)}em #{size(10)}em;
			.last							{
											margin-right:0;
				a								{
												padding-right:0;
												}
											}
			.pipe							{
											color:#999;
											}
										}

		/*--- MASTHEAD MAIN NAV -------------------------------------------------------------*/
		.ui-masthead-nav				{
    									width:100%;
    									display:table;
    									word-spacing:-1em;
			dd								{
											margin:0;
											display:table-cell;
											word-spacing:0;
											vertical-align:top;
				a								{
												display:block;
												padding:#{size(8)}em #{size(10)}em;
												height:#{size(38)}em;
												text-decoration:none;
												text-align:center;
												background-color:#efefef;
												font-weight:bold;
												font-size:#{size(13)}em;
												line-height:1.25em;
												border-left:1px solid #666;
												border-top:1px solid #333;
												border-bottom:1px solid #666;
					&:hover							{
													background-color:#ccc;
													}
					&.current						{
													background-color:#ccc;
													}
												}
											}
			.first-child					{
				a								{
												@include border-radius(#{size(6)}em 0 0 0,all);
												border-left:1px solid #666;
												}
											}
			.last-child						{
				a								{
												@include border-radius(0 #{size(6)}em 0 0,all);
												border-right:1px solid #666;
												}
											}
			.ui-masthead-nav-more			{
											position:relative;
				.ui-masthead-nav-more-menu		{
												position:absolute;
												z-index:998;
												left:-999em; /* Hides the drop down */
												width:100%;
					dd								{
													display:block;
													width:100%;
						a								{
														@include border-radius(0,all);
														height:auto;
														text-align:left;
														border-top:1px solid #666;
														border-right:1px solid #666;
														border-bottom:0;
														}
													}
												}
				&:hover							{
					.ui-masthead-nav-more-menu		{
													left:auto;
													top:auto;
						.first-child					{
							a								{
															border-top:0;
															}
														}
						.last-child						{
							a								{
															@include border-radius(0 0 #{size(6)}em #{size(6)}em,all);
															border-bottom:1px solid #666;
															}
														}
													}
												}
											}
										}
									}
								}

/* FF 3.5+ fix for ui-masthead-nav dd nav items, FF can not use display:table-cell with absolute positioning */
body:not(:-moz-handler-blocked) .masthead .masthead-adjust .ui-masthead-nav dd
								{
								display:inline-block;
								}

/*--- FOOTER -------------------------------------------------------------------------------*/
.footer							{
								@include clearfix;
								position:relative;
								text-align:left;
								margin-top:#{size(15)}em;
								}

/*--- KEYLINES -----------------------------------------------------------------------------*/

/* USE ON ELEMENTS WHICH NEED A KEYLINE ON THE RIGHT */
.ui-keyline-right				{
								padding-right:#{size(20)}em;
								border-right:1px solid #CCC;
	img								{
									margin-top:#{size(5)}em;
									}
								}

/* USE ON ELEMENTS WHICH NEED A KEYLINE ON THE LEFT */
.ui-keyline-left				{
								padding-left:#{size(20)}em;
								border-left:1px solid #CCC;
	img								{
									margin-top:#{size(5)}em;
									}
								}

/* REMOVES BORDER ON LAST KEYLINE RIGHT */
.ui-keyline-right.last			{
								border-right:0;
								}

/* REMOVES BORDER AND PADDING ON FIRST KEYLINE LEFT, MAKE SURE TO ADD CLASS OF FIRST */
.ui-keyline-left.first			{
								border-left:0;
								padding-left:0;
								}

/*--- HORIZONTAL CENTERING OF ELEMENTS ---------------------------------------------------*/

/* HORIZONTAL CENTERING FOR INLINE ELEMENTS - APPLY CLASS TO CONTAINING ELEMENT OF ELEMENT THAT NEEDS TO BE HORZ CENTERED */
.ui-center-inline				{
								text-align:center;
								}

/* HORIZONTAL CENTERING FOR BLOCK ELEMENTS - APPLY CLASS TO ELEMENT THAT NEEDS TO BE HORZ CENTERED */
.ui-center-block				{
								margin-right:auto;
								margin-left:auto;
								}

/*--- HR ELEMENTS -------------------------------------------------------------------------*/
hr								{
								background-color:#FFF;
								border:0;
								border-top:1px solid #CCC;
								clear:both;
								color:#FFF;
								display:block;
								height:#{size(2)}em;
								margin:#{size(20)}em 0;
								}

/*--- ICON SPRITE  ------------------------------------------------------------------------*/
.ui-icn-sprite					{
								background-color:transparent;
								background-repeat:no-repeat;
								background-position:0 0;
								display:inline-block;
								} /* Icon sprite call and setup */

/*--- BASIC TABLE STYLES ------------------------------------------------------------------*/
table							{
								width:100%;
								border:1px dotted #CCC;
								border-collapse:collapse;
								border-spacing:0;
								color:#000;
								margin-bottom:#{size(15)}em;

	caption							{
									padding:#{size(1)}em 0 #{size(5)}em 0;
									font-weight:bold;
									text-align:left;
									}
	th								{
									background-color:#ccc;
									border-right:1px solid #FFF;
									padding:#{size(5)}em #{size(4)}em;
									text-align:left;
		&.last-child, &:last-child		{
										border-right:0;
										}
									}
	td								{
									border:1px dotted #CCC; // 1px/13px
									padding:#{size(3)}em #{size(4)}em;
									}
	.even							{

		td								{
										background-color:#fff;
										}
									}
	.odd							{

		td								{
										background-color:#efefef;
										}
									}

								}


/*--- BASIC IMAGE STYLES ------------------------------------------------------------------*/
img								{
								max-width:100%;
								margin:0 0 #{size(10)}em 0;

	&.left							{
									float:left;
									margin-top:#{size(5)}em;
									margin-right:#{size(20)}em;
									}
	&.right							{
									float:right;
									margin-top:#{size(5)}em;
									margin-left:#{size(20)}em;
									}

								}

/*--- HORIZONTAL NAVIGATION STYLES ---------------------------------------------------------*/
.link-list-horz					{
								padding:0;
								margin:0;
								
	dd,li							{
									display:inline;
									padding:0;
									margin:0 #{size(6)}em 0 0;
									
		a								{
										display:inline-block;
										padding:0 #{size(8)}em 0 0;
										margin:0;
										}
									
									}
								
								}

/*--- BACK TO TOP STYLES -------------------------------------------------------------------*/
.ui-back-to-top					{
								padding:#{size(18)}em #{size(20)}em 0 #{size(20)}em;
								border-top:1px solid #ccc;
	p								{
									margin:0;
									text-align:right;
									font-size:#{size(12)}em;
									text-transform:uppercase;
		a								{
										padding:#{size(5)}em;
										text-decoration:none;
										border:1px solid transparent;
										color:#666;
			.ui-back-to-top-icn				{
											font-weight:bold;
											font-size:#{size(16)}em;
											vertical-align:#{size(3)}em;
											padding-right:#{size(5)}em;
											}
			&:hover							{
											@include background-gradient(#efefef, #cccccd);
											@include border-radius(#{size(6)}em,all);
											@include box-shadow(0, 1px, 1px, #ccc);
											border:1px solid #B4B4B4;
											color:#333;
											text-shadow:1px 1px 1px #fff;
											}
			&:active						{
											@include background-gradient(#cccccd, #efefef);
											@include border-radius(#{size(6)}em,all);
											@include box-shadow(0, 1px, -1px, #ccc);
											text-shadow:1px 1px -1px #fff;
											}
										}
									}
								}