/*------------------------------------------------------------------------------------------
Mercer Evolution - Site CSS
DATE - April 4, 2014
AUTHOR - Doug Fraize, Matthew Holmes
-------------------------------------------------------------------------------------------*/
/*=== CORE DEV TOOLS ======================================================================*/
code,
pre {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 3px 2px 3px;
  font-family: Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333; }

code {
  padding: 2px 4px;
  color: #514721;
  white-space: nowrap;
  background-color: #FFF6BF;
  border: 1px solid #FFD324; }

.red-outline {
  outline: 1px solid red; }

.blue-outline {
  outline: 1px solid blue; }

.red-border-outline {
  border: 1px solid red; }

.blue-border-outline {
  border: 1px solid blue; }

.gray-background {
  background-color: #CCC; }

.red-background {
  background-color: red; }

/*=== WEBSITE STYLES ======================================================================*/
/*--- SITE GLOBAL -------------------------------------------------------------------------*/
html.mul-mod-js {
  display: none; }

.related-items-menu {
  top: 3px !important;
  font-family: "mul_icon_font";
  display: none; }

.mul-tabs.ui-tabs .get-code-tab.ui-state-default {
  display: none; }

.mul-grid .example-min-height {
  min-height: 250px;
  margin: 35px 0; }

.example-ctn {
  background-color: white; }

/*--- HOMEPAGE -----------------------------------------------------------------------------*/
.hp-content-column dd {
  margin-left: 0; }
  .hp-content-column dd [class*="mul-icon"] {
    float: right; }
.hp-content-column .mul-tabs.ui-tabs .ui-tabs-nav .ui-state-default {
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
  border: 0; }
  .hp-content-column .mul-tabs.ui-tabs .ui-tabs-nav .ui-state-default a {
    margin: 0;
    padding: 0; }
.hp-content-column .mul-tabs.ui-tabs .ui-tabs-panel {
  border: 0; }

.marketing-ctn {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 14px; }
  .marketing-ctn .img-section {
    border-bottom: 1px solid #e6e6e6; }
    .marketing-ctn .img-section img {
      margin-bottom: -5px; }
  .marketing-ctn .mkt-text h1 {
    font-family: "proxima_nova_ththin", arial, Tahoma, Geneva, sans-serif; }
    .marketing-ctn .mkt-text h1 span {
      display: block; }
  .marketing-ctn .mkt-text .mul-icon-adv {
    margin-top: 15px;
    float: right; }

.hp-layout .mul-vertical-list {
  margin-bottom: 14px; }
.hp-layout .todo {
  color: #f48132;
  font-family: "proxima_nova_ltsemibold", arial, Tahoma, Geneva, sans-serif;
  padding-left: 6px; }
.hp-layout .done {
  color: #55842B;
  display: inline-block;
  font-family: "proxima_nova_ltsemibold", arial, Tahoma, Geneva, sans-serif;
  padding-left: 6px; }

/*--- LAYOUT/GRIDS PAGE --------------------------------------------------------------------*/
.unit {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 15px;
  background-color: #e7e7e7;
  border: 1px solid #ccc; }

/*--- TYPE PAGE ----------------------------------------------------------------------------*/
.type-table td.type-example {
  font-size: 16px !important; }

.hyphen-demo {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }

/*--- ICONS PAGE ----------------------------------------------------------------------------*/
#icons-ctn #icon-font-filter {
  width: 250px; }

.i-code {
  display: none; }

.icon-codes-on .i-code {
  display: inline; }

.icons-large-on i[class^="mul-icon-"] {
  font-size: 48px;
  margin: 0 auto;
  display: block; }

.icon-codes-on .i-name {
  display: none; }

/*--- COLOR PAGE --------------------------------------------------------------------------*/
.color-block {
  height: 50px;
  text-align: center;
  color: white;
  padding-top: 15px;
  text-shadow: 1px 1px 1px #333333; }

.gray .color-block-01 {
  background-color: black; }
.gray .color-block-02 {
  background-color: #333333; }
.gray .color-block-03 {
  background-color: #666666; }
.gray .color-block-04 {
  background-color: #999999; }
.gray .color-block-05 {
  background-color: #b0b0b0; }
.gray .color-block-06 {
  background-color: #cccccc; }
.gray .color-block-07 {
  background-color: #e6e6e6; }
.gray .color-block-08 {
  background-color: #eeeeee; }
.gray .color-block-09 {
  background-color: #f7f7f7; }

.blue-gray .color-block-01 {
  background-color: #23334c; }
.blue-gray .color-block-02 {
  background-color: #395a85; }
.blue-gray .color-block-03 {
  background-color: #396ea8; }
.blue-gray .color-block-04 {
  background-color: #517baa; }
.blue-gray .color-block-05 {
  background-color: #6b90b8; }
.blue-gray .color-block-06 {
  background-color: #a9bcd3; }
.blue-gray .color-block-07 {
  background-color: #c3d2e5; }
.blue-gray .color-block-08 {
  background-color: #e9eef5; }
.blue-gray .color-block-09 {
  background-color: #e8f0f7; }

.blue-sapphire .color-block-01 {
  background-color: #002c77; }
.blue-sapphire .color-block-02 {
  background-color: #006d9e; }
.blue-sapphire .color-block-03 {
  background-color: #00a8c8; }
.blue-sapphire .color-block-04 {
  background-color: #a6e2ef; }

.purple .color-block-01 {
  background-color: #43276d; }
.purple .color-block-02 {
  background-color: #595997; }
.purple .color-block-03 {
  background-color: #6f83c1; }
.purple .color-block-04 {
  background-color: #c4cae6; }

.fuscia .color-block-01 {
  background-color: #560054; }
.fuscia .color-block-02 {
  background-color: #932077; }
.fuscia .color-block-03 {
  background-color: #ce3d95; }
.fuscia .color-block-04 {
  background-color: #e7b8d5; }

.pink .color-block-01 {
  background-color: #a9194f; }
.pink .color-block-02 {
  background-color: #ed2c67; }
.pink .color-block-03 {
  background-color: #f7b6bb; }

.red .color-block-01 {
  background-color: #810009; }
.red .color-block-02 {
  background-color: #ba2c2b; }
.red .color-block-03 {
  background-color: #ef4e45; }
.red .color-block-04 {
  background-color: #fcdbd9; }

.orange .color-block-01 {
  background-color: #c45f24; }
.orange .color-block-02 {
  background-color: #f48132; }
.orange .color-block-03 {
  background-color: #faa45e; }
.orange .color-block-04 {
  background-color: #fccfab; }

.tan .color-block-01 {
  background-color: #8e5501; }
.tan .color-block-02 {
  background-color: #c6a54f; }
.tan .color-block-03 {
  background-color: #f1d485; }
.tan .color-block-04 {
  background-color: #fef8e3; }

.green .color-block-01 {
  background-color: #005804; }
.green .color-block-02 {
  background-color: #2d7b05; }
.green .color-block-03 {
  background-color: #6eaa38; }
.green .color-block-04 {
  background-color: #72be44; }
.green .color-block-05 {
  background-color: #98e96c; }
.green .color-block-06 {
  background-color: #bddca1; }
.green .color-block-07 {
  background-color: #d6ebc3; }

.blue-green .color-block-01 {
  background-color: #004c4f; }
.blue-green .color-block-02 {
  background-color: #008075; }
.blue-green .color-block-03 {
  background-color: #0fb694; }
.blue-green .color-block-04 {
  background-color: #a7d9c8; }

.colors {
  border: 1px dotted #cccccc;
  display: block;
  height: 40px;
  width: 100%; }

.mul-navbar-color {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #f7f7f7, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #cccccc);
  background-image: -o-linear-gradient(top, #f7f7f7, #cccccc);
  background-image: linear-gradient(to bottom, #f7f7f7, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7F7F7', endColorstr='#FFCCCCCC', GradientType=0); }

.table-header-row {
  background-color: #e9eef5; }

.table-subheader-row {
  background-color: #e8f0f7; }

.table-header-row-color {
  background-color: #a6e2ef; }

.table-subheader-row-color {
  background-color: #E8F0F7; }

.table-data-row-01 {
  background-color: white; }

.table-data-row-02 {
  background-color: #f7f7f7; }

.table-subtotal-row {
  background-color: #eeeeee; }

.table-total-row {
  background-color: #e6e6e6; }

.table-sorting-row-01 {
  background-color: #f7f7f7; }

.table-sorting-row-02 {
  background-color: #eeeeee; }

.table-header-border {
  background-color: #A9BCD3; }

.table-row-border {
  background-color: #cccccc; }

.table-subheader-border {
  background-color: #C3D2E5; }

.btn-primary {
  background-color: #58a42c;
  background-image: -moz-linear-gradient(top, #72be44, #2d7b05);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#72be44), to(#2d7b05));
  background-image: -webkit-linear-gradient(top, #72be44, #2d7b05);
  background-image: -o-linear-gradient(top, #72be44, #2d7b05);
  background-image: linear-gradient(to bottom, #72be44, #2d7b05);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF72BE44', endColorstr='#FF2D7B05', GradientType=0); }

.btn-primary-active {
  background-color: #2a7e1c;
  background-image: -moz-linear-gradient(top, #005804, #72be44);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005804), to(#72be44));
  background-image: -webkit-linear-gradient(top, #005804, #72be44);
  background-image: -o-linear-gradient(top, #005804, #72be44);
  background-image: linear-gradient(to bottom, #005804, #72be44);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF005804', endColorstr='#FF72BE44', GradientType=0); }

.btn-primary-hover {
  background-color: #47972c;
  background-image: -moz-linear-gradient(top, #72be44, #005804);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#72be44), to(#005804));
  background-image: -webkit-linear-gradient(top, #72be44, #005804);
  background-image: -o-linear-gradient(top, #72be44, #005804);
  background-image: linear-gradient(to bottom, #72be44, #005804);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF72BE44', endColorstr='#FF005804', GradientType=0); }

.btn-default {
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #eeeeee, #b0b0b0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#b0b0b0));
  background-image: -webkit-linear-gradient(top, #eeeeee, #b0b0b0);
  background-image: -o-linear-gradient(top, #eeeeee, #b0b0b0);
  background-image: linear-gradient(to bottom, #eeeeee, #b0b0b0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFB0B0B0', GradientType=0); }

.btn-default-active {
  background-color: #b8b8b8;
  background-image: -moz-linear-gradient(top, #999999, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #999999, #eeeeee);
  background-image: -o-linear-gradient(top, #999999, #eeeeee);
  background-image: linear-gradient(to bottom, #999999, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF999999', endColorstr='#FFEEEEEE', GradientType=0); }

.btn-default-hover {
  background-color: #cecece;
  background-image: -moz-linear-gradient(top, #eeeeee, #999999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#999999));
  background-image: -webkit-linear-gradient(top, #eeeeee, #999999);
  background-image: -o-linear-gradient(top, #eeeeee, #999999);
  background-image: linear-gradient(to bottom, #eeeeee, #999999);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FF999999', GradientType=0); }

/*--- CORP LOGOS PAGE -----------------------------------------------------------------------*/
.corp-logo-background-color {
  background-color: #23334c !important; }

/*--- PAGINATION PAGE -----------------------------------------------------------------------*/
.pagination-hdr {
  margin-top: 5px; }

/*--- LOGIN DEMOS ---------------------------------------------------------------------------*/
.mul-layout-login-background-1-demo {
  background-image: url("../images/login_custom_bkgd_1.jpg"); }

.mul-layout-login-background-2-demo {
  background-image: url("../images/login_custom_bkgd_2.jpg"); }

.mul-layout-login-background-3-demo {
  background-image: url("../images/login_custom_bkgd_3.jpg"); }

/*--- DEV QUICK REFERENCE -------------------------------------------------------------------*/
.color-vars-quick-reference-table tr {
  color: white; }
.color-vars-quick-reference-table .default-text-color {
  color: #333333; }

.mul-footable.color-vars-quick-reference-table tbody > tr:nth-child(odd) > .mul-highlight {
  background-color: inherit !important; }

.mul-footable.color-vars-quick-reference-table .mul-highlight {
  background-color: inherit !important; }

/*=== MEDIA QUERIES ==========================================================================*/
@media only screen and (max-width: 767px) {
  /*--- FOOTER --------------------------------------------------------------------------*/
  .mul-footer .mul-footer-adjust .mul-footer-content-ctn .mul-footer-copyright .mul-horizontal-list-piped li {
    display: block;
    border: 0;
    padding: 0; } }
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /*--- HOME PAGE -----------------------------------------------------------------------*/
  .marketing-ctn .img-section {
    border-bottom: 0; }
  .marketing-ctn .mkt-text h1 {
    margin-top: 40px; }
    .marketing-ctn .mkt-text h1 span {
      display: inline-block; }
  .marketing-ctn .mkt-text .mul-icon-adv {
    margin-top: 35px;
    margin-right: 80px; }

  /*--- TYPE PAGE ----------------------------------------------------------------------------*/
  .type-table td.type-example {
    font-size: 14px !important; } }
@media only screen and (min-width: 980px) {
  /*--- GLOBAL --------------------------------------------------------------------------*/
  .mul-tabs.ui-tabs .get-code-tab.ui-state-default {
    background-color: #f7dd38;
    background-image: -moz-linear-gradient(top, #fceb5a, #f1c800);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fceb5a), to(#f1c800));
    background-image: -webkit-linear-gradient(top, #fceb5a, #f1c800);
    background-image: -o-linear-gradient(top, #fceb5a, #f1c800);
    background-image: linear-gradient(to bottom, #fceb5a, #f1c800);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCEB5A', endColorstr='#FFF1C800', GradientType=0);
    display: block;
    margin-left: 15px;
    color: #333333; }
    .mul-tabs.ui-tabs .get-code-tab.ui-state-default.ui-state-hover {
      background-color: #eed639;
      background-image: -moz-linear-gradient(top, #fceb5a, #d9b503);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fceb5a), to(#d9b503));
      background-image: -webkit-linear-gradient(top, #fceb5a, #d9b503);
      background-image: -o-linear-gradient(top, #fceb5a, #d9b503);
      background-image: linear-gradient(to bottom, #fceb5a, #d9b503);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCEB5A', endColorstr='#FFD9B503', GradientType=0); }
    .mul-tabs.ui-tabs .get-code-tab.ui-state-default.ui-state-active {
      background-color: #fdf297;
      background-image: -moz-linear-gradient(top, #fceb5a, white);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fceb5a), to(white));
      background-image: -webkit-linear-gradient(top, #fceb5a, white);
      background-image: -o-linear-gradient(top, #fceb5a, white);
      background-image: linear-gradient(to bottom, #fceb5a, white);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCEB5A', endColorstr='#FFFFFFFF', GradientType=0); }

  /*--- HOME PAGE -----------------------------------------------------------------------*/
  .marketing-ctn .img-section {
    border-bottom: 0; }
  .marketing-ctn .mkt-text h1 {
    margin-top: 40px; }
    .marketing-ctn .mkt-text h1 span {
      display: inline-block; }
  .marketing-ctn .mkt-text .mul-icon-adv {
    display: block;
    margin-top: 35px;
    margin-right: 232px; }

  /*--- TYPE PAGE -----------------------------------------------------------------------*/
  .type-table td.type-example {
    font-size: 14px !important; }

  /*--- ICONS PAGE ----------------------------------------------------------------------------*/
  #icons-ctn #icon-font-filter {
    width: 100%; } }
