/*------------------------------------------------------------------------------------------
UI Tabs CSS
DATE - September 20, 2011
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

.ui-tabs												{
														position:relative;
														padding:#{size(2.6)}em;
														zoom:1;
														} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav									{
														clear:both;
														margin:0;
														padding:#{size(2.6)}em #{size(2.6)}em 0;
														}
.ui-tabs .ui-tabs-nav .tb-events						{
														list-style:none;
														float:left;
														position:relative;
														top:1px;
														margin:0 #{size(2.6)}em #{size(1)}em 0;
														border-bottom:0 !important;
														padding:0;
														white-space:nowrap;
														}
.ui-tabs .ui-tabs-nav .tb-events a						{
														float:left;
														padding:#{size(6.5)}em #{size(13)}em;
														text-decoration:none;
														}
.ui-tabs .ui-tabs-nav .tb-events.ui-tabs-selected		{
														margin-bottom:0;
														padding-bottom:#{size(1)}em;
														}
.ui-tabs .ui-tabs-nav .tb-events.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav .tb-events.ui-state-disabled a,
.ui-tabs .ui-tabs-nav .tb-events.ui-state-processing a	{
														cursor:text;
														}
.ui-tabs .ui-tabs-nav .tb-events a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a	
														{
														cursor:pointer;
														} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel									{
														margin-top:#{size(3)}em;
														}
.ui-tabs .ui-tabs-hide									{
														display:none !important;
														}

/*--- DEFAULT STYLES ----------------------------------------------------------------------*/
.ui-tabs .ui-tabs-nav,
.ui-tabs .tb-events										{
														height:#{size(30)}em;
														}
.ui-tabs .tb-events										{
														display:block;
														width:auto;
														border:1px solid #CCC;
														border-bottom:0;
														@include border-radius(#{size(6)}em #{size(6)}em 0 0, all);
														@include background-gradient(#efefef, #cccccc);
														}
.ui-tabs .ui-tabs-nav .tb-events a						{
														display:block;
														}
.ui-tabs .ui-state-hover								{
														color:#000;
														@include background-gradient(#cccccc, #efefef);
														}