<div id="nav-bookmark" class="mul-footer-adjust">
	<div class="col-24 mul-footer-content-ctn">
		<div class="col-17 first">
			<img src="{{ "mercer_footer_logo.png" | asset_url }}" alt="Mercer" width="126" height="18" />
		</div>
		<div class="col-7 mul-footer-copyright">
			<p>&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</p>
		</div>
	</div>
</div>