<!-- Modal dialog source element -->
<div id="js-mul-dialog-get-started" class="mul-dialog-ctn mul-grid" title="Getting Started - UX/UI Library">

	<p>
		Welcome to our UX Library. Here you will find important guidance on Mercer website and application development. Our goal is to create uniform sites and applications that professionally and consistently represent the Mercer brand. To use this UX library, just click on any of the features to learn all about their capabilities, when you might use the elements, and why we've designed them the way we did. Components are grouped together by their overall function.
	</p>
	<p>
		<strong>Please note:</strong>
		This site is currently in-progress, so be sure to check in frequently for new additions or important changes.
	</p>

	<div class="col-24">

		<div class="col-8 first">
			<img class="mul-center-block mul-margin-bottom" src="/assets/images/ux_outlined_type_icon_112x112.png" width="112" height="112">
			<h3 class="mul-hdr-rule">Overall Design Elements</h3>
			<p>
				There are baseline design aspects, like 
				<a href="">typography</a>, 
				<a href="">colors</a>, 
				<a href="">grids</a> and 
				<a href="">icons</a>.
				These are core to any application that uses this framework.
			</p>
			<p>
				The largest section of the library is dedicated to common UI controls, ranging from things like buttons to 
				<a href="">modal windows</a> to 
				<a href="">interactive data tables</a>.
				Within this library, you'll find everything you need to create a top-notch mercer site or application.
			</p>
		</div>

		<div class="col-8">
			<img class="mul-center-block mul-margin-bottom" src="/assets/images/ux_narratives_112x112.png" width="112" height="112">
			<h3 class="mul-hdr-rule">Approaches to the UI Library</h3>
			<p>
				We've even included sample narratives that thoroughly explain certain philosophical approaches that might span multiple components in action.
			</p>
			<p>
				For instance, we provide details on how to incorporate 
				<a href="">page error messaging and handling</a>
				into your application and then demonstrate how we handle page error messaging via a detailed narrative, so you can see first-hand how it will appear to your users.
			</p>
		</div>
		<div class="col-8">
			<img class="mul-center-block mul-margin-bottom" src="/assets/images/ux_download_112x112.png" width="112" height="112">
			<h3 class="mul-hdr-rule">Downloading for Use</h3>
			<p>
				One important dependency is required for the icons if you decide to use this via CDN cloud. You must download the entire icon folder onto your local server in order for them to work properly in your coding.
			</p>
			<p>
				If you download the entire framework, this folder will automatically be included.
			</p>
		</div>

	</div>


	<button class="mul-btn mul-btn-medium mul-btn-primary js-mul-dialog-close" id="" name="" value="" tabindex="" type="button" title="Cancel">
		View UX/UI Library
	</button>






</div>