<div class="col-5 js-mul-profile-menu-display mul-profile-menu-ctn">
	<div class="col-24 mul-grid-nomargin mul-profile-menu-user-info-ctn">
		<div class="col-19 first mul-profile-menu-user-info">
			<i class="mul-icon-right-dir mul-profile-menu-icon"></i>
			<i class="mul-icon-down-dir mul-profile-menu-icon"></i>
			<dl>
				<dt class="mul-profile-menu-user-name">Arquimedez Pozo</dt>
				<dd class="mul-profile-menu-user-title">Front-end Web Developer</dd>
			</dl>
		</div>
		<div class="col-5 mul-profile-menu-user-avatar">
			<img class="mul-center-block" src="{{ "header-user-profile-img.png" | asset_url }}" alt="Arquimedez Pozo" width="31" height="39" />
		</div>
	</div>
	<div class="col-24 mul-profile-menu">
		<ul class="mul-vertical-list">
			<li><a href="#">View Profile</a></li>
			<li><a href="#">Change Language</a></li>
			<li><a href="#">User Administration</a></li>
			<li><a class="last-child" href="index.html">Log Out</a></li>
		</ul>
	</div>
</div>