<h5>Table Add Ons</h5>
<ul>
	<li><a href="mini-filter">Mini Filter</a></li>
	<li><a href="table-subheader">Subheader row</a></li>
	<li><a href="table-subtotal">Subtotal row</a></li>
	<li><a href="table-total">Total row</a></li>
	<li><a href="table-pagination">Pagination</a></li>
</ul>