//-------------------------------------------------------------------------------------------
// Mercer UX/UI Libray - Core v1 - Core Box Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// BOX BASE SETUP
.mul-box					{
							@include clearfix; // must clearfix the box to use grid cols inside mul-box
							position: relative;
							margin-bottom: $baseMargin;
							background-color: $boxBackgroundColor;
							border: $boxBorderSize $boxBorderStyle $boxBorderColor;
							padding: $boxPadding $boxPadding 0 $boxPadding;
	.box-hdr					{
		.hdr-rule					{
									border-bottom: $boxHdrBorderSize $boxHdrBorderStyle $boxHdrBorderColor;
									line-height: 30px;
									}
								}
							}

// BOX WITH ROUNDED CORNERS
.mul-box-rnd				{
							@extend .mul-box;
							@include border-radius(#{size($baseBorderRadius)}em, all);
							padding: $boxPadding $boxPadding 0 $boxPadding;
							}

// BOX WITH A DROP SHADOW
.mul-box-shadow				{
							@extend .mul-box;
							@include box-shadow($boxVShadow, $boxHShadow, $boxShadowBlur, $boxShadowColor);
							padding: $boxPadding $boxPadding 0 $boxPadding;
							}

// ROUNDED CORNER BOX WITH A DROP SHADOW
.mul-box-rnd-shadow			{
							@extend .mul-box-rnd;
							@include box-shadow($boxVShadow, $boxHShadow, $boxShadowBlur, $boxShadowColor);
							}



/* TODO: - This style block needs to be moved, not sure the best place yet */

// FEATURE CONTAINER - BEGINS
.feature-ctn			{
						background-color: $boxFeaturedBackgroundColor;
	.box-hdr				{
		.hdr-rule				{border-bottom-color: $boxFeaturedBorderBottomColor;}
							}
						}
// SIDEBAR CONTAINER - BEGINS
.sidebar-ctn			{
						background-color: $boxSidebarBackgroundColor;
	.box-hdr				{
		.hdr-rule				{border-bottom-color: $boxSidebarBorderBottomColor;}
							}
						}

.inline-search-ctn		{
						background-color: $boxInlineSearchBackgroundColor;
						border: $boxInlineSearchBorderSizeColor $boxInlineSearchBorderTypeColor $boxInlineSearchBorderColor;
	.mul-form				{
							margin: 0 0 5px 0;
		.mul-form-action		{padding-top: 6%;}
							}
						}

.support-ctn			{
						@include border-radius(0 0 8px 8px, all);
						background-color: $boxSupportBackgroundColor;
						border-color: $boxSupportBottomColor;
	.box-hdr				{
		.hdr-rule				{
								border-bottom-color: $boxSupportBorderBottomColor;
								line-height: 30px;
								}
							}
						}