/*------------------------------------------------------------------------------------------
CORE v4 - Core Page Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize & Matthew Holmes
-------------------------------------------------------------------------------------------*/

/*--- MASTHEAD -----------------------------------------------------------------------------*/
.masthead						{
								@include clearfix;
								@include backface-visibility(hidden);
								position:relative;
								margin-bottom:#{size($baseMargin)}em;
	.masthead-adjust				{
									position:relative;

		/*--- MASTHEAD UTILITY NAV ---------------------------------------------------------*/
		.ui-masthead-util-nav			{
										@include border-radius(0 0 #{size($baseBorderRadius)}em #{size($baseBorderRadius)}em,all);
										@include box-shadow(0,1px,1px,$mastheadUtilShadowColor);
										background-color:$mastheadUtilNavBackgroundColor;
										color:$mastheadUtilNavFontColor;
										position:absolute;
										top:-15px;
										right:0;
										padding:#{size(10)}em #{size(10)}em #{size(5)}em #{size(10)}em;
			.last							{
											margin-right:0;
				a								{
												padding-right:0;
												}
											}
			.pipe							{
											color:$mastheadUtilNavPipeColor;
											}
										}

		/*--- MASTHEAD MAIN NAV -------------------------------------------------------------*/
		.ui-masthead-nav				{
    									width:100%;
    									display:table;
    									word-spacing:-1em;
			dd								{
											margin:0;
											display:table-cell;
											word-spacing:0;
											vertical-align:top;
				a								{
												display:block;
												padding:#{size(8)}em #{size(10)}em;
												height:#{size($mastheadNavHeight)}em;
												text-decoration:none;
												text-align:center;
												background-color:$mastheadNavBackgroundColor;
												font-weight:$baseFontWeightBold;
												font-size:#{size($mastheadNavFontSize)}em;
												line-height:1.25em;
												border-left:1px solid $mastheadNavBorderLeftColor;
												border-top:1px solid $mastheadNavBorderTopColor;
												border-bottom:1px solid $mastheadNavBorderBottomColor;
					&:hover							{
													background-color:$mastheadNavHoverBackgroundColor;
													}
					&.current						{
													background-color:$mastheadNavCurrentBackgroundColor;
													}
												}
											}
			.first-child					{
				a								{
												@include border-radius(#{size($baseBorderRadius)}em 0 0 0,all);
												border-left:1px solid $mastheadNavFirstChildBorderLeftColor;
												}
											}
			.last-child						{
				a								{
												@include border-radius(0 #{size($baseBorderRadius)}em 0 0,all);
												border-right:1px solid $mastheadNavLastChildBorderLeftColor;
												}
											}
			.ui-masthead-nav-more			{
											position:relative;
				.ui-masthead-nav-more-menu		{
												position:absolute;
												z-index:$zindexMastheadNavMenu;
												left:-999em; /* Hides the drop down */
												width:100%;
					dd								{
													display:block;
													width:100%;
						a								{
														@include border-radius(0,all);
														height:auto;
														text-align:left;
														border-top:1px solid $mastheadNavMenuBorderTopColor;
														border-right:1px solid $mastheadNavMenuBorderRightColor;
														border-bottom:0;
														}
													}
												}
				&:hover							{
					.ui-masthead-nav-more-menu		{
													left:auto;
													top:auto;
						.first-child					{
							a								{
															border-top:0;
															}
														}
						.last-child						{
							a								{
															@include border-radius(0 0 #{size($baseBorderRadius)}em #{size($baseBorderRadius)}em,all);
															border-bottom:1px solid $mastheadNavMenuLastChildBorderBottomColor;
															}
														}
													}
												}
											}
										}
									}
								}

/* FF 3.5+ fix for ui-masthead-nav dd nav items, FF can not use display:table-cell with absolute positioning */
body:not(:-moz-handler-blocked) .masthead .masthead-adjust .ui-masthead-nav dd
								{
								display:inline-block;
								}

/*--- FOOTER -------------------------------------------------------------------------------*/
.footer							{
								@include clearfix;
								@include backface-visibility(hidden);
								position:relative;
								text-align:left;
								margin-top:#{size($baseMargin)}em;
								}

/*--- KEYLINES -----------------------------------------------------------------------------*/

/* USE ON ELEMENTS WHICH NEED A KEYLINE ON THE RIGHT */
.ui-keyline-right				{
								padding-right:#{size(20)}em;
								border-right:1px solid $uiKeylineRightBorderRightColor;
	img								{
									margin-top:#{size(5)}em;
									}
								}

/* USE ON ELEMENTS WHICH NEED A KEYLINE ON THE LEFT */
.ui-keyline-left				{
								padding-left:#{size(20)}em;
								border-left:1px solid $uiKeylineLeftBorderLeftColor;
	img								{
									margin-top:#{size(5)}em;
									}
								}

/* REMOVES BORDER ON LAST KEYLINE RIGHT */
.ui-keyline-right.last			{
								border-right:0;
								}

/* REMOVES BORDER AND PADDING ON FIRST KEYLINE LEFT, MAKE SURE TO ADD CLASS OF FIRST */
.ui-keyline-left.first			{
								border-left:0;
								padding-left:0;
								}

/*--- HORIZONTAL CENTERING OF ELEMENTS ---------------------------------------------------*/

/* HORIZONTAL CENTERING FOR INLINE ELEMENTS - APPLY CLASS TO CONTAINING ELEMENT OF ELEMENT THAT NEEDS TO BE HORZ CENTERED */
.ui-center-inline				{
								text-align:center;
								}

/* HORIZONTAL CENTERING FOR BLOCK ELEMENTS - APPLY CLASS TO ELEMENT THAT NEEDS TO BE HORZ CENTERED */
.ui-center-block				{
								float:none !important;
								display:block;
								margin-right:auto !important;
								margin-left:auto  !important;
								}

/*--- HR ELEMENTS -------------------------------------------------------------------------*/
hr								{
								background-color:$hrBackgroundColor;
								border:0;
								border-top:1px solid $hrBorderTopColor;
								clear:both;
								color:$hrFontColor;
								display:block;
								height:#{size($hrHeight)}em;
								margin:#{size($hrMarginTopBottom)}em 0;
								}

/*--- ICON SPRITE  ------------------------------------------------------------------------*/
// Icon sprite call and setup
.ui-icn-sprite					{
								background-color:transparent;
								background-repeat:no-repeat;
								background-position:0 0;
								display:inline-block;
								}

/*--- BASIC TABLE STYLES ------------------------------------------------------------------*/
table							{
								width:100%;
								border:1px $tableBorderStyle $tableBorderColor;
								border-collapse:collapse;
								border-spacing:0;
								color:$tableFontColor;
								margin-bottom:#{size($baseMargin)}em;

	caption							{
									padding:#{size(1)}em 0 #{size(5)}em 0;
									font-weight:$baseFontWeightBold;
									text-align:left;
									}
	th								{
									background-color:$tableThBackgroundColor;
									border-right:1px solid $tableThBorderRightColor;
									padding:#{size(5)}em #{size(4)}em;
									text-align:left;
		&.last-child, &:last-child		{
										border-right:0;
										}
									}
	td								{
									border:1px $tableTdBorderStyle $tableTdBorderColor;
									padding:#{size(3)}em #{size(4)}em;
									}
	.even							{

		td								{
										background-color:$tableEvenTdBackgroundColor;
										}
									}
	.odd							{

		td								{
										background-color:$tableOddTdBackgroundColor;
										}
									}

								}


/*--- BASIC IMAGE STYLES ------------------------------------------------------------------*/
img								{
								max-width:100%;
								margin:0 0 #{size(10)}em 0;

	&.left							{
									float:left;
									margin-top:#{size(5)}em;
									margin-right:#{size(20)}em;
									}
	&.right							{
									float:right;
									margin-top:#{size(5)}em;
									margin-left:#{size(20)}em;
									}

								}

/*--- HORIZONTAL NAVIGATION STYLES ---------------------------------------------------------*/
.link-list-horz					{
								padding:0;
								margin:0;
								
	dd,li							{
									display:inline;
									padding:0;
									margin:0 #{size(6)}em 0 0;
									
		a								{
										padding:0 #{size(8)}em 0 0;
										margin:0;
										}
		.pipe							{border-left:1px solid $pipeBorderColor;}
									}
								
								}

/*--- BACK TO TOP STYLES -------------------------------------------------------------------*/
.ui-back-to-top					{
								padding:#{size(18)}em #{size(20)}em 0 #{size(20)}em !important;
								border-top:1px solid $backToTopBorderTopColor;
	p								{
									margin:0;
									text-align:right;
									font-size:#{size(12)}em;
									text-transform:uppercase;
		a								{
										padding:#{size(5)}em;
										text-decoration:none;
										border:1px solid transparent;
										color:$backToTopLinkFontColor;
			.ui-back-to-top-icn				{
											font-weight:$baseFontWeightBold;
											font-size:#{size(16)}em;
											vertical-align:#{size(3)}em;
											padding-right:#{size(5)}em;
											}
			&:hover							{
											@include background-gradient($backToTopHoverBackgroundStartColor, $backToTopHoverBackgroundEndColor);

											@include border-radius(#{size($baseBorderRadius)}em,all);
											@include box-shadow(0, 1px, 1px, $backToTopHoverShadowColor);
											@include text-shadow(1px, 1px, 1px, $backToTopHoverTextShadowColor);
											border:1px solid $backToTopHoverBorderColor;
											color:$backToTopHoverFontColor;
											}
			&:active						{
											@include background-gradient($backToTopHoverBackgroundEndColor, $backToTopHoverBackgroundStartColor);
											@include border-radius(#{size($baseBorderRadius)}em,all);
											@include box-shadow(0, 1px, -1px, $backToTopHoverShadowColor);
											@include text-shadow(1px, 1px, -1px, $backToTopHoverTextShadowColor);
											}
										}
									}
								}