/*------------------------------------------------------------------------------------------
SASS Boilerplate - Styles CSS
DATE - November 22, 2011
AUTHOR - Doug Fraize
------------------------------------------------------------------------------------------ */

//=== CORE v3 IMPORT ========================================================================
@import	"core_v3_4/partials/core_v3_4";

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:13; // 13px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

//--- PAGE CONTAINER VARS -------------------------------------------------------------------
$page-container-width:100%;
$page-container-max-width:100%;

/*=== WEBSITE STYLES ======================================================================*/

/*--- GLOBAL ------------------------------------------------------------------------------*/
.page-container		{
					width:$page-container-width;
					max-width:$page-container-max-width;
					background-color:#445D73;
					}
.page-adjust		{
					width:100%;
					}
.grid-adjust		{
					@include border-radius(15px, all);
					@include box-shadow(0, 0, 5px, #1e2b39);
					background-color:#F0F4F8;
					border:3px solid #FFF;
					margin:0 auto;
					max-width:980px;
					}
.section			{
					height:#{size(1400)}em;
					padding-top:#{size(120)}em;
					padding-left:#{size(20)}em;
					padding-right:#{size(20)}em;
					}

h1, h2, h3, h4, h5, h6
					{
					@include myriad-font-stack;
/*					text-transform:uppercase; */
					text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
					color:#6F6F6F;
					}

h1					{
					font-size:1.7em;
					font-weight:900;
					letter-spacing:-0.03em;
					color:#505667;
					text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
					}
h2					{
					letter-spacing:-0.03em;
					color:#7f8596;
					font-size:1.4em;
					text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
					}

h3					{
					color:#d5d2c6;
					font-size:1.2em;
					font-weight:normal;
					font-style:normal;
					letter-spacing:-0.01em;
					margin-bottom:10px;
					text-transform:uppercase;
					}

/*----- LINKS ----------------------------------------------------------------------*/
a							{
							
	&:link						{
								@include href-link(#0A7BC1,none);
								cursor:pointer;
								}
	&:visited					{
								color:#0A7BC1;
								}
	&:hover,
	&:focus,
	&:active					{
								@include href-link-hover(underline);
								}
							
							}

/*----- HR ELEMENTS -----------------------------------------------------------------*/
hr				{
				background-color:#FFF;
				border-top:1px solid #c2d8eb;
				}

/*--- NAVBAR ------------------------------------------------------------------------------*/
.masthead		{
				@include box-shadow(0, 0, 25px, #1e2b39);
				background-color:#3C5975;
				position:fixed; top:0; left:0; z-index:10;
				width:100%;
				height:#{size(76)}em;
	.navbar			{
					position:relative;
					margin:0 auto;
					width:#{size(980)}em;
		a				{
						height:#{size(45)}em;
						width:#{size(70)}em;
						padding:#{size(16)}em 0 0 0;
						font-weight:bold;
						font-size:#{size(16)}em;
						text-shadow:1px 1px 1px #333;
			span			{
							display:block;
							font-weight:normal;
							font-size:#{size(8)}em;
							text-shadow:0 0 0;
							}
			&:link,
			&:visited		{
							@include href-link(#d8d9da,none);
							}
			&:hover,
			&:focus,
			&:active		{
							@include href-link-hover(none);
							color:#FFF;
				span			{
								font-style:italic;
								}
							}
						}

		.link-list-horz
						{
						position:absolute; top:0; right:0;
						}

		.logo-arrow		{
						@include background-gradient(#3e4758,#1f2530);
						@include box-shadow(0, -4px, 6px, #333);
						width:55px;
						height:100px;
						position:relative;
						top:2px;
						left:20px;
						}

		.logo-arrow .arrow
						{
						font-size:0px;
						line-height:0%;
						width:0px;
						border-bottom:28px solid #F0F4F8;
						border-left:28px solid transparent;
						border-right:27px solid transparent;
						position:absolute;
						bottom:-1px;
						}

		.logo-arrow .cirlce
						{
						@include border-radius(30px, all);
						background-color:#1d222e;
						color:#3c465e;
						padding:5px;
						position:absolute;
						top:30px;
						left:13px;
						text-shadow:0 1px 0 #000;
						}
		
		.logo			{
						color:#FFF;
						font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
						font-size:2.154em;
						position:absolute; top:12px; left:90px;
						text-shadow:1px 1px 1px #333;
						}
		
		.logo .tagline	{
						display:block;
						font-size:0.4em;
						letter-spacing:-0.03em;
						margin:-2px 0 0 0;
						}
					}
				}

/*--- HOMEPAGE ------------------------------------------------------------------------------*/
.hp-intro-hdr	{
				font-size:#{size(45)}em;
				letter-spacing:0;
				margin-bottom:0;
				text-shadow:1px 1px 2px #fff;
				}
.hp-intro		{
				font-size:#{size(20)}em;
				border-bottom:1px dotted #c2d8eb;
				padding-bottom:20px;
				margin-bottom:25px;
				}

.inspiration-list
				{
				padding:0; margin:0;
	li
					{
					background:url(/assets/images/bullet_star.png) 0 3px no-repeat;
					list-style-type:none;
					padding-left:#{size(20)}em; margin-left:0;
					}
				}


/**/
.curled-box		{
				background-color:#FFF;
				border:1px solid #e6e6e6;
				border-bottom:0;
				padding:20px;
				position:relative;
	.masking-tape	{
					background:url(../images/masking_tape.png) 0 0 no-repeat;
					height:28px; width:22px;
					position:absolute; top:-12px;
					}
	.masking-left	{left:12px;}
	.masking-right	{right:12px;}
	.box-shadow		{
					background:url(../images/box_shadow.png) 0 0 no-repeat;
					height:8px; width:300px;
					position:absolute; top:200px; left:0;
					}
	p				{
					color:#6F6F6F;
					font-size:0.85em;
					margin-top:8px; margin-left:2px;
					width:221px;
					}
				}

.portfolio-box	{
				float:left;
				margin:0 26px 30px 0;
				height:160px; width:245px;
				}

/*--- FOOTER ------------------------------------------------------------------------------*/
.footer			{
				margin:0 0 #{size(-15)}em 0;
	.footer-ctn		{
					min-height:#{size(202)}em;
					margin:0 auto;
					padding:#{size(20)}em #{size(28)}em 0 #{size(28)}em; 
					max-width:980px;
					}
				}


//=== MEDIA QUERIES =========================================================================
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}