@import	"core_v3/partials/core_v3";

body				{
					background-color:#f9f9f9;
					font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, Tahoma, sans-serif;
					}

.masthead, .navbar	{
					border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;
					height:60px;
					}

.masthead			{
					background:url(/assets/images/navbar_bck.png) 0 0 repeat-x;
					border:1px solid #010005;
					box-shadow:0 0 6px #333; -moz-box-shadow:0 0 6px #333; -webkit-box-shadow:0 0 6px #333;
					margin-top:70px;
					position:relative;
					width:980px;
					}

.navbar				{
					border:1px solid #828c98;
					height:37px;
					padding-top:21px;
					padding-left:20px;
					}

.navbar a,
.navbar a:link,
.navbar a:visited	{
					color:#FFF;
					font-size:1.2em;
					font-weight:bold;
					padding:5px 8px;
					text-decoration:none;
					text-shadow:1px 1px 1px #010005;
					}

.navbar a:hover		{
					background-color:#5d7486;
					border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
					-webkit-transition: all 0.25s ease-in-out;
					-moz-transition: all 0.25s ease-in-out;
					-o-transition: all 0.25s ease-in-out;
					-ms-transition: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;
					}

.logo				{
					color:#33465c;
					font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
					position:absolute; top:-57px; left:27px;
					}

.logo .tagline		{
					display:block;
					font-size:0.4em;
					letter-spacing:-0.03em;
					margin-top:-2px;
					}

.grid-adjust		{
					background-color:#FFF;
					border-left:1px solid #e8e8e8;
					border-right:1px solid #e8e8e8;
					padding:20px 27px;
					}

.footer				{
					border-top:1px solid #e8e8e8;
					padding:10px 0 40px 27px;
					}

#loader				{
					background: url(/assets/images/ajax-loader.gif);
					display:none;
					position:absolute; right:20px; top:75px;
					height:31px; width:31px;
					}

#main .intro		{font-size:1.1em;}

.intro-headline
					{
					color:#323232;
					font-size:1.55em;
					font-weight:600;
					}
.intro-headline span
					{
					color:#494a5c;
					font-size:1.45em;
					font-weight:800;
					}
