@import	"core_v3/partials/core_v3";

body			{
				background:url(/assets/images/canvas_background.jpg) 0 0 repeat-y #FFF;
				@include museo-font-stack;
				}

.page-container	{margin:0 auto;}
.page-adjust	{width:100%;}
.grid-adjust	{margin:0 auto; width:980px;}

.masthead		{
				height:50px;
				margin:0 auto 40px auto;
				padding-top:40px;
				position:relative;
				width:980px;
				}

.masthead hr	{
				position:absolute;
				right:0;
				top:70px;
				width:890px;
				border:0;
				border-bottom:1px dashed #b7becf;
				background-color:transparent;
				}

.navbar
				{
				position:absolute;
				top:40px;
				right:-15px;
				}

.navbar a,
.navbar a:link,
.navbar a:visited
				{
				color:#AD4D44;
				font-size:1.1em;
				font-weight:bold;
				text-transform:uppercase;
				letter-spacing:2px;
				text-decoration:none;
				padding-top:10px;
				padding-bottom:10px;
				margin-left:15px;
				}

.navbar a:hover
				{
				color:#000000;
				text-decoration:underline;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
				-o-transition: all 0.25s ease-in-out;
				-ms-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
				}

.logo-arrow		{
				@include background-gradient(#3e4758,#1f2530);
				@include box-shadow(0, -4px, 6px, #333);
				width:55px;
				height:100px;
				position:relative;
				top:-45px;
				left:20px;
				}

.logo-arrow .arrow
				{
				font-size:0px;
				line-height:0%;
				width:0px;
				border-bottom:28px solid #e7e7e7;
				border-left:28px solid transparent;
				border-right:27px solid transparent;
				position:absolute;
				bottom:-1px;
				}

.logo-arrow .cirlce
				{
				@include border-radius(30px, all);
				background-color:#1d222e;
				color:#3c465e;
				padding:5px;
				position:absolute;
				top:30px;
				left:13px;
				text-shadow:0 1px 0 #000;
				}

.logo			{
				color:#AD4D44;
				font-family:"Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
				font-size:2.154em;
				position:absolute;
				top:35px;
				left:90px;
				}

.logo .tagline	{
				display:block;
				font-size:0.4em;
				letter-spacing:-0.03em;
				margin:-2px 0 0 0;
				}

#loader			{
				background:url(/assets/images/ajax-loader.gif);
				display:none;
				position:absolute; right:450px; top:42px;
				height:31px; width:31px;
				}

h1, h2, h3, h4, h5, h6
				{
				@include museo-font-stack;
				letter-spacing:1px;
				text-transform:uppercase;
				text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
				color:#6F6F6F;
				}

h1				{
				font-size:1.7em;
				font-weight:900;
				letter-spacing:-0.03em;
				color:#505667;
				text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
				}
h2				{
				letter-spacing:-0.03em;
				color:#a4a298;
				text-transform:uppercase;
				font-size:1.4em;
				text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
				}

h3				{
				color:#d5d2c6;
				font-size:1.2em;
				font-weight:normal;
				font-style:normal;
				letter-spacing:-0.01em;
				margin-bottom:10px;
				text-transform:uppercase;
				
				}

/*----- HOMEPAGE STYLES -----*/
.navbar			{
				margin-bottom:30px;
				}

.title			{
				color:#AF554C;
				letter-spacing:0;
				}

.hp-title,
.hp-title-details
				{
				position:absolute;
				}
.hp-title		{
				top:57px;
				right:45px;
				}
.hp-title-details
				{
				top:80px;
				right:27px;
				width:225px;
				}

.inspiration-list,
.inspiration-list li
				{
				list-style:none;
				margin-left:0;
				padding-left:0;
				}

.inspiration-list li
				{
				background:url(/assets/images/bullet_star.png) 0 3px no-repeat;
				padding-left:16px;
				}

.hp-curled-box	{padding:30px;}

/*----- RESUME STYLES -----*/
hr.divider
				{
				background-color:#D5D2C6;
				border:1px solid #D5D2C6;
				border-radius:4px;
				margin:10px 0 20px 0;
				padding:5px;
				opacity:0.5;
				}

.experience-section-hdr
				{
				margin-bottom:15px;
				padding-left:0;
				}

.recommend-hdr	{
				margin-bottom:11px;
				margin-top:31px;
				}

.quotes-ctn		{
				font-family: "Georgia", Times, serif;
				color:#5b5b5b;
				font-style:italic;
				padding:10px;
				}

/*----- FOOTER STYLES -----*/
.footer h3		{color:#979797;}

.footer .copyright
				{
				font-style:italic;
				margin-bottom:30px;
				}

.footer .disclaimer
				{
				font-size:0.75em;
				}

.footer .social-list
				{margin:0; padding:0; list-style:none;}

.footer .social-list li
				{padding-left:20px;}

.footer .twitter
				{background:url(/assets/images/twitter.png) 0 0 no-repeat;}

.footer .linkedin
				{background:url(/assets/images/linkedin.png) 0 0 no-repeat;}

.footer			{
				background:url(/assets/images/canvas_footer_background2.jpg) 0 0 repeat-y;
				color:#777;
				height:300px;
				margin-top:20px;
				width:100%;
				}

.footer .footer-ctn
				{
				margin:0 auto;
				padding-top:20px;
				width:980px;
				}

/**/
.curled-box
				{
				position:relative;
				width:auto;
				margin:0 auto;
				background-color:#FFF;
				-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				box-shadow:0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				}

.curled-box:before, .curled-box:after
				{
				position:absolute;
				width:40%;
				height:10px;
				content:' ';
				left:12px;
				bottom:12px;
				background:transparent;
				-webkit-transform:skew(-5deg) rotate(-5deg);
				-moz-transform:skew(-5deg) rotate(-5deg);
				-ms-transform:skew(-5deg) rotate(-5deg);
				-o-transform:skew(-5deg) rotate(-5deg);
				transform:skew(-5deg) rotate(-5deg);
				-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);
				-moz-box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);
				box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);
				z-index:-1;
				}

.curled-box:after
				{
				left:auto;
				right:12px;
				-webkit-transform: skew(5deg) rotate(5deg);
				-moz-transform: skew(5deg) rotate(5deg);
				-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
				transform: skew(5deg) rotate(5deg);
				}

/**/
.portfolio-box	{
				float:left;
				margin:0 30px 30px 0;
				padding:20px 30px;
				text-align:center;
				width:245px;
				}

.portfolio-box img
				{
				border:2px solid #000;
				}

.portfolio-box p
				{
				color:#6F6F6F;
				font-size:0.9em;
				text-align:left;
				margin:5px 8px 0 8px;
				}

.portfolio-box:nth-child(3n+5)
				{margin-right:0;}