/*------------------------------------------------------------------------------------------
SASS Boilerplate - Styles CSS
DATE - March 5, 2012
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== CORE v3_4 IMPORT ========================================================================
@import	"core_v3_4/partials/core_v3_4";

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:15; // 15px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

/*--- CONTROLS THE HEIGHT OF THE HEADER ---*/
$header-height:180;

/*=== WEBSITE STYLES ======================================================================*/
body, h1, h2, h3, h4, h5
					{color:#968b7b;}

.grid-adjust		{
					padding-left:#{size(15)}em;
					padding-right:#{size(15)}em;
					}

/*--- HEADER SECTION ----------------------------------------------------------------------*/
header				{
					height:#{size(200)}em;
					margin-bottom:#{size(30)}em;
	.ui-hdr-adjust		{
						margin:0 auto;
						height:#{size($header-height)}em;
						max-width:#{size(980)}em;
						
		.logo-ctn			{
							float:left;
							margin-top:#{size(30)}em;
							max-width:40%;
			a					{
								display:block;

								opacity:1;
								-moz-opacity:1;
								filter:alpha(opacity=1);

								-webkit-transition: all 0.1s ease-in-out;
								-moz-transition: all 0.1s ease-in-out;
								-o-transition: all 0.1s ease-in-out;
								-ms-transition: all 0.1s ease-in-out;
				img					{max-width:100%;}

				&:link				{@include href-link(#c5baa5,none);}
				&:visited			{color:#c5baa5;}
				&:hover,
				&:focus,
				&:active			{
									@include href-link-hover(none);
									opacity:.7;
									-moz-opacity:.7;
									filter:alpha(opacity=1.7);
									}
								}
							}
		.color-bar			{
							display:block;
							float:right;
							height:#{size(20)}em;
							width:50%;
							margin:-20px 0 0 0;
							padding:0;
							list-style-type:none;
			li					{
								float:left;
								height:$header-height;
								width:25%;
				&.dark-red			{background-color:#C65204;}
				&.dark-yellow		{background-color:#E69900;}
				&.dark-blue			{background-color:#63AFA1;}
				&.dark-orange		{background-color:#E68000;}
								}
							}
		nav					{
							display:block;
							float:right;
							height:#{size($header-height)}em;
							width:50%;
			dl					{
								display:block;
								height:#{size($header-height)}em;
								;
				dd					{
									display:block;
									float:left;
									height:#{size($header-height)}em;
									width:25%;
									padding:0; margin:0;
					span				{
										color:#FFF;
										display:block;
										font-size:#{size(23)}em;
										font-weight:bold;
										margin-top:-30px;
										padding-left:#{size(10)}em;
										text-shadow:1px 1px 0 #666;
										}
					&.red				{background-color:#DC5C05;}
					&.yellow			{background-color:#FFAC00;}
					&.blue				{background-color:#6EC5B8;}
					&.orange			{background-color:#FF9000;}

						a				{
										background-color:#FFF;
										display:block;
										height:#{size(178)}em;

										opacity:0;
										-moz-opacity:0;
										filter:alpha(opacity=0);

										-webkit-transition: all 0.1s ease-in-out;
										-moz-transition: all 0.1s ease-in-out;
										-o-transition: all 0.1s ease-in-out;
										-ms-transition: all 0.1s ease-in-out;

							&:link			{@include href-link(#FFF,none);}
							&:visited		{color:#FFF;}
							&:hover,
							&:focus,
							&:active		{
											@include href-link-hover(none);
											opacity:.2;
											-moz-opacity:.2;
											filter:alpha(opacity=1.2);
											}
										}
									}
								}
							}
						}

	.hdr-top			{
						background-color:#96887C;
						height:#{size(20)}em;
						}					
					}
/*--- FOOTER SECTION ----------------------------------------------------------------------*/
footer				{
	.footer-adjust		{
						max-width:#{size(980)}em;
						margin:0 auto;
						padding:0;
						margin-bottom:-22px;
		.color-bar			{
							float:right;
							display:block;
							list-style-type:none;
							padding:0;
							margin:0;
							width:50%;
			li					{
								float:left;
								width:25.1%;
				&.dark-red			{background-color:#C65204;}
				&.dark-yellow		{background-color:#E69900;}
				&.dark-blue			{background-color:#63AFA1;}
				&.dark-orange		{background-color:#E68000;}
								}
							}
						}
	.footer-bottom		{
						background-color:#96887C;
						color:#FFF;
						font-size:#{size(11)}em;
						height:#{size(31)}em;
						padding:#{size(3)}em 0 #{size(3)}em #{size(3)}em;
						}
					}

/*--- PORTFOLIO PAGE ------------------------------------------------------------------*/
.curled-box		{
				background-color:#FFF;
				border:1px solid #e6e6e6;
				border-bottom:0;
				padding:#{size(20)}em #{size(15)}em;
				position:relative;
				float:left;
				margin:0 #{size(26)}em #{size(30)}em 0;
				height:#{size(200)}em; width:#{size(280)}em;

	.masking-tape	{
					background:url(../images/masking_tape.png) 0 0 no-repeat;
					height:28px; width:22px;
					position:absolute; top:-12px;
					}
	.masking-left	{left:12px;}
	.masking-right	{right:12px;}
	.box-shadow		{
					background:url(../images/box_shadow.png) 0 0 no-repeat;
					height:8px; width:#{size(300)}em;
					position:absolute; bottom:#{size(-8)}em; left:#{size(-4)}em;
					}
	p				{
					color:#6F6F6F;
					font-size:#{size(12)}em;
					margin-top:#{size(8)}em; margin-left:#{size(2)}em;
					}
				}

/*--- TUMBLR PAGE -------------------------------------------------------------------------*/
.ui-tumblr		{
	ol.tumblr_posts	{
					list-style-type:none;
		li.tumblr_post	{
						border-left:#{size(20)}em solid #dcd5c9;
						padding-left:#{size(15)}em;
						margin-bottom:#{size(45)}em;
			a				{
										
				&:link			{
								@include href-link(red,underline);
								cursor:pointer;
								font-weight:normal;
								font-size:#{size(18)}em;
								}
				&:visited		{color:#666;}
				&:hover,
				&:focus,
				&:active		{@include href-link-hover(none);}
							}
						}
			div.tumblr_title
							{font-size:#{size(20)}em;}
			div.tumblr_body,
			div.tumblr_description
							{}
				p.read_more_container
							{}
					}
				}


//=== MEDIA QUERIES =========================================================================
/*--- Portrait iPhone, landscape iPhone, portrait smart phones ----------------------------*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

}

/*--- Portrait e-readers (Nook/Kindle/Kindle Fire) ----------------------------------------*/
@media only screen and (min-width : 481px) and (max-width : 640px) {

}

/*--- Portrait iPad, portrait tablets, low-res laptops and desktops ------------------------*/
@media only screen and (min-width : 641px) and (max-width : 980px) {

}

/*--- Landscape iPad, laptops and desktops beyond 980px ------------------------------------*/
@media only screen and (min-width : 981px) and (max-width : 1024px) {

}

/*--- Big landscape tablets, laptops and desktops beyond 980px -----------------------------*/
@media only screen and (min-width : 1025px) and (max-width : 1280px) {

}

/*--- Hi-res laptops and desktops ----------------------------------------------------------*/
@media only screen and (min-width : 1281px) {
	
}