/*------------------------------------------------------------------------------------------
Mercer UX/UI Library - Styles CSS
DATE - July 3, 2013
AUTHOR - Doug Fraize, Matthew Holmes
-------------------------------------------------------------------------------------------*/

//=== SITE IMPORTS ==========================================================================
@import	"vars",
		"functions"
		;

//=== CORE IMPORT ===========================================================================
@import	"core_v2/core";

//=== CORE DEBUG ============================================================================
// @import	"core_v2/dev_tools/debug";
@import	"core_v2/dev_tools/tools";


//=== WEBSITE STYLES ========================================================================

/*--- CORE OVERRIDES ----------------------------------------------------------------------*/

// GRID
.mul-grid								{margin-top: 115px;}


/*--- SITE GLOBAL -------------------------------------------------------------------------*/

// GET CODE CONTAINER
.get-code-btn-ctn						{
										border-top:1px dotted $hdrRuleBorderColor;
										padding-top:18px !important;
										margin:18px 0;
	.get-code-btn							{
											@include background-gradient(#fceb5a,#f1c800);
											color: #615002;
											border: 1px solid #ddb600;
		&:hover									{
												@include background-gradient(#fceb5a,#d9b503);
												}
		&:active								{
												@include background-gradient(#d9b503,#fceb5a);
												}
											}	
										}

/*--- NAVBAR -------------------------------------------------------------------------------*/
.mul-masthead							{
										position: fixed;
										top: 0;
										}

/*--- HOMEPAGE -----------------------------------------------------------------------------*/
.marketing-ctn							{
										border-bottom: 1px solid #e4e4e4;
										height: 161px;
	.img-section							{
		img										{
												position: relative;
												bottom: -20px;
												left: 20px;
												}
											}
	.mkt-text								{
		h1										{
												position: relative;
												top: 65px;
												left: 10px;
												color: #8c8c8c;
												font-family: $proximaNovaThinStack;
												}
		img										{
												position: relative;
												left: 390px;
												top: 4px;
												}
											}
										}

.hp-layout								{
	.h3										{
											border-bottom: 1px dotted #777;
											padding-bottom: 5px;
											}
	.todo									{
											color: $orange-chroma-dark;
											font-family: $proximaNovaSemiBoldStack;
											padding-left: 6px;
											}
	.done									{
											color: #55842B;
											display: inline-block;
											font-family: $proximaNovaSemiBoldStack;
											padding-left: 6px;
											}
.base-content								{
											background-color: #fafafa;
											padding: 20px;
											}
.comp-modules-content						{
											background: url("../images/ux_hp_divider.png") 0 0 repeat-y #f7f7f7;
											padding: 20px;
	.offset-2									{margin-left: 40px;}
											}
										}

a.coming-soon							{
										color: $gray-mid;
										cursor: default;
										text-decoration: none;
										}

// TOGGLE CONTENT CONTAINER
.toggle-content-ctn						{
										float: right;
	.last-child								{
											margin-right: 0;
		a										{padding-right: 0;}
											}
										}

/*--- LAYOUT/GRIDS PAGE --------------------------------------------------------------------*/
.unit									{
										@include border-radius(3px, all);
										margin-bottom:15px;
										background-color:#e7e7e7;
										border:1px solid #ccc;
										}

/*--- TYPE PAGE ----------------------------------------------------------------------------*/
.type-table								{
	td.type-example							{
											font-size:inherit;
											}
										}
.hyphen-demo							{
										@include hyphens(auto);
										}

/*--- ICONS PAGE ----------------------------------------------------------------------------*/
.i-code 								{
										display: none;
										}
.icon-codes-on .i-code 					{
										display: inline;
										}
.icons-x-large-on						{
	[class^="mul-icon-"]:before				{
											font-size: 56px;
											display: block;
											margin:0 auto;
											}
										}
.icon-codes-on .i-name 					{
										display: none;
										}
										

/*--- STEPPER -----------------------------------------------------------------------*/
/* TODO: This will need to be moved to its own file (ON HOLD WAITING FOR DESIGN) */

/*
.mul-stepper				{
							@include clearfix;
	li							{
								background: url(../images/core/components/stepper/arrow_down_8x8.png) 0 50% no-repeat;
								display: block;
		span						{
									outline: 1px solid red;
									}
		a							{
									border-left: 2px solid #a8bcd4;
									padding-left: 20px;
									text-align: center;
									white-space: nowrap;
			&:hover						{@include href-link-hover(none);}
									}

		.mul-stepper-complete		{background: url(../images/core/components/stepper/stepper_icon_complete_16x16.png) 0 0 no-repeat;}
		.mul-stepper-incomplete		{background: url(../images/core/components/stepper/stepper_icon_incomplete_16x16.png) 0 0 no-repeat;}
		.mul-stepper-current		{background: url(../images/core/components/stepper/stepper_icon_current_16x16.png) 0 0 no-repeat;}

								}
							}
*/

.mul-stepper				{
							@include clearfix;
							height: 38px;
	li							{
								border-bottom: 2px solid #a8bcd4;
								margin: 0 -4px 0 0;
								padding: 0 0 15px 10px;
		&:first-child				{padding-left: 0;}
		a							{
									padding: 5px;
									text-align: center;
									white-space: nowrap;
			&:hover						{@include href-link-hover(none);}
			span						{
										background: url(../images/core/components/stepper/arrow_right_8x8.png) 50% 29px no-repeat;
										padding-bottom: 20px;
										}
									}
		.mul-stepper-complete		{
									padding-left: 20px;
									background: url(../images/core/components/stepper/stepper_icon_complete_16x16.png) 0 5px no-repeat;
									}
		.mul-stepper-incomplete		{
									padding-left: 20px;
									background: url(../images/core/components/stepper/stepper_icon_incomplete_16x16.png) 0 5px no-repeat;
									}
		.mul-stepper-current		{
									padding-left: 25px;
									background: url(../images/core/components/stepper/stepper_icon_current_16x16.png) 5px 5px no-repeat #fef8e2;
			span						{background: url(../images/core/components/stepper/current_line_1x10.png) 50% 22px no-repeat;}
									}

								}
							}



/*--- CONTENT MODAL -----------------------------------------------------------------------*/
/* TDOO: This will need to be moved to its own file */

.mul-content-modal.mul-dialog.ui-dialog
									{
									@include border-radius(0, all);
									background-color: #FFF;
									border: 0 !important;
									padding: 0 !important;
									margin: 0 !important;
									top: 52px !important;
									position: fixed;

	.jspPane							{padding: 0 !important;}
	.mul-dialog-scrolling-footer		{display: none;}
	.mul-dialog-content-scrolling		{
										border: 0;
										//max-height: calc(800px !important);
										}

	.sidebar-wrapper					{
										background-color: #366daa;
										padding-left: 40px;
										width: 40px;
										position: relative;

		.content-wrapper					{
											@include box-shadow(-5px, 0, 8px, #b0c7e2);
											border-left: 1px solid #FFF;
											background-color: #FFF;

			.tab-style							{
												position: fixed;
												left: 32px;
												list-style: none;
												padding: 0;
												margin: 0;
												text-align: center;
					li								{
													border-bottom: 1px solid #2c5e9b;
						&:first-child					{
														border-top: 1px solid #2c5e9b;
							a								{border-top: 1px solid #6a92c1;}
														}
						a								{
														background: url(../images/core/components/content_model/icon_print_white_27x27.png) 50% 50% no-repeat;
														border-bottom: 1px solid #6a92c1;
														display: block;
														width: 40px;
														height: 40px;
														text-align: center;
														}
													}
												}

			.content-model-nav					{
												@extend .tab-style;
												top: 300px;
												}
			.ui-tabs							{
				.ui-tabs-nav						{
													@extend .tab-style;
													top: 80px;
					.ui-state-active					{
														border-bottom: 0 !important;
														background-color: #FFF;
						a									{
															border-top:0 !important;
															text-decoration: none;
															}
														}
													}

				.ui-tabs-panel							{
														padding: 10px;
														// If using 980 width layout
														@if $use-grid-980 == true{width:($gridMaxWidth980 - 40px);}
														
														// If using 1200 width layout
														@if $use-grid-1200 == true{width:($gridMaxWidth1200 - 40px);}
														}
													}

												}
											}

		.ui-dialog-titlebar					{
											padding: 0 !important;
											border: 0 !important;
			.ui-dialog-title						{display: none;}
			.ui-dialog-titlebar-close				{
													background: url(../images/core/components/content_model/icon_button_close_34x34.png) 0 0 no-repeat;
													height: 42px;
													width: 42px;
													margin-right: 7px;
													position: absolute;
													top: -18px;
													right: -31px;
													z-index: 10;
													}
											}

										}

/*--- COLOR PAGE --------------------------------------------------------------------------*/
.color-block
										{
										height: 50px;
										text-align: center;
										color: $white;
										padding-top: 15px;
										text-shadow: 1px 1px 1px #666;
										}

.color-block-04,
.color-block-05
										{
										color: $black;
										text-shadow: none;
										}


// BASE COLORS
.black									{
	.color-block-01							{background-color: $black;}
										}
.red									{
	.color-block-01							{background-color: $red;}
										}
.blue									{
	.color-block-01							{background-color: $blue;}
										}
.green									{
	.color-block-01							{background-color: $green;}
										}
.yellow									{
	.color-block-01							{background-color: $yellow;}
										}
.purple									{
	.color-block-01							{background-color: $purple;}
										}
.orange									{
	.color-block-01							{background-color: $orange;}
										}
.turquoise								{
	.color-block-01							{background-color: $turquoise;}
										}


// FLAT COLORS
.gray-flat
										{
	.color-block-01							{background-color: $gray-darker;}
	.color-block-02							{background-color: $gray-dark;}
	.color-block-03							{background-color: $gray-mid;}
	.color-block-04							{background-color: $gray-light;}
	.color-block-05							{background-color: $gray-lighter;}
										}

.red-flat
										{
	.color-block-01							{background-color: $red-darker;}
	.color-block-02							{background-color: $red-dark;}
	.color-block-03							{background-color: $red-mid;}
	.color-block-04							{background-color: $red-light;}
	.color-block-05							{background-color: $red-lighter;}
										}

.blue-flat
										{
	.color-block-01							{background-color: $blue-darker;}
	.color-block-02							{background-color: $blue-dark;}
	.color-block-03							{background-color: $blue-mid;}
	.color-block-04							{background-color: $blue-light;}
	.color-block-05							{background-color: $blue-lighter;}
										}

.green-flat
										{
	.color-block-01							{background-color: $green-darker;}
	.color-block-02							{background-color: $green-dark;}
	.color-block-03							{background-color: $green-mid;}
	.color-block-04							{background-color: $green-light;}
	.color-block-05							{background-color: $green-lighter;}
										}

.yellow-flat
										{
	.color-block-01							{background-color: $yellow-darker;}
	.color-block-02							{background-color: $yellow-dark;}
	.color-block-03							{background-color: $yellow-mid;}
	.color-block-04							{background-color: $yellow-light;}
	.color-block-05							{background-color: $yellow-lighter;}
										}

.purple-flat
										{
	.color-block-01							{background-color: $purple-darker;}
	.color-block-02							{background-color: $purple-dark;}
	.color-block-03							{background-color: $purple-mid;}
	.color-block-04							{background-color: $purple-light;}
	.color-block-05							{background-color: $purple-lighter;}
										}

.orange-flat
										{
	.color-block-01							{background-color: $orange-darker;}
	.color-block-02							{background-color: $orange-dark;}
	.color-block-03							{background-color: $orange-mid;}
	.color-block-04							{background-color: $orange-light;}
	.color-block-05							{background-color: $orange-lighter;}
										}

.turquoise-flat
										{
	.color-block-01							{background-color: $turquoise-darker;}
	.color-block-02							{background-color: $turquoise-dark;}
	.color-block-03							{background-color: $turquoise-mid;}
	.color-block-04							{background-color: $turquoise-light;}
	.color-block-05							{background-color: $turquoise-lighter;}
										}


// CHROMA COLORS
.green-chroma
										{
	.color-block-01							{background-color: $green-chroma-darker;}
	.color-block-02							{background-color: $green-chroma-dark;}
	.color-block-03							{background-color: $green-chroma-mid;}
	.color-block-04							{background-color: $green-chroma-light;}
	.color-block-05							{background-color: $green-chroma-lighter;}
										}

.blue-chroma
										{
	.color-block-01							{background-color: $blue-chroma-darker;}
	.color-block-02							{background-color: $blue-chroma-dark;}
	.color-block-03							{background-color: $blue-chroma-mid;}
	.color-block-04							{background-color: $blue-chroma-light;}
	.color-block-05							{background-color: $blue-chroma-lighter;}
										}

.red-chroma
										{
	.color-block-01							{background-color: $red-chroma-darker;}
	.color-block-02							{background-color: $red-chroma-dark;}
	.color-block-03							{background-color: $red-chroma-mid;}
	.color-block-04							{background-color: $red-chroma-light;}
	.color-block-05							{background-color: $red-chroma-lighter;}
										}

.gray-chroma
										{
	.color-block-01							{background-color: $gray-chroma-darker;}
	.color-block-02							{background-color: $gray-chroma-dark;}
	.color-block-03							{background-color: $gray-chroma-mid;}
	.color-block-04							{background-color: $gray-chroma-light;}
	.color-block-05							{background-color: $gray-chroma-lighter;}
										}

.purple-chroma
										{
	.color-block-01							{background-color: $purple-chroma-darker;}
	.color-block-02							{background-color: $purple-chroma-dark;}
	.color-block-03							{background-color: $purple-chroma-mid;}
	.color-block-04							{background-color: $purple-chroma-light;}
	.color-block-05							{background-color: $purple-chroma-lighter;}
										}

.yellow-chroma							{
	.color-block-01							{background-color: $yellow-chroma-darker;}
	.color-block-02							{background-color: $yellow-chroma-dark;}
	.color-block-03							{background-color: $yellow-chroma-mid;}
	.color-block-04							{background-color: $yellow-chroma-light;}
	.color-block-05							{background-color: $yellow-chroma-lighter;}
										}

.orange-chroma							{
	.color-block-01							{background-color: $orange-chroma-darker;}
	.color-block-02							{background-color: $orange-chroma-dark;}
	.color-block-03							{background-color: $orange-chroma-mid;}
	.color-block-04							{background-color: $orange-chroma-light;}
	.color-block-05							{background-color: $orange-chroma-lighter;}
										}

.turquoise-chroma						{
	.color-block-01							{background-color: $turquoise-chroma-darker;}
	.color-block-02							{background-color: $turquoise-chroma-dark;}
	.color-block-03							{background-color: $turquoise-chroma-mid;}
	.color-block-04							{background-color: $turquoise-chroma-light;}
	.color-block-05							{background-color: $turquoise-chroma-lighter;}
										}


.colors									{
										border: 1px dotted #CCC;
										display: block;
										height: 40px;
										width: 100%;
										}

.mul-navbar-color						{@include background-gradient($gray-chroma-lighter, $gray-chroma-mid);}

// TABLE COLORS
.table-header-row						{background-color: $blue-lighter;}
.table-subheader-row					{background-color: #E8F0F7;}
.table-header-row-color					{background-color: $blue-lighter;}
.table-subheader-row-color				{background-color: #E8F0F7;}
.table-data-row-01						{background-color: $white;}
.table-data-row-02						{background-color: #F8F8F8;}
.table-subtotal-row						{background-color: $gray-lighter;}
.table-total-row						{background-color: #E6E6E6;}
.table-sorting-row-01					{background-color: #F8F8F8;}
.table-sorting-row-02					{background-color: $gray-lighter;}
.table-header-border					{background-color: #A9BCD3;}
.table-row-border						{background-color: $gray-light;}
.table-subheader-border					{background-color: #C3D2E5;}

// BUTTON COLORS
.btn-primary							{@include background-gradient($green-chroma-light, $green-chroma-dark);}
.btn-primary-active						{@include background-gradient($green-chroma-darker, $green-chroma-light);}
.btn-primary-hover						{@include background-gradient($green-chroma-light, $green-chroma-darker);}

.btn-default							{@include background-gradient($gray-chroma-lighter, $gray-chroma-dark);}
.btn-default-active						{@include background-gradient($gray-chroma-darker, $gray-chroma-lighter);}
.btn-default-hover						{@include background-gradient($gray-chroma-lighter, $gray-chroma-darker);}



/*--- PAGINATION PAGE -----------------------------------------------------------------------*/
.pagination-hdr							{
										margin-top: 5px;
										}

//=== MEDIA QUERIES ===========================================================================
@import	"responsive_small",
		"responsive_medium",
		"responsive_large"
		;