//-------------------------------------------------------------------------------------------
// Mercer UX/UI Libray - Core v1 - JQuery UI Slider Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// SLIDER SETUP
.ui-slider 						{
								position: relative;
								text-align: left;
								display: inline-block;
								width: 100%;
								
	// SLIDER HANDLE
	.ui-slider-handle				{
									@include border-radius(#{size(30)}em,all);
									@include background-gradient($uiSliderHandleBackgroundStartColor,$uiSliderHandleBackgroundEndColor);
									@include box-shadow(0,1px,3px,$uiSliderHandleShadowColor);
									border: $uiSliderHandleBorderSize $uiSliderHandleBorderStyle $uiSliderHandleBorderColor;
									position: absolute;
									top: #{size(-6.5)}em;
									z-index: 9997;
									width: #{size(15.6)}em;
									height: #{size(15.6)}em;
									margin-left: #{size(-3)}em;
									cursor: pointer;
									}
	.ui-state-focus					{
									border: $uiSliderHandleBorderSize $uiSliderHandleBorderStyle $uiSliderHandleBorderColor;
									@include background-gradient($uiSliderHandleFocusBackgroundStartColor,$uiSliderHandleFocusBackgroundEndColor);
									}
	.ui-state-hover					{
									border: $uiSliderHandleBorderSize $uiSliderHandleBorderStyle $uiSliderHandleBorderColor;
									@include background-gradient($uiSliderHandleHoverBackgroundStartColor,$uiSliderHandleHoverBackgroundEndColor);
									}
	.ui-state-active 				{
									border: $uiSliderHandleBorderSize $uiSliderHandleBorderStyle $uiSliderHandleBorderColor;
									@include background-gradient($uiSliderHandleActiveBackgroundStartColor,$uiSliderHandleActiveBackgroundEndColor);
									}
								}

// SLIDER BAR
.ui-slider-horizontal 			{
								@include border-radius(#{size($baseBorderRadius)}em,all);
								@include background-gradient($uiSliderBarBackgroundStartColor,$uiSliderBarBackgroundEndColor);
								border: $uiSliderBarBorderSize $uiSliderBarBorderStyle $uiSliderBarBorderColor;
								height: #{size(5)}em;
								}

//=== MEDIA QUERIES =========================================================================

// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
@media only screen and (min-width :  320px) and (max-width :  767px) {

	// SLIDER SETUP
	.ui-slider 					{
								
		// SLIDER HANDLE
		.ui-slider-handle			{
									width: #{size(20)}em;
									height: #{size(20)}em;
									top: #{size(-9)}em;
									}
								}

}