/*
Date: Mar 07 2011
Author - Doug Fraize
---------------------------------------------------------------*/

/*--- GLOBAL SETUP OF ELEMENTS --------------------------------*/
form										{position:relative;}
fieldset, input, select, textarea, label	{display:block;}
fieldset									{border:0;}
label										{clear:both;}
input, select								{
											border:2px solid #DEDED0;
											border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
											padding:2px;
											width:170px;
											}

select										{width:177px;} /* Make sure to add 7px from the input width value */
textarea									{width:auto; height:auto;}
input:hover,
select:hover								{border:2px solid #c4c4b4;}
legend										{
											padding:0;
											}
fieldset ol									{margin:0; padding:0; list-style-position:outside;}
fieldset ol li								{list-style-type:none; margin:0 0 10px 0;}

input[type="checkbox"],
input[type="radio"]							{border:0; display:inline; width:18px;}

/*--- INPUT ELEMENT SPACING -----------------------------------*/
.ui-form input								{margin-top:2px;}
.ui-form select								{margin-top:2px;}

/*--- RADIO AND CHECKBOX STYLES -------------------------------*/
.ui-form .chx-radio							{
											display:block;
											margin:0 0 10px 0;
											}

.ui-form .chx-radio #opt_in_text			{
											border:0;
											clear:both;
											display:inline;
											margin-right:3px;
											width:auto;
											}

.ui-form .chx-radio label					{
											font-weight:normal;
											position:relative;
											top:2px;
											}

/*--- DEFAULT LAYOUT FOR OPT IN EMAIL ---------------------------------------------*/
.ui-form .email-opt-in .email					{border:2px solid #DEDED0; vertical-align:-2px;}
.ui-form .email-opt-in .email:hover 			{border:2px solid #c4c4b4;}
.ui-form .email-opt-in .email-label				{font-weight:900;}
.ui-form .email-opt-in .email-optin-label		{margin-top:2px;}
.ui-form .email-opt-in .email-optin-label input	{margin-right:2px;}

/*--- DEFAULT ADDRESS FIELDSET LAYOUT ---------------------------------------------*/
.ui-form .city-zip-lyt .city-label				{margin-bottom:5px;}
.ui-form .city-zip-lyt .state-label,
.ui-form .city-zip-lyt .zip-label				{clear:none; display:block; float:left; width:auto !important;}
.ui-form .city-zip-lyt .state-label				{margin-right:10px;}
.ui-form .city-zip-lyt .state-label select		{width:auto;}

.ui-form .city-zip-lyt .zip						{width:50px;}

/*--- DEFAULT GRAD YEAR LAYOUT ---------------------------------------------------*/
.grad-year select								{display:inline; margin-right:10px; width:auto;}

/*--- INLINE FORM ELEMENTS -- Use the class on the form element, it will place the labels to the left of inputs */
.ui-form-inline label							{display:inline-block;}
.ui-form-inline input,
.ui-form-inline textarea,
.ui-form-inline select							{display:inline;}

.ui-form-inline .city-zip-lyt label				{
												clear:none;
												float:left;
												width:auto !important;
												margin-left:5px;
												margin-right:0 !important;
												}
.ui-form-inline .city-zip-lyt label:first-child	{margin-left:0;}
.ui-form-inline .city-zip-lyt input,
.ui-form-inline .city-zip-lyt select			{display:block;}

.inline-form label,
.inline-form input,
.inline-form select								{display:inline-block;}

/*----- FIELDHINT DISPLAY ------------------------------------------------------*/
.ui-help-text								{color:#666; font-style:italic; font-weight:500;}

/*--- ERROR, NOTICE, INFO & SUCCESS CONTAINERS -----------------------------------*/
.error-ctn, .alert-ctn,
.notice-ctn,
.success-ctn,
.info-ctn									{
											border:2px solid #DDDDDD;
											margin-bottom:1em;
											padding:0.8em;
											}

/*--- ERROR HANDLING -------------------------------------------------------------*/
.error-ctn, .alert-ctn						{
											background-color:#FBE3E4;
											border-color:#FBC2C4;
											color:#8A1F11;
											}
.error-ctn a, .alert-ctn a					{color:#8A1F11;}
.error-text									{
											color:#8A1F11;
											font-weight:normal;
											}

.ui-form .error,
.ui-form .error:hover, .error				{
											background-color:#FBE3E4;
											border-color:#FBC2C4;
											color:#333;
											}

/*--- NOTICE HANDLING ----------------------------------------------------------*/
.notice-ctn, .notice-ctn					{
											background-color:#FFF6BF;
											border-color:#FFD324;
											color:#514721;
											}
.notice-ctn a, .notice-ctn a				{color:#514721;}

/*--- INFO HANDLING -------------------------------------------------------------*/
.info-ctn, .info-ctn						{
											background-color:#D5EDF8;
											border-color:#92CAE4;
											color:#205791;
											}
.info-ctn a, .info-ctn a					{color:#205791;}

/*--- SUCCESS HANDLING ---------------------------------------------------------*/
.success-ctn, .success-ctn					{
											background-color:#E6EFC2;
											border-color:#C6D880;
											color:#264409;
											}
.success-ctn a, .success-ctn a				{color:#264409;}

/*--- CORE BUTTON SETUP --------------------------------------------------------*/
.ui-form-action								{
											margin:10px 0 0 0;
											-webkit-margin-top-collapse:separate;
											}
.ui-btn										{
											background-color:transparent;
											border-width:0;
											font-family:"Arial",helvetica,sans-serif;
											font-size:1em;
											margin:0 7px 0 -3px;
											padding:0;
											display:inline-block;
											overflow:visible; /* removes horz. padding of button tag in IE7 */
											cursor:pointer;
											text-decoration:none;
											}
.ui-btn-ctn									{
											background-color:#efefef;
											background-image:-moz-linear-gradient(top, #efefef, #cccccc); /* FF3.6 */
											background-image:-o-linear-gradient(top, #efefef, #cccccc); /* Opera 11.10+ */
											background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #cccccc)); /* Saf4+, Chrome */
											background-image:-webkit-linear-gradient(#efefef, #cccccc); /* Chrome 10+, Saf5.1+ */
											background-image:linear-gradient(top, #efefef, #cccccc);
											filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#cccccc'); /* IE6ÐIE9 */
											border: 1px solid #B4B4B4;
											border-radius:30px; 
											-moz-border-radius:30px; 
											-webkit-border-radius:30px;
											-o-border-radius:6px;
											box-shadow:0 1px 5px #CCC; 
											-moz-box-shadow:0 1px 5px #CCC; 
											-webkit-box-shadow:0 1px 5px #CCC; 
											-o-box-shadow:0 1px 5px #CCC;
											transition:box-shadow 0.15s ease-in-out 0s;
											-moz-transition:-moz-box-shadow 0.15s ease-in-out 0s;
											-webkit-transition:-webkit-box-shadow 0.15s ease-in-out 0s;
											-o-transition:-o-box-shadow 0.15s ease-in-out 0s;
											text-shadow:1px 1px 1px #FFF;
											color:#333;
											font-weight:900; 
											line-height:1em;
											text-align:center;
											white-space:nowrap;
											padding:.5em .75em;
											position:relative;
											min-width:75px;
											display:block;
											}
.ui-btn	.large,
.ui-btn	.x-large,
.ui-btn	.xx-large,
.ui-btn	.xxx-large							{font-family:"myriad-pro-1", "myriad-pro-2", "Myriad Pro", Arial, Helvetica, sans-serif; font-weight:700;}

.ui-btn	.x-small							{font-size:.75em; min-width:25px; font-weight:normal;}
.ui-btn	.small								{font-size:.9em; min-width:50px;}
.ui-btn	.medium								{font-size:1.1em; min-width:75px;}
.ui-btn	.large								{font-size:1.4em; min-width:100px;}
.ui-btn	.x-large							{font-size:1.7em; min-width:125px;}
.ui-btn	.xx-large							{font-size:2.0em; min-width:150px;}
.ui-btn	.xxx-large							{font-size:2.5em; min-width:175px;}

.ui-btn	.ui-btn-icn-left					{margin-right:.4em;}
.ui-btn	.ui-btn-icn-right					{margin-left:.4em;}

.ui-btn:link,
.ui-btn:visited								{
											margin:0 10px 0 0;
											color:#333;
											text-decoration:none;
											}
.ui-btn:hover .ui-btn-ctn					{
											background-color:#efefef;
											background-image:-moz-linear-gradient(top, #efefef, #bbbaba); /* FF3.6 */
											background-image:-o-linear-gradient(top, #efefef, #bbbaba); /* Opera 11.10+ */
											background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #bbbaba)); /* Saf4+, Chrome */
											background-image:-webkit-linear-gradient(#efefef, #bbbaba); /* Chrome 10+, Saf5.1+ */
											background-image:linear-gradient(top, #efefef, #bbbaba);
											filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#bbbaba'); /* IE6ÐIE9 */
											}
.ui-btn:active .ui-btn-ctn					{
											background-color:#bbbaba;
											background-image:-moz-linear-gradient(top, #bbbaba, #efefef); /* FF3.6 */
											background-image:-o-linear-gradient(top, #bbbaba, #efefef); /* Opera 11.10+ */
											background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #bbbaba),color-stop(1, #efefef)); /* Saf4+, Chrome */
											background-image:-webkit-linear-gradient(#bbbaba, #efefef); /* Chrome 10+, Saf5.1+ */
											background-image:linear-gradient(top, #bbbaba, #efefef);
											filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bbbaba', EndColorStr='#efefef'); /* IE6ÐIE9 */	
											box-shadow:0 0 0 #FFF;
											-moz-box-shadow:0 0 0 #FFF;
											-webkit-box-shadow:0 0 0 #FFF;
											-o-box-shadow:0 0 0 #FFF;
											transition:translate(0, 0);
											-moz-transition:translate(0, 0);
											-webkit-transition:translate(0, 0);
											-o-transition:translate(0, 0);
											text-shadow:-1px -1px 1px #FFF;
											}