/*
Date: Sep 01, 2009
Author - Doug Fraize
****************************************************************/
html				{min-height:100%; height:auto !important; height:100%;}

/*--- PAGE SETUP --------------------------------------------------------------------------*/
.page				{text-align:center;}
.page-container		{margin:0 auto; width:980px;}
.page-adjust		{}
/*- PAGE ADJUST NOTES:
*** THE FOLLOW SHOULD BE OVERRIDE IN PRODUCT SPECIFIC STYLESHEET
	If you need to have a layout with header and footer are 100% of the page with grid
	fixed just set the width of page adjust to 100% then use a fixed value in grid adjust.
	{width:980px;}
	{width:100%;}
-------------------------------------------------------------------------------------------*/

/*--- MASTHEAD & FOOTER SETUP -------------------------------------------------------------*/
.masthead, .footer	{position:relative; text-align:left;}
.masthead			{margin:0;}	/*USED TO MATCH INDENT OF THE GRID*/
.footer				{margin:0;}	/*USED TO MATCH INDENT OF THE GRID*/

/*--- CLASSES USED TO CONTROL GRID WIDTHS -------------------------------------------------*/
.grid				{margin:0; text-align:left;}
.grid-adjust		{}
.no-padding			{margin:0;}
/*- GRID ADJUST NOTES
*** THE FOLLOW SHOULD BE OVERRIDE IN PRODUCT SPECIFIC STYLESHEET
	If you need to the grid to be 100% of the page just leave grid adjust empty, if you
	need a fixed layout for grid then use the below:
	{margin:0 auto; width:960px;}
-------------------------------------------------------------------------------------------*/
.min-height			{min-height:550px; height:auto !important; height:550px;}

/*--- GLOBAL GRID COLUMN SETUP ------------------------------------------------------------*/
div.col-1, div.col-2, div.col-3, div.col-4, div.col-5, div.col-6, div.col-7, div.col-8,
div.col-9, div.col-10, div.col-11, div.col-12, div.col-13, div.col-14, div.col-15, div.col-16,
div.col-17, div.col-18, div.col-19, div.col-20, div.col-21, div.col-22, div.col-23, div.col-24
{float:left; margin-right:2.127%; min-height:20px; padding:0;}

/*--- CUSTOM GRID SETUP ------------------------------------------------------------------*/
.col-1				{width:2.128%;}
.col-2				{width:6.383%;}
.col-3				{width:10.640%;}
.col-4				{width:14.894%;}
.col-5				{width:19.149%;}
.col-6				{width:23.406%;}
.col-7				{width:27.660%;}
.col-8				{width:31.889%;}
.col-9				{width:36.172%;}
.col-10				{width:40.426%;}
.col-11				{width:44.681%;}
.col-12				{width:48.929%;}
.col-13				{width:53.193%;}
.col-14				{width:57.447%;}
.col-15				{width:61.701%;}
.col-16				{width:65.959%;}
.col-17				{width:70.213%;}
.col-18				{width:74.469%;}
.col-19				{width:78.725%;}
.col-20				{width:82.979%;}
.col-21				{width:87.235%;}
.col-22				{width:91.479%;}
.col-23				{width:95.745%;}
.col-24, div.col-24	{width:100.000%; margin:0;}

/*--- THE LAST COLUMN IN A ROW NEEDS TO HAVE THIS CLASS TO REMOVE THE EXTRA MARGIN CALL ---*/
.last, div.last		{margin-right:0;}

/*--- CLEARING FLOATS WITHOUT EXTRA MARKUP --------------------------------------*/
.clearfix:after, .grid:after	{content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clearfix, .grid				{display:block;}

/*--- APPLY TO COLUMN THAT SHOULD DROP DOWN BELOW PREVIOUS ONES ----------------*/
.clear							{clear:both;}

/*-- TESTING
.grid {outline:1px solid blue;}

div.col-1, div.col-2, div.col-3, div.col-4, div.col-5, div.col-6, div.col-7, div.col-8,
div.col-9, div.col-10, div.col-11, div.col-12, div.col-13, div.col-14, div.col-15, div.col-16,
div.col-17, div.col-18, div.col-19, div.col-20, div.col-21, div.col-22, div.col-23, div.col-24
{outline:1px solid red;}
---*/