/*
Date: May 28 2009
Author:Doug Fraize
----------------------------------------------------------------------------------------*/

/*====== TYPE.CSS ======*/

/*----- LIST ITEMS --------------------------------------------------------------------*/

ul								{
								*margin-left:1.25em; /* IE7 */
								}
ol								{
								*margin-left:1.9em; /* IE7 */
								}

/*====== GRID.CSS ======*/



/*====== FORM.CSS ======*/

/*--- GLOBAL SETUP OF ELEMENTS --------------------------------*/
legend							{
								*margin:0 0 0 -4px; /* IE7 */
								}
							
/*--- RADIO AND CHECKBOX STYLES -------------------------------*/
.ui-form .chx-radio input		{
								vertical-align/*\**/:-2px\9; /* IE7+8 */
								}
.ui-form .checkbox input		{
								vertical-align/*\**/:-2px\9; /* IE7+8 */
								}

.ui-form .chx-radio input:hover {
								border/*\**/:0\9; /* IE7+8 */
								}
								
/*--- DEFAULT LAYOUT FOR OPT IN EMAIL ---------------------------------------------*/
.ui-form .email-opt-in .email	{
								*vertical-align:-6px; /* IE7 */
								}
.ui-form .email-opt-in .email-optin-label input	{
								margin-right/*\**/:-1px\9; /* IE7+8 */
								}

/*--- CORE BUTTON SETUP ----------------------------------*/
.ui-btn							{
								margin/*\**/:0 10px 0 0\9; /* IE7+8 */
								}				
.ui-btn .ui-btn-ctn:active 		{
								filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bbbaba', EndColorStr='#efefef'); /* IE8 */	
								}
.ui-btn	.ui-btn-icn-left		{
								*margin-right:.75em;
								}
.ui-btn	.ui-btn-icn-right		{
								*margin-left:.75em;
								}

/*====== PAGE.CSS ======*/