/*
Date: Jul 16 2010
Author - Doug Fraize
---------------------------------------------------------------*/

/*--- COMMON DISPLAY TREATMENTS -------------------------------------------------------*/
.never							{display:none;} /*USED TO SET ANY ITEMS VISIBILITY TO NONE*/

/*--- ICON SPRITE  -------------------------------------------------------*/
.ui-icn-sprite					{
								display:inline-block;
								background:transparent url("/images/core/icon_sprite.png") no-repeat top left;
								} /* Icon sprite call and setup */

/*--- BASIC TABLE STYLES ------------------------------------------------------------------*/
table							{width:100%; border:1px dotted #CCC; border-collapse:collapse; border-spacing:0; color:#000; margin-bottom:0.923em;}
table caption					{padding:1px 0 5px 0; font-weight:900; text-align:left;}
table th						{background-color:#ccc; border-right:1px solid #FFF; padding:5px 4px; text-align:left;}
table th.last-child,
table th:last-child				{border-right:0;}
table td						{border:1px dotted #CCC; padding:3px 4px;}

table .even	td					{background-color:#fff;}
table .odd td					{background-color:#efefef;}

/*--- BASIC IMAGE STYLES ------------------------------------------------------------------*/
img.left						{float:left; margin:.35em 1.5em .923em 0;}
img.right						{float:right; margin:.35em 0 .923em 1.5em;}

/*--- HORIZONTAL NAVIGATION SETUP ---*/
.navbar							{padding:0; margin:0;}
.navbar dd						{display:inline; padding:0; margin:0 6px 0 0;}
.navbar dd a					{padding:0 8px 0 0; margin:0;}

.navbar.vertical dd				{display:block;}
.navbar.vertical dd .pipe		{display:none;}

/*--- BOX MODEL ---------------------------------------------------------------------------*/
.ui-box							{
								border:1px solid #CCC;
								position:relative;
								margin-bottom:15px;
								}
.ui-box .box-hdr,
.ui-box .box-bdy,
.ui-box .box-ftr				{overflow:hidden;}
.ui-box .box-hdr				{padding:10px;}
.ui-box .box-bdy				{padding:0 10px;}
.ui-box .box-ftr				{padding:0 10px 10px 10px;}
.ui-box .last					{margin-bottom:0;} /* this would be use if you are using the box footer */

.ui-box.ui-box-basic			{border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;}
.ui-box.ui-box-basic .box-ftr	{display:none;} /* by defualt the footer is turned off */

.ui-box.ui-box-shadow			{box-shadow:0px 0px 5px #CCC; -moz-box-shadow:0px 0px 5px #CCC; -webkit-box-shadow:0px 0px 5px #CCC;}

.ui-box.ui-theme-1 .box-hdr		{
								background-color:#EFEFEF;
								border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; -o-border-radius:6px 6px 0 0;
								padding:0; margin-bottom:10px;
								}
.ui-box.ui-theme-1 .box-hdr h6	{margin:8px 10px;}
.ui-box.ui-theme-1 .box-bdy		{padding-bottom:10px;}
