//-------------------------------------------------------------------------------------------
// Mercer UX/UI Libray - Core v1 - Core Form Partial
// DATE - July 3, 2013
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// GLOBAL FORM ELEMENTS
form											{margin: 0 0 $formMarginBottom 0;}
fieldset										{
												border: 0;
												padding: 0;
												margin: 0;
												}
label,
input,
select,
textarea										{
												font-size: $baseFontSize;
												line-height: $baseLineHeight;
												}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]								{
												@include border-radius($baseInputBorderRadius, all);
												@include box-shadow(inset 0, 1px, 1px, #EFEFEF);
												background-color: $baseInputBackgroundColor;
												border: $baseInputBorderSize solid $baseInputBorderColor;
												color: $baseInputColor;
												display: inline-block;
												height: auto;
												padding: $baseInputPadding;
												margin-bottom: $marginBottomFormElements;
												font-size: $baseFontSize;
												vertical-align: middle;
												width: 100%;
												}

select											{padding: 1px 2px 2px 2px;}

label,
.mul-data-label									{
												color: $labelFontColor;
												display: block;
												font-family: $proximaNovaSemiBoldStack;
												margin-bottom: $labelMarginBottom;
												}

input, textarea									{
												@include placeholder();
												}
input:focus,
select:focus,
textarea:focus
												{
												@include box-shadow(0, 0, #{size(10)}em, $inputFocusShadowColor);
												border-color: $inputFocusBorderColor;
												}

legend											{padding: 0;}
fieldset ol										{
												margin: 0;
												padding: 0;
												list-style-position: outside;
												}
fieldset ol li									{
												@include clearfix;
												list-style-type:none;
												padding: 0;
												margin-bottom: 0;
												}

input[type="hidden"]							{display:none;}
input[type="checkbox"],
input[type="radio"]								{
												border:0;
												display:inline;
												width:$baseCheckboxRadioWidth;
												}
												
input[type="text"]								{
	&:valid											{color:$inputValidTextColor;}
	&:invalid										{color:$inputInvalidTextColor;}
												}

// LEFT ALIGN LABLES
.mul-form-label-right							{
	label											{text-align: right;}
												}

// MUL FORM
.mul-form										{

	.mul-required									{
													background-image: url("../images/core/icons/asterisk-required.png");
													background-position: 0 0;
													background-repeat: no-repeat;
													padding-left: 12px;
													}

	// INLINE FORM ELEMENTS
	.mul-form-inline-element						{
													display:inline-block;
													width:auto;
													}

	// RADIO AND CHECKBOX STYLES
	.radio-label,
	.checkbox-label									{
													line-height: 20px;
													padding: 0;
													}

	.checkbox,
	.radio											{
													display: block;
													margin-bottom: $marginBottomFormElements;
		label											{
														font-family: $proximaNovaRegularStack;
														line-height: 20px;
														margin: 0 8px 0 0;
			input											{
															position: relative;
															top: 1px;
															}
														}

													}

	// DEFAULT LAYOUT FOR OPT IN EMAIL
	.email											{padding-bottom:#{size(4)}em;}
	.email-optin									{
		input[type="checkbox"]							{margin-right:#{size(3)}em;}
		label											{
														font-family: $proximaNovaRegularStack;
														line-height:1.25em;
														}
													}
	// DEFAULT ERROR HANDLING						
	.error-help-text								{
		.error-control									{margin-bottom: 0;}
		div.error-control								{background-color: transparent;}
		.error-text										{
														display:block;
														margin-bottom: 10px;
														}
													}
												}

// INLINE FORM
.mul-form-inline								{
	label											{
													display: inline-block;
													padding-bottom: 0;
													vertical-align: top;
													line-height: 28px;
													}

	.mul-required									{background-position: 0 5px;}

	input, select									{width: auto;}

	// DEFAULT ERROR HANDLING						
	.error-help-text								{
		.error-control									{margin-bottom: 0;}
													}
												}

// MUL FORM ACTION ROW
.mul-form-action								{
												margin:$formActionMargin 0 0 0;
												-webkit-margin-top-collapse:separate;
												}

// FORM ERROR HANDLING
.error-text										{
												font-family: $proximaNovaItalicStack;
												color: $inputInvalidTextColor !important;
												}

.error											{
	.error-label									{
													background-image: url("../images/core/icons/asterisk-error.png");
													color: $inputInvalidTextColor;
													padding-left: 12px;
													}
	.error-control									{
													background-color: $errorBackgroundColor;
													border-color: $errorBorderColor;
													color: $inputInvalidTextColor !important;
													}
												}


// FORM IE9 FIXES
.ie9											{
	input											{
													line-height:$baseFontSize;
													}
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]								{
													border-radius:$baseBorderRadiusIE !important;
													}
												}

//=== MEDIA QUERIES =========================================================================

// Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	.mul-form									{

		// DEFAULT ADDRESS FIELDSET LAYOUT
		.city-zip-lyt								{
			.state-label								{
														clear:both;
														margin:0;
														}
													}
												}

}