/*------------------------------------------------------------------------------------------
CORE v4 - UI Dialog Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize & Matthew Holmes
-------------------------------------------------------------------------------------------*/

.ui-dialog-ctn					{
								display:none;
								}

.ui-widget-overlay				{
								@include opacity(40);
								background-color:$uiDialogOverlayBackgroundColor;
								position:absolute;
								top:0;
								}

.ui-dialog						{
								@include box-shadow($uiDialogVShadow, $uiDialogHShadow, $uiDialogShadowBlur, $uiDialogShadowColor);
								@include border-radius(#{size($baseBorderRadius)}em, all);
								position:absolute;
								border:0;
	.ui-dialog-titlebar				{
									@include border-radius(#{size($baseBorderRadius)}em #{size($baseBorderRadius)}em 0 0, all);
									background-color:$uiDialogHdrBackgroundColor;
									border-bottom:$uiDialogHdrBorderBottomSize $uiDialogHdrBorderBottomStyle $uiDialogHdrBorderBottomColor;
									cursor:auto;
									padding:#{size($baseMargin)}em #{size(60)}em #{size($baseMargin)}em #{size($baseMargin)}em;
									position:relative;
		.ui-dialog-title				{
										font-family:$baseFontFamily;
										font-size:#{size($uiDialogHdrFontSize)}em;
										font-weight:$baseFontWeightBold;
										color:$uiDialogHdrFontColor;
										}
		.ui-dialog-titlebar-close		{
										position:absolute;
										top:17px;
										right:10px;
										text-transform:capitalize;
										}
									}
	.ui-dialog-content				{
									@include clearfix;
									@include border-radius(0 0 #{size($baseBorderRadius)}em #{size($baseBorderRadius)}em, all);
									padding:#{size($baseMargin)}em;
									background-color:$uiDialogContentBackgroundColor;
									border-top:$uiDialogContentBorderTopSize $uiDialogContentBorderTopStyle $uiDialogContentBorderTopColor;
									}
								}