/*------------------------------------------------------------------------------------------
CORE v4 - Core Form Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

/*=== GLOBAL FORM ELEMENTS ================================================================*/

form, legend, label								{color:$baseFontColor;}
input, select, button							{color:$baseInputColor; cursor:pointer;}

form											{position:relative;}
fieldset, input, select, textarea, label		{display:block;}
fieldset										{border:0;}
label											{
												clear:both;
												font-weight:$baseFontWeightBold;
												}
input, select, textarea							{
												@include border-radius(#{size($baseInputBorderRadius)}em, all);
												border:$inputBorderSize solid $baseInputBorderColor;
												padding:#{size($inputPadding)}em;
												height:auto;
												width:100%;
												}
input, textarea,
.fieldhint-color								{
												@include placeholder();
												color:$fieldhintColor;
												}
input:focus,
select:focus,
textarea:focus
												{
												@include box-shadow(0, 0, #{size(10)}em, $inputFocusShadowColor);
												border-color:$inputFocusBorderColor;
												}

legend											{
												padding:0;
												}
fieldset ol										{
												margin:0;
												padding:0;
												list-style-position:outside;
												}
fieldset ol li									{
												@include clearfix;
												list-style-type:none;
												padding:0 0 #{size($spacingBelowInputs)}em 0;
												}

input[type="hidden"]							{display:none;}
input[type="checkbox"],
input[type="radio"]								{
												border:0;
												display:inline;
												width:#{size($checkboxRadioWidth)}em;
												}
												
input[type="text"]								{
	&:valid											{color:$inputValidTextColor;}
	&:invalid										{color:$inputInvalidTextColor;}
												}
												
:invalid										{
												@include box-shadow(0, 0, 0, transparent);
												}
												
input#stInput,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="range"],
input[type="url"],
input[type="tel"],
input[type="week"],
input[type="datetime-local"],
input[type="color"],
textarea										{
												-webkit-appearance:none;
												}

/*=== UI FORM =============================================================================*/
.ui-form										{
	
	// INLINE FORM ELEMENTS
	.ui-form-inline-element							{
													display:inline-block;
													width:auto;
													}

	// INPUT ELEMENT SPACING
	input, select 									{
													margin-top:#{size($spacingAboveInputs)}em;
													}

	// RADIO AND CHECKBOX STYLES
	.chx-radio										{
													display:block;
		label											{
														font-weight:$baseFontWeight;
														position:relative;
														top:2px;
														}

													}

	// DEFAULT LAYOUT FOR OPT IN EMAIL
	.email											{
													padding-bottom:#{size(4)}em;
													}
	.email-optin									{
		input[type="checkbox"]							{
														margin-right:#{size(3)}em;
														}
		label											{
														font-weight:$baseFontWeight;
														line-height:1.25em;
														}
													}
												}

/*--- UI HELP TEXT -------------------------------------------------------------------------*/
.ui-help-text									{
												color:$uiHelpTextColor;
												font-style:italic;
												font-weight:$baseFontWeight;
												display:block;
												}

/*--- UI FORM ACTION ROW -------------------------------------------------------------------*/
.ui-form-action									{
												margin:#{size($uiFormActionMargin)}em 0;
												-webkit-margin-top-collapse:separate;
												}

/*--- FORM ERROR HANDLING ------------------------------------------------------------------*/
.error-text										{
												color:$errorFontColor;
												font-weight:$baseFontWeight;
												}

.error											{
												background-color:$errorBackgroundColor;
												border-color:$errorBorderColor;
												color:$inputInvalidTextColor !important;
												}

.ui-form										{
	.error,
	.error:hover									{
													@extend .error;
													}
												}

/*=== MESSAGING CONTAINERS =================================================================*/

/*--- GLOBAL MESSAGING ---------------------------------------------------------------------*/
.error-ctn,
.alert-ctn,
.notice-ctn,
.success-ctn,
.info-ctn										{
												@include border-radius(#{size($baseBorderRadius)}em, all);
												border-width:$msgBorderWidth;
												border-style:$msgBorderStyle;
												margin-bottom:#{size($baseMargin)}em;
												padding:#{size($baseMargin)}em;
												}

/*--- ERROR/ALERT MESSAGING ----------------------------------------------------------------*/
.error-ctn,
.alert-ctn										{
												background-color:$errorBackgroundColor;
												border-color:$errorBorderColor;
												color:$errorFontColor;
	a												{
													color:$errorFontColor;
													}
												}

/*--- NOTICE MESSAGING ---------------------------------------------------------------------*/
.notice-ctn										{
												background-color:$noticeBoxBackgroundColor;
												border-color:$noticeBoxBorderColor;
												color:$noticeBoxFontColor;
	a												{
													color:$noticeBoxFontColor;
													}
												}

/*--- INFO MESSAGING -----------------------------------------------------------------------*/
.info-ctn										{
												background-color:$infoBoxBackgroundColor;
												border-color:$infoBoxBorderColor;
												color:$infoBoxFontColor;
	a												{
													color:$infoBoxFontColor;
													}
												}

/*--- SUCCESS MESSAGING --------------------------------------------------------------------*/
.success-ctn									{
												background-color:$successBoxBackgroundColor;
												border-color:$successBoxBorderColor;
												color:$successBoxFontColor;
	a												{
													color:$successBoxFontColor;
													}
												}