/*------------------------------------------------------------------------------------------
CORE v4 - Core IE Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

/*===========================================================================================
IE CATCH ALL FIXES (IE8+)
===========================================================================================*/

.ie8,
.ie9						{

	/*=== _FORM.SCSS ==========================================================================*/

	/*--- UI FORM -----------------------------------------------------------------------------*/
	.ui-form					{

		// RADIO AND CHECKBOX STYLES
		.chx-radio					{
			input 						{
										vertical-align:#{size(-2)}em;
										}
									}

		.checkbox					{
			input 						{
										vertical-align:#{size(-2)}em;
										}
									}

		// DEFAULT LAYOUT FOR OPT IN EMAIL
		.email-optin				{
			input[type="checkbox"]		{
										vertical-align:#{size(-2)}em;
										}
									}
								}

							}

/*=========================================================================================== 
IE8 FIXES 
===========================================================================================*/

.ie8						{


/*=== _RESET.SCSS =========================================================================*/


/*=== _TYPE.SCSS ==========================================================================*/
	hgroup, h6, p, ul, ol, dl,
	dialog, blockquote, table, input,
	legend, abbr, sup, sub, fieldset,
	label, span, .error-ctn, .alert-ctn,
	.notice-ctn, .success-ctn, .info-ctn
								{
								font-family:$myriadFontStackIE8;
								}

/*=== _GRID.SCSS ==========================================================================*/
	.masthead-adjust,
	.footer-adjust,
	.grid						{
								width:81.60%; /* fix for IE8 which gets the max-width of 980px wrong. */
								}

/*=== _FORM.SCSS ==========================================================================*/


/*=== _PAGE.SCSS ==========================================================================*/


/*=== _UI_BOX.SCSS ========================================================================*/


/*=== _UI_BTN.SCSS ========================================================================*/
	.ui-btn.xxx-small,
	.ui-btn.xx-small,
	.ui-btn.x-small				{
								font-family:$myriadFontStackIE8;
								}

/*=== _UI_ACCORDIAN.SCSS ==================================================================*/


/*=== _UI_AUTOCOMPLETE.SCSS ===============================================================*/


/*=== _UI_CAROUSEL.SCSS ===================================================================*/
	.flex-direction-nav 		{
								display:none;
								}


/*=== _UI_DATEPICKER.SCSS =================================================================*/

	.ui-datepicker				{
								border-color:#999;
								}


/*=== _UI_DIALOG.SCSS =====================================================================*/


/*=== _UI_IPHONE_BUTTON.SCSS ==============================================================*/


/*=== _UI_SLIDER.SCSS =====================================================================*/


/*=== _UI_TABS.SCSS =======================================================================*/

.ui-tabs					{
	.ui-tabs-nav				{
		.ui-state-default			{
									top:0;
									}
								}
	.ui-tabs-panel				{
								font-family:$myriadFontStackIE8;
								}
							}

/*=== _UI_TOOLTIP.SCSS ====================================================================*/


							}


/*=========================================================================================== 
IE9 FIXES 
===========================================================================================*/

.ie9						{


/*=== _RESET.SCSS =========================================================================*/


/*=== _TYPE.SCSS ==========================================================================*/


/*=== _GRID.SCSS ==========================================================================*/


/*=== _FORM.SCSS ==========================================================================*/

/*--- MESSAGING CONTAINERS ----------------------------------------------------------------*/
	.error-ctn,
	.alert-ctn,
	.notice-ctn,
	.success-ctn,
	.info-ctn					{
								border-radius:$baseBorderRadiusIE;
								}

/*=== _PAGE.SCSS ===========================================================================*/

	/*--- MASTHEAD -----------------------------------------------------------------------------*/
	.masthead					{
		.masthead-adjust			{


				.mb-menu-btn			{
										@include ie-gradient-reset-filter;
										border-radius:$baseBorderRadiusIE;
										}

			/*--- MASTHEAD UTILITY NAV ---------------------------------------------------------*/
			.ui-masthead-util-nav		{
										border-radius:$baseBorderRadiusIE;
										box-shadow:none;
										}

			/*--- MASTHEAD MAIN NAV -------------------------------------------------------------*/
			.ui-masthead-nav			{
	    								width:100%;
	    								display:table;
	    								word-spacing:-1em;
				.first-child				{
					a							{
												border-radius:$baseBorderRadiusIE;
												}
											}
				.last-child					{
					a							{
												border-radius:$baseBorderRadiusIE;
												}
											}
				.ui-masthead-nav-more		{
					&:hover						{
						.ui-masthead-nav-more-menu	{
							.last-child					{
								a							{
															border-radius:$baseBorderRadiusIE;
															}
														}
													}
												}
											}
										}
									}
								}

	/*--- BACK TO TOP STYLES -------------------------------------------------------------------*/
	.ui-back-to-top				{
		a							{
									border-radius:$baseBorderRadiusIE !important;
									}
								}

/*=== _UI_BOX.SCSS ========================================================================*/
	.ui-box-rnd,
	.ui-box-rnd-adv,
	.ui-box-rnd-shadow,
	.ui-box-rnd-shadow-adv		{
								border-radius:$baseBorderRadiusIE;
		.box-hdr					{
									border-radius:$baseBorderRadiusIE;
									}
								}

/*=== _UI_BTN.SCSS ========================================================================*/
	.ui-btn						{
								border-radius:$baseBorderRadiusIE;
								}

	.ui-btn-grp-vert			{
		.ui-btn:first-child			{
									border-radius:$baseBorderRadiusIE;
									}
		.ui-btn:last-child			{
									border-radius:$baseBorderRadiusIE;
									}
								}
								
	.ui-btn-grp-horz			{
		.ui-btn:first-child			{
									border-radius:$baseBorderRadiusIE;
									}
		.ui-btn:last-child			{
									border-radius:$baseBorderRadiusIE;
									}
								}

/*=== _UI_ACCORDIAN.SCSS =================================================================*/
	.ui-accordion				{
		h5							{
			a							{
										border-radius:$baseBorderRadiusIE !important;
										}
									}
								}

/*=== _UI_AUTOCOMPLETE.SCSS ===============================================================*/
	.ui-menu					{
								border-radius:$baseBorderRadiusIE !important;
								}


/*=== _UI_CAROUSEL.SCSS ===================================================================*/



/*=== _UI_DATEPICKER.SCSS =================================================================*/
	.ui-datepicker				{
								border-radius:$baseBorderRadiusIE !important;
								}

/*=== _UI_DIALOG.SCSS =====================================================================*/
	.ui-dialog					{
								border-radius:$baseBorderRadiusIE !important;
		.ui-dialog-titlebar			{
									border-radius:$baseBorderRadiusIE !important;
									}
		.ui-dialog-content			{
									border-radius:$baseBorderRadiusIE !important;
									}
								}

/*=== _UI_IPHONE_BUTTON.SCSS ==============================================================*/


/*=== _UI_SLIDER.SCSS =====================================================================*/
	.ui-slider 					{
		.ui-slider-handle			{
									border-radius:$baseBorderRadiusIE;
									}
								}

/*=== _UI_TABS.SCSS =======================================================================*/
	.ui-tabs					{
		.ui-tabs-nav				{
			.ui-state-default			{
										border-radius:$baseBorderRadiusIE !important;
										}
									}
								}

/*=== _UI_TOOLTIP.SCSS ====================================================================*/
	.ui-tooltip-ctn				{
								border-radius:$baseBorderRadiusIE !important;
								}

							}