/*------------------------------------------------------------------------------------------
CORE v4 - Core Type Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

/*----- GLOBAL--------------------------------------------------------------------------*/

// Text selection color and background color
*							{
							@include type-selection($textSelectionTextColor,$textSelectionBackgroundColor);
							}

body						{
							color:$baseFontColor;
							font-family:$baseFontFamily;
							font-size:$baseFontSize;
							}

/*----- HEADERS ------------------------------------------------------------------------*/
h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5						{
							color:$hdrColor;
							font-weight:$baseFontWeightBold;
							margin:#{size(($baseLineHeight / 8))}em 0;
							text-rendering: optimizelegibility; // Fix the character spacing for headings
							}

h1, .h1						{font-size:#{size($hdrH1FontSize)}em;}
h2, .h2						{font-size:#{size($hdrH2FontSize)}em;}
h3, .h3						{font-size:#{size($hdrH3FontSize)}em;}
h4, .h4						{font-size:#{size($hdrH4FontSize)}em;}
h5, .h5						{font-size:#{size($hdrH5FontSize)}em;}

b, strong, th, thead,
dt, legend					{font-weight:$baseFontWeightBold;}

/*----- PARAGRAPH ---------------------------------------------------------------------*/
p							{
							line-height:#{size($baseLineHeight)}em;
							margin:0 0 #{size($baseMargin)}em 0;
							}
							
/*----- FOOTNOTES ---------------------------------------------------------------------*/
small						{font-size:#{size($smallFontSize)}em;}				
p small						{
							display:block;
							line-height:#{size($baseLineHeight)}em;
							}

/*----- LIST ITEMS --------------------------------------------------------------------*/
ul							{
							list-style:disc outside;
							margin-left:#{size(17)}em;
							}

ol							{
							list-style:decimal outside;
							margin-left:#{size(20.5)}em;
							}

ul, ol, dl, dialog			{margin-bottom:#{size($baseMargin)}em;}

ul li, ol li, dl dd			{
							line-height:#{size($baseLineHeight)}em;
							margin-bottom:#{size(7.5)}em;
							margin-top:0;
							}
							
ol ol, ul ul, ol ul, ul ol	{margin-top:#{size(9)}em;}

dt							{color:$dtFontColor;}
							
.lower-alpha				{list-style-type:lower-alpha;}
.upper-alpha				{list-style-type:upper-alpha;}							
.lower-roman				{list-style-type:lower-roman;}
.upper-roman				{list-style-type:upper-roman;}
.list-style-none			{list-style-type:none;}

/*----- BLOCKQUOTE ------------------------------------------------------------------*/
blockquote					{
							padding:0 #{size(20)}em #{size($baseMargin)}em #{size(20)}em;
	p							{
								margin:0;
								font-size:150%;
								line-height:#{size($baseLineHeight)}em;
								font-style:italic;
								}
	.author						{
								font-size:100%;
								text-align:right;
								font-weight:$baseFontWeightBold;
								font-style:normal;
								}
							}

/*----- TABLE -----------------------------------------------------------------------*/
table						{font:inherit;}

/*----- LINKS ----------------------------------------------------------------------*/
a							{
							
	&:link						{
								@include href-link($baseLinkColor);
								cursor:pointer;
								}
	&:visited					{
								color:$baseLinkVisitedColor;
								}
	&:hover,
	&:focus,
	&:active					{
								@include href-link-hover;
								}
							
							}

/*----- OTHER ELEMENTS -----------------------------------------------------------------------*/
abbr						{
							cursor:help;
							border-bottom:1px dotted $abbrBorderBottomColor;
							}
sup, sub					{font-size:#{size($smallFontSize)}em;}
sup							{vertical-align:#{size(4)}em;}
sub							{vertical-align:#{size(-5)}em;}
em							{font-style:italic;}

/*----- TEXT OVERFLOW ------------------------------------------------------------------------*/
.text-overflow				{
							@include text-overflow;
							}