//-------------------------------------------------------------------------------------------
// UI Guidelines - Responsive CSS - Phone - 320px-767px
// DATE - October 1, 2012
// AUTHOR - Doug Fraize
//-------------------------------------------------------------------------------------------

/*--- Portrait iPhone, landscape iPhone, portrait smart phones, Nook/Kindle/Kindle Fire ---*/
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	/*--- GLOBAL --------------------------------------------------------------------------*/
	.ui_guidelines						{
										position:relative;
										}
	.grid								{
										@include border-radius(0,all);
										margin-top:0;
										padding-top:#{size(10)}em;
										padding-bottom:#{size(10)}em;
										}
	.bookmark							{
										top:0;
										}
	.mb-divider							{display:block;}
	h1									{
										font-size:#{size(26)}em;
										margin-top:20px;
										}

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead							{
										position:static;
										height:98px;
		.masthead-adjust					{
			h1									{
												margin-bottom:0;
												font-size:#{size(10)}em;
				img									{height:140px;}
												}
											}

			.ui-navbar						{display:none;}
										}

	/*--- FOOTER ---------------------------------------------------------------------------*/
	.footer								{
		.footer-adjust						{
			.blank								{
												border-top:0 !important;
												border-bottom:0 !important;
												padding:0 !important;
												margin:0;
												height:0;
												}
			.tech-well							{
				dd									{
													width:50%;
													float:left;
													min-height:#{size(135)}em;
													}
												}
			.copyright							{
												padding:#{size(15)}em;
												}
											}
										}

	/*--- NAVBAR --------------------------------------------------------------------------*/
	.masthead							{
		.masthead-adjust					{
			.mb-menu-btn						{
												@include border-radius(6px,all);
												@include box-shadow(0,0,0,transparent);
												background-image:none;
												background-color:#EFEFEF;
												color:#000;
												text-shadow:0 -1px 1px #999;
												border:1px solid #999;
												margin-top:40px;
												}
											}
										}

	/*--- FOOTER -------------------------------------------------------------------------------*/
	.footer								{
		.footer-adjust						{
			.mb-link-list-vert					{
				dt									{
													border-top:1px solid #666;
													border-bottom:1px solid #333;
													background-color:#494949;
													color:#fff;
													text-shadow:0 1px -1px #000;
													}
				dd									{
													border-top:1px solid #ccc;
													border-bottom:1px solid #333;
													}
												}
			.ui-back-to-top-top-ctn				{
												border-top:1px solid #333;
												border-bottom:1px solid #333;
				.ui-back-to-top						{
					a									{
														@include background-gradient(#EEEEED, #BBBBBB);
														@include border-radius(#{size(6)}em,all);
														@include box-shadow(0, 0, 0, transparent);
														border:1px solid #777777;
														text-decoration:none;
														color:#333;
														text-shadow:0 1px 1px #fff;
						&:active							{
															@include background-gradient(#BBBBBB, #EEEEED);
															text-shadow:0 1px -1px #fff;
															}
														}
													}
												}
											}
										}
}
