//-------------------------------------------------------------------------------------------
// UI Guidelines - SASS Variables
// DATE - October 2, 2012
// AUTHOR - Doug Fraize
//-------------------------------------------------------------------------------------------

//=== STYLE VARS ============================================================================

// MASTHEAD MAIN NAV ITEMS
// ------------------------------------------------------------------------------------------
$nav-items:8;


//=== THEME VARS ============================================================================

// CORE OVERRIDES
$baseLinkColor:						#555;
$baseFontColor:						#241700;

$baseLinkColor:						#241700;

// WEBSITE SPRITE
/* Uncomment code below and insert website name where it indicates [website] below */
/* $websiteSpritePath:"/images/[website]/icon_sprite24.png"; */

// GLOBAL
$siteBackgroundImagePath:			"../images/wood_bck.png";
$siteBackgroundImage:				#{url($siteBackgroundImagePath)};

$gridSiteGutterPadding:				10;

// MASTHEAD
$navbarLinkColor:					#FFF;
$navbarLinkHoverColor:				#a4cd39;

// FOOTER
$footerBackgroundColor:				#a4cd39;
$footerMinHeight:					150;

//=== IE VARS ===============================================================================


