/*------------------------------------------------------------------------------------------
UI Guidelines - IE CSS
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/
/* Uncomment code below and insert website name where it indicates [website] below */
/* $websiteSpritePath:"/images/[website]/icon_sprite24.png"; */
/*------------------------------------------------------------------------------------------
CORE v4 - Core Mixin Partial
DATE - October 1, 2012
AUTHOR - Doug Fraize
--------------------------------------------------------------------------------------------*/
/*=== WEBSITE IE STYLES ===================================================================*/
/*===========================================================================================
IE CATCH ALL FIXES (IE8+)
===========================================================================================*/
/*--- GLOBAL ------------------------------------------------------------------------------*/
.grid {
  margin-top: 0;
  border-radius: 0; }

/*--- NAVBAR ------------------------------------------------------------------------------*/
.masthead {
  position: static; }

/*=========================================================================================== 
IE8 FIXES 
===========================================================================================*/
.ie8 {
  /*--- NAVBAR --------------------------------------------------------------------------*/ }
  .ie8 .masthead .masthead-adjust .ui-navbar dl dd a,
  .ie8 .masthead .masthead-adjust .ui-navbar dl dd a:link,
  .ie8 .masthead .masthead-adjust .ui-navbar dl dd a:active,
  .ie8 .masthead .masthead-adjust .ui-navbar dl dd a:hover {
    font-size: 18px; }
  .ie8 h1 {
    font-size: 32px; }
  .ie8 .signature_burgers h4 {
    font-size: 16px; }

/*=========================================================================================== 
IE9 FIXES 
===========================================================================================*/
.ie9 {
  /*--- NAVBAR --------------------------------------------------------------------------*/
  /*--- MASTHEAD DEMO -------------------------------------------------------------------*/ }
  .ie9 .masthead .ui-navbar ul li .sub-menu {
    border-radius: 0; }
  .ie9 .masthead .ui-navbar ul li:hover {
    border-radius: 0; }
  .ie9 .masthead-demo .masthead-adjust {
    /*--- MASTHEAD UTILITY NAV --------------------------------------------------------*/ }
    .ie9 .masthead-demo .masthead-adjust .ui-masthead-util-nav {
      border: 1px solid #666;
      border-top: 0; }
