/*------------------------------------------------------------------------------------------
UI Guidelines - Styles CSS
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

//=== SITE IMPORTS ==========================================================================
@import	"vars",
		"functions"
		;

//=== CORE v4 IMPORT ======================================================================
@import	"core_v4/partials/core",
		"core_v4/components/ui_carousel"
		;

/*=== WEBSITE STYLES ======================================================================*/
// div {outline:1px solid red;}
/*--- GLOBAL ------------------------------------------------------------------------------*/
body			{
				background:url($siteBackgroundImagePath) 0 0 repeat-x #000;
				}

.grid			{
				@include border-radius(#{size(8)}em #{size(8)}em 0 0, all);
				@include box-shadow(0, 0, #{size(15)}em, #666);
				background-color:#FFF;
				padding-top:#{size(10)}em;
				}

// SIDEBAR
.ui-sidebar		{
				color:#3E1B04;
				margin-top:#{size(55)}em;
	.box-hdr		{
		h6				{
						color:#3E1B04;
						font-size:#{size(22)}em;
						}
					}
	.box-bdy		{
		a				{
						@include href-link(#3E1B04, underline);
			&:hover			{@include href-link(#3E1B04, none);}
						}
					}
//	.box-ftr		{}
				}

// [class*="col-"]			{outline:1px solid red;}
/*--- NAVBAR -------------------------------------------------------------------------------*/
.masthead		{
				@include box-shadow(0, 0, 0, transparent);
				background-color:transparent;
				border:0;

	.masthead-adjust
					{
//					height:#{size($mastheadHeight)}em;

		.logo			{
						margin:0;

			a				{
							@include href-link(#FFF, none);
							display:block;
							float:left;
							margin-right:#{size(5)}em;
							text-shadow:2px 2px 2px #000;
				img				{margin:0;}
							
				span			{
								display:block;
								font-size:#{size(8)}em;
								margin:-11px 0 0 111px;
								font-style:italic;
								}
							}
			.logo-text		{
							margin-top:#{size(8)}em;
							}
						}
		.ui-navbar		{
						margin-top:#{size(50)}em;
						text-align:right;
			dl				{
				dd				{margin:0;}
							}
			a				{
							@include href-link($navbarLinkColor, none);
							font-size:#{size(28)}em;
							font-weight:bold;
							text-shadow:1px 1px 1px #000;
				&:hover			{
								color:$navbarLinkHoverColor;
								@include transition(color .15s ease-out);
								text-shadow:1px 1px 20px #241700;
								}
							}
						}

					}

	
				}
/*--- FOOTER -------------------------------------------------------------------------------*/
.footer			{
				@include box-shadow(0, 0, 0, transparent);
				@include border-radius(0, all);
				background:transparent;
				border:0;
	.footer-adjust	{
					@include border-radius(0 0 #{size(8)}em #{size(8)}em, all);
					background-color:$footerBackgroundColor;
					min-height:#{size($footerMinHeight)}em;
					padding-top:#{size(10)}em;
		a				{
						@include href-link(#000, none);
			&:hover			{
							@include href-link-hover(underline);
							}
						}
					}
				}

/*--- HOMEPAGE -----------------------------------------------------------------------------*/

/*--- SIGNATURE BURGERS --------------------------------------------------------------------*/
.sig-burgers	{
	.ctn			{min-height:#{size(320)}em;}
				}


//=== WEBSITE THEME IMPORT =====================================================================

/*--- HOMEPAGE -----------------------------------------------------------------------------*/





//=== MEDIA QUERIES ===========================================================================
@import	"core_v4/partials/responsive",
		"responsive_320",
		"responsive_768",
		"responsive_980";
