/*------------------------------------------------------------------------------------------
UI Guidelines - Styles CSS
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

//=== SITE IMPORTS ==========================================================================
@import	"vars",
		"functions"
		;

//=== CORE v4 IMPORT ======================================================================
@import	"core_v4/partials/core",
		"core_v4/components/ui_carousel"
		;

/*=== WEBSITE STYLES ======================================================================*/
// div {outline:1px solid red;}
/*--- GLOBAL ------------------------------------------------------------------------------*/
body			{background:url($siteBackgroundImagePath) 0 0 no-repeat;}
p				{text-shadow:1px 1px 1px #000;}

// SIDEBAR
.ui-sidebar		{
				color:#3E1B04;
	.box-hdr		{
		h6				{
						color:#3E1B04;
						font-size:#{size(22)}em;
						}
					}
	.box-bdy		{
		a				{
						@include href-link(#3E1B04, underline);
			&:hover			{@include href-link(#3E1B04, none);}
						}
					}
//	.box-ftr		{}
				}

/*--- NAVBAR -------------------------------------------------------------------------------*/
.masthead		{
				@include box-shadow(0, 0, 0, transparent);
				background-color:transparent;
				border:0;

	.masthead-adjust
					{
					height:#{size($mastheadHeight)}em;

		.logo			{
						margin:0;

			a				{
							@include href-link(#FFF, none);
							display:block;
							float:left;
							margin-right:#{size(5)}em;
							
				span			{
								display:block;
								font-size:#{size(8)}em;
								margin:-11px 0 0 111px;
								font-style:italic;
								}
							}
			.logo-text		{
							margin-top:#{size(8)}em;
							}
						}
		.ui-navbar		{
						margin-top:#{size(35)}em;
			a				{
							@include href-link($navbarLinkColor, none);
							text-shadow:-1px -1px 8px $navbarLinkShadowColor, 1px 1px 8px $navbarLinkShadowColor;
							font-size:#{size(30)}em;
							font-weight:bold;
				&:hover			{
								color:$navbarLinkHoverColor;
								text-shadow:0 0 0 transparent, 0 0 0 transparent;
								}
							}
						}

					}

	
				}
/*--- FOOTER -------------------------------------------------------------------------------*/
.footer			{
				@include box-shadow(0, 0, 0, transparent);
				@include border-radius(0, all);
				background-color:$footerBackgroundColor;
				border:0;
				border-top:20px solid $footerBorderTopColor;
				min-height:#{size($footerMinHeight)}em;
				}

/*--- HOMEPAGE -----------------------------------------------------------------------------*/



//=== WEBSITE THEME IMPORT =====================================================================

/*--- HOMEPAGE -----------------------------------------------------------------------------*/





//=== MEDIA QUERIES ===========================================================================
@import	"core_v4/partials/responsive",
		"responsive_320",
		"responsive_768",
		"responsive_980";
