
/*------------------------------------------------------------------------------------------
UI Guidelines - Styles CSS
DATE - October 1, 2012
AUTHOR - Doug Fraize
-------------------------------------------------------------------------------------------*/

//=== SITE IMPORTS ==========================================================================
@import	"vars",
		"functions"
		;

//=== CORE v4 IMPORT ======================================================================
@import	"core_v4/partials/core",
		"core_v4/components/ui_carousel"
		;

/*=== WEBSITE STYLES ======================================================================*/

/*--- GLOBAL ------------------------------------------------------------------------------*/
body			{
				background:url($siteBackgroundImagePath) 0 0 repeat-x #000;
				}

.grid			{
				@include border-radius(#{size(8)}em #{size(8)}em 0 0, all);
				@include box-shadow(0, 0, #{size(15)}em, #666);
				@include ie-gradient-reset-filter;
				@include background-gradient(#FFF, #DDD);
				background-color:#FFF;
				border:1px solid #000;
				padding-top:#{size(25)}em;
				padding-bottom:#{size(25)}em;
				}

h1				{
				color:#8bb223;
				text-shadow:1px 1px 1px #57740a;
				}

// SIDEBAR
.ui-sidebar		{
				@include background-gradient(#CCC, #FFF);
				color:#3E1B04;
				margin-top:#{size(68)}em;
				padding:0;
	.box-hdr		{
					border-bottom-color:#8bb128; 
					padding:0;
		h6				{
						@include border-radius(#{size(4)}em #{size(4)}em 0 0, all);
						@include background-gradient(#b7e341, #8bb223);
						color:#3E1B04;
						font-size:#{size(22)}em;
						padding:#{size(10)}em;
						}
					}
	.box-bdy		{
		a				{
						@include href-link(#3E1B04, underline);
			&:hover			{@include href-link(#3E1B04, none);}
						}
					}
				}

.mb-about-sidebar
				{display:none;}

	.mb-divider		{display:none;}


// [class*="col-"]			{outline:1px solid red;}
/*--- NAVBAR -------------------------------------------------------------------------------*/
.masthead		{
				@include box-shadow(0, 0, 0, transparent);
				background-color:transparent;
				border:0;

	.masthead-adjust
					{
					height:118px;
		h1				{
						margin:0;
						padding:0;
						position:absolute;
						top:-16px;
						left:5px;
						@include rotate(-8deg);
						max-height:200px;

			a				{
							@include href-link(#FFF, none);
							display:block;
							text-shadow:2px 2px 2px #000;
							}
						}
		.ui-navbar		{
						margin-top:#{size(92)}em;
						text-align:right;
			dl				{
				dd				{
								margin:0;
					a				{
									@include href-link($navbarLinkColor, none);
									font-size:#{size(25)}em;
									font-weight:bold;
									text-shadow:1px 1px 1px #000;
									border-left:1px solid #8bb223;
									padding:0 10px;
						&.first-child	{border-left:0;}
						&:hover			{
										color:$navbarLinkHoverColor;
										@include transition(color .15s ease-out);
										text-shadow:1px 1px 20px #241700;
										}
									}
								}
							}
						}
		.mb-menu-btn	{display:none;}
					}
				}

// NAVIGATION SELECTED
.signature_burgers
				{
	.masthead		{
		.masthead-adjust
						{
			.ui-navbar		{
				.burgers		{@include href-link($navbarLinkHoverColor, none);}
							}
						}
					}					
				}

.products
				{
	.masthead		{
		.masthead-adjust
						{
			.ui-navbar		{
				.products		{@include href-link($navbarLinkHoverColor, none);}
							}
						}
					}					
				}

.shop
				{
	.masthead		{
		.masthead-adjust
						{
			.ui-navbar		{
				.shop			{@include href-link($navbarLinkHoverColor, none);}
							}
						}
					}					
				}

.about,
.where_to_buy,
.why_grass_fed
				{
	.masthead		{
		.masthead-adjust
						{
			.ui-navbar		{
				.about			{@include href-link($navbarLinkHoverColor, none);}
							}
						}
					}					
				}

.contact
				{
	.masthead		{
		.masthead-adjust
						{
			.ui-navbar		{
				.contact		{@include href-link($navbarLinkHoverColor, none);}
							}
						}
					}					
				}

/*--- FOOTER -------------------------------------------------------------------------------*/
.footer			{
				@include box-shadow(0, 0, 0, transparent);
				@include border-radius(0, all);
				background:transparent;
				border:0;
	.footer-adjust	{
					@include border-radius(0 0 #{size(8)}em #{size(8)}em, all);
					background-color:$footerBackgroundColor;
					min-height:#{size($footerMinHeight)}em;
					padding-top:#{size(15)}em;
					padding-bottom:#{size(15)}em;
		a				{
						@include href-link(#000, none);
			&:hover			{
							@include href-link-hover(underline);
							}
						}
					}
				}

/*--- HOMEPAGE -----------------------------------------------------------------------------*/
// HOME BOX
.hp-ui-box		{
				@include box-shadow(0, 0, 10px, #666);
				position:relative;
				margin-top:68px;
	.benefits-button
					{
					position:absolute;
					width:70px;
					right:-30px; top:-30px;
					@include rotate(12deg);
					}
	.box-bdy		{
					border-top:0;
		img				{
						border:1px solid #CCC;
						padding:1px;
						}
					}
				}

// BLOCKQUOTE
blockquote		{
				padding:0;
	p				{font-size:100%;}
	.author			{font-size:90%;}
				}

// CAROUSEL
.flex-viewport
				{
				@include border-radius(#{size(6)}em, all);
				border:1px solid #8bb223;
				height:#{size(275)}em;
	img				{
					@include border-radius(#{size(6)}em, all);
					}
				}

/*--- SIGNATURE BURGERS --------------------------------------------------------------------*/
.sig-burgers	{
	.ctn			{
		img				{
						border:1px solid #666;
						height:#{size(250)}em;
						width:100%;
						overflow:hidden;
						padding:1px;
						}
					}
				}

/*--- OTHER PRODUCTS PAGE ------------------------------------------------------------------*/
.products		{
	.ctn			{
		img				{
						border:1px solid #666;
						overflow:hidden;
						height:#{size(115)}em;
						padding:1px;
						}
					}
				}


//=== MEDIA QUERIES ===========================================================================
@import	"core_v4/partials/responsive",
		"responsive_320";

