/*------------------------------------------------------------------------------------------
CORE v3 - UI Button Partial
DATE - September 20, 2011
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

/*=== CORE BUTTON SETUP ===================================================================*/

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:13; // 13px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}


//--- CORE BUTTON CONTAINER ------------------------------------------------------------------

.ui-btn-ctn										{
												@include background-gradient(#efefef, #cccccc);
												@include border-radius(.65em, all);
												@include box-shadow(0, #{size(1)}em, #{size(5)}em, #ccc);
												border:1px solid #B4B4B4;
												transition:box-shadow 0.15s ease-in-out 0s;
												-moz-transition:-moz-box-shadow 0.15s ease-in-out 0s;
												-webkit-transition:-webkit-box-shadow 0.15s ease-in-out 0s;
												-o-transition:-o-box-shadow 0.15s ease-in-out 0s;
												text-shadow:1px 1px 1px #FFF;
												color:#333;
												font-weight:900; 
												line-height:#{size(13)}em;
												text-align:center;
												white-space:nowrap;
												padding:#{size(6.5)}em #{size(9.75)}em;
												position:relative;
												display:block;
												}


//--- GLOBAL CORE BUTTON ----------------------------------------------------------------------

.ui-btn											{
												background-color:transparent;
												border-width:0;
												@include arial-font-stack;
												margin:0;
												padding:0;
												font-size:#{size(13)}em;
												display:inline-block;
												overflow:visible; /* Removes horz. padding of button tag in IE7 */
												cursor:pointer;
												text-decoration:none;

	// CORE BUTTON SIZE OPTIONS
	
	.x-small										{
													@extend .ui-btn-ctn;
													font-size:#{size(10)}em;
													min-width:2.564em;
													font-weight:normal;
													}
	.small											{
													@extend .ui-btn-ctn;
													font-size:#{size(12)}em;
													min-width:4.2735em;
													}
	.medium											{
													@extend .ui-btn-ctn;
													font-size:#{size(14)}em;
													min-width:5.25em;
													}
	.large											{
													@extend .ui-btn-ctn;
													@include myriad-font-stack;
													font-size:#{size(18)}em;
													min-width:5.5em;
													font-weight:700;
													}
	.x-large										{
													@extend .large;
													font-size:#{size(22)}em;
													min-width:5.66em;
													}
	.xx-large										{
													@extend .large;
													font-size:#{size(26)}em;
													min-width:5.77em;
													}
	.xxx-large										{
													@extend .large;
													font-size:#{size(33)}em;
													min-width:5.4em;
													}
	
	// CORE BUTTON LINK STATES
	
	&:link,
	&:visited										{
													color:#333;
													text-decoration:none;
													}
													
	&:hover .ui-btn-ctn								{
													@include background-gradient(#efefef, #bbbaba);
													}
													
	&:active .ui-btn-ctn							{
													@include background-gradient(#bbbaba, #efefef);
													@include box-shadow(0, 0, 0, transparent);
													transition:translate(0, 0);
													-moz-transition:translate(0, 0);
													-webkit-transition:translate(0, 0);
													-o-transition:translate(0, 0);
													text-shadow:-1px -1px 1px #FFF;
													}
													
	// CORE BUTTON ICON OPTIONS
	
	.ui-btn-icn-left								{margin-right:#{size(5.2)}em}
	.ui-btn-icn-right								{margin-left:#{size(5.2)}em;}
												}


//=== MEDIA QUERIES =========================================================================

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}