/*------------------------------------------------------------------------------------------
CORE v3 - UI Box Partial
DATE - September 20, 2011
AUTHOR - Doug Fraize & Matthew Holmes
------------------------------------------------------------------------------------------ */

//=== SASS VARS =============================================================================

//--- SIZE VARS -----------------------------------------------------------------------------
$context-size:13; // 13px

//--- SIZE FUNCTION -------------------------------------------------------------------------

// $target-size = size you want in pixels
// $context-size = base size in pixels
// $target-size/$context-size = size in ems

@function size($target-size) {
	@return $target-size/$context-size;
}

/*=== BOX BASE SETUP ======================================================================*/
.ui-box						{
							background-color:#FFF;
							position:relative;
							border-bottom:1px solid transparent;
							margin-bottom:#{size(15)}em;
							
							/* useful if you don't want a bg color from leaking outside the border: */
							-moz-background-clip:padding;
							-webkit-background-clip:padding-box;
							background-clip:padding-box;
							
							/* must clearfix the box to use grid cols inside ui-box */
							@include clearfix;
	.box-hdr					{
								background-color:#CCC;
								padding:#{size(15)}em;
								}
	.box-bdy					{padding:#{size(15)}em #{size(15)}em 0 #{size(15)}em;}
	.box-ftr					{
								display:none;
								padding:0 #{size(15)}em;
								}
	.last						{
								margin-bottom:0;
								}
								/* this would be use if you are using the box footer */
							}

/*--- BOX WITH ROUNDED CORNERS ---------------------------------------------------------------*/
.ui-box-rnd					{
							@extend .ui-box;
							@include border-radius(#{size(6)}em);
							padding:#{size(15)}em #{size(15)}em 0 #{size(15)}em;
							}

.ui-box-rnd-adv				{
							@extend .ui-box;
							@include border-radius(#{size(6)}em);

	.box-hdr					{
								@include border-radius(#{size(5)}em #{size(5)}em 0 0, all);
								}
							}

/*--- BOX WITH A DROP SHADOW -----------------------------------------------------------------*/
.ui-box-shadow				{
							@extend .ui-box;
							@include box-shadow(0, 0, #{size(5)}em, #CCC);
							padding:#{size(15)}em #{size(15)}em 0 #{size(15)}em;
							}

.ui-box-shadow-adv			{
							@extend .ui-box;
							@include box-shadow(0, 0, #{size(5)}em, #CCC);
							}

/*--- ROUNDED CORNER BOX WITH A DROP SHADOW ------------------------------------------------*/
.ui-box-rnd-shadow			{
							@extend .ui-box-rnd;
							@include box-shadow(0, 0, #{size(5)}em, #CCC);
							}

.ui-box-rnd-shadow-adv		{
							@extend .ui-box-rnd-adv;
							@include box-shadow(0, 0, #{size(5)}em, #CCC);
							}